---
import Layout from "../../../layouts/Layout.astro";
import GetQuoete from "../../../components/buttons/GetQuote.astro";
import Testimonials from "../../../components/Testimonials";
import ButtonScrollTop from "../../../components/buttons/ButtonScrollTop";
---
<link rel="canonical" href="https://cayadservices.com/for-individuals/military-auto-transport" />
<style>
  .custom-background {
    background:
      linear-gradient(hsla(250, 75%, 5%, 0.5), rgba(6, 3, 21, 0.5)),
      url("/img/mil.webp") center center no-repeat;
    background-size: cover;
  }
</style>


<Layout title="Military PCS Vehicle Shipping | Cayad Auto Transport" 
content="Cayad Auto Transport is the trusted choice for military car shipping during PCS or deployment. Fast, insured, and affordable. Call now!"
>
  <div class="container-fluid flex flex-col items-center justify-center custom-background h-[60vh]"
  >
    <div class="w-[80%]">
      <h1
        class="changing-text text-white text-6xl"
      >
        Car shipping military company
      </h1>
      <h2 class="text-white text-lg font-semibold">
        <a href="https://en.wikipedia.org/wiki/Permanent_change_of_station" class="text-btn-blue hover:underline">PCS</a> coming up? Let us ship your car anywhere in the U.S.
      </h2>
      <GetQuoete />
    </div>
  </div>

  <div class="w-full mt-12 flex justify-center mb-8">
    <Testimonials title="Trusted by Military Members Nationwide" client:load />
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] mt-8 xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div
        data-aos="fade-up"
        class="w-[50%] xs:w-full sm:w-full h-[100%] px-4 xs:p-0 sm:p-0 xs:mb-4 sm:
        mb-4"
      >
        <h2 class="text-3xl sm:text-4xl md:text-5xl font-semibold mb-4">
          How does military <a href="https://en.wikipedia.org/wiki/Permanent_change_of_station" class="text-btn-blue hover:underline">PCS</a> vehicle shipping work?
        </h2>
        <p class="mt-2 w-[80%] xs:w-[100%] sm:w-[100%]">
            If you're relocating under <a href="https://en.wikipedia.org/wiki/Permanent_change_of_station" class="text-btn-blue hover:underline">PCS</a> orders, the government covers one <strong>military shipping car</strong> a <strong>privately owned vehicle (POV)</strong> at no cost. Alternate ports require MTMC approval.
          <br><br>
          You're serving the country, let us serve you
        </p>
      </div>
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/military1.webp" width="612" height="408" class="rounded-xl" alt="car shipping from soldiers on his pcs"/>
      </div>
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/military2.webp" width="1200" height="834" class="rounded-xl" alt="militarty car transport arm with usa flag"/>
      </div>
      <div
        data-aos="fade-up"
        class="w-[50%] xs:w-full sm:w-full h-[100%] px-4 xs:p-0 sm:p-0 xs:mt-4 sm:mt-4"
      >
        <h2 class="text-3xl sm:text-4xl md:text-5xl font-semibold mb-4">
          Military Car Transport Is Covered
        </h2>
        <p class="mt-2 w-[80%] xs:w-[100%] sm:w-[100%]">
            Yes, if you're an active service member with <a href="https://en.wikipedia.org/wiki/Permanent_change_of_station" class="text-btn-blue hover:underline">PCS</a> orders, the military can cover the cost of shipping one <strong>privately owned vehicle (POV)</strong>. This benefit applies to authorized <strong>military car transport</strong> within the U.S.

        </p>
      </div>
    </div>
  </div>

  <div class="flex flex-col xs:flex-col sm:flex-col items-center h-max w-full">
    <div class="w-[80%] xs:w-[100%] sm:w-[100%] px-4">
      <div
        class="grid mt-4 grid-cols-2 xs:grid-cols-1 sm:grid-cols-1 w-full gap-6"
      >
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 p-4 xs:p-0 sm:p-0 hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.3s"
        >
          <h3 class="text-xl font-medium text-[#000000] mb-2">
              Easy Pickup and Delivery

          </h3>
          <p class="mb-2"  >
              Our drivers are at your orders for pickup and drop-off, making the process smooth and secure. Unlike other <strong>military car shipping companies</strong>, we keep it simple, fast, safe, and hassle-free.
          </p>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.5s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h3 class="text-xl font-medium text-[#000000] mb-2">
              Military discounts
            </h3>
            <p class="mb-2"  >
                We offer exclusive <strong>military auto transport</strong> discounts for active duty, veterans, Reserves, National Guard, and military families. It's our way of giving back to those who serve and protect.
            </p>
          </div>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.7s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h3 class="text-xl font-medium text-[#000000] mb-2">
              Additional baggage allowed
            </h3>
            <p class="mb-2"  >
                With our <strong>military car shipping</strong> service, you're allowed to pack one suitcase or box in your trunk at no extra cost, as long as it doesn’t interfere with safe transport.
            </p>
          </div>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.9s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h3 class="text-xl font-medium text-[#000000] mb-2">
              We understand military life
            </h3>
            <p class="mb-2"  >
              <a href="https://en.wikipedia.org/wiki/Permanent_change_of_station" class="text-btn-blue hover:underline">PCS</a> orders come fast, and so do the challenges. Unlike other <strong>military auto shipping companies</strong>, we make your vehicle transport simple, so you can focus on what matters.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full mt-4 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] mt-2 xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <div class="mt-2">
          <h2 class="text-3xl sm:text-4xl md:text-5xl font-semibold mb-4">
            No Carrier Assigned, No Payment Required
          </h2>
          <p class="text-base mt-8">
            Whether you're relocating <a href="/how-auto-transport-works/ship-car-across-country" class="text-btn-blue hover:underline">cross-country</a>
            or wondering <strong>does military ship your vehicle</strong>, we make the process simple, secure, and stress-free. Our team is here to support both civilians and service members every step of the way.
          </p>
        </div>
        <div class="mt-8">
          <h2 class="text-3xl sm:text-4xl md:text-5xl font-semibold mb-4">
              Trusted in Military <a href="https://en.wikipedia.org/wiki/Permanent_change_of_station" class="text-btn-blue hover:underline">PCS</a> Vehicle Shipping
          </h2>
          <p class="mb-2">
              <a href="https://en.wikipedia.org/wiki/Permanent_change_of_station" class="text-btn-blue hover:underline">PCS</a> moves can be challenging, especially when it comes to your car. That’s why we specialize in helping service members <strong>ship vehicle military</strong> with speed, care, and full transparency. Our mission is simple: deliver peace of mind with every relocation.
          </p>
        </div>
      </div>
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/usa-flag1.webp" width="626" height="626" class="rounded-xl" alt="military car shipping soldier saluting the flag"/>
      </div>
    </div>
  </div>

  <div class="w-full mt-12 mb-4 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/usa-flag.webp" width="894" height="894" class="rounded-xl" alt="car transport military with kid usa flag"/>
      </div>
      
          <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
      <h3 class="text-xl font-medium mt-4 text-[#000000] mb-2">
        Excellent Customer Service
      </h3>
      <p class="mb-2">
        We're here 365 days a year to guide you through every step and keep you updated at all times.
      </p>

      <h3 class="text-xl font-medium text-[#000000] mb-2">
        Trusted by Dealerships and Military
      </h3>
      <p class="mb-2">
        Leading dealerships rely on us, and we offer the same trusted service to military families.
      </p>

      <h3 class="text-xl font-medium text-[#000000] mb-2">
        Safe Military Car Shipping
      </h3>
      <p class="mb-2">
        Fully insured carriers plus extra cargo coverage make us the <strong>best car shipping company for military</strong> moves.
      </p>
    </div>


    </div>
  </div>

  <div
    class="w-full flex mb-4 flex-col items-center xs:min-w-[100%] xs:px-0 sm:min-w-[100%] sm:px-0 mx-auto overflow-hidden px-0"
  >
    <div
      class="w-[80%] xs:min-w-[100%] xs:px-4 sm:min-w-[100%] sm:px-4 py-0 px-0"
    >
      <h2 class="text-3xl sm:text-4xl md:text-5xl font-semibold mb-4">
        Your Best Ally in Military Car Shipping
      </h2>
      <div
        class="grid grid-cols-2 md:grid-cols-1 sm:grid-cols-1 xs:grid-cols-1 gap-10"
      >
        <div class="wow" data-aos="fade-up" data-aos-delay="100">
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="300">
            <img src="/img/dollar.webp" width="1080" height="1080" class="w-24 h-20 mb-2" alt="military car transport dollar logo"/>
            <div class="ml-4">
              <h5 class="font-semibold">Bets Prices</h5>
              <p class="xs:text-start sm:text-start mb-0">
                  We offer fair, transparent pricing for <strong>military car shipping</strong>. No hidden fees, just affordable rates tailored to your needs. Get the best value without compromising on service.
              </p>
            </div>
          </div>
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="300">
            <img src="/img/easy.webp" width="1080" height="1080" class="w-24 h-20 mb-2" alt="military car shipping easy logo"/>
            <div class="ml-4">
              <h5 class="font-semibold">Convenience</h5>
              <p class="xs:text-start sm:text-start mb-0">
                We make <strong>military car shipping</strong> simple and stress-free. From pickup to delivery, Cayad Auto Transport handles all with care. Our expert team ensures your vehicle arrives safely and on time.
              </p>
            </div>
          </div>
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="500">
            <img src="/img/call.webp" width="120" height="120" class="w-24 h-24 mb-2" alt="military shipping call logo"/>
            <div class="ml-4">
              <h5 class="font-semibold">Exceptional Assistance</h5>
              <p class="xs:text-start sm:text-start mb-0">
                  Our team understands the unique needs of <strong>military car shipping</strong>. We’re here to guide you every step of the way, from choosing the right option to keeping you informed throughout the journey.
              </p>
            </div>
          </div>
        </div>
        <div
          class="w-[95%] wow"
          data-aos="fade-right"
          data-aos-delay="100"
          style="min-height: 400px;"
        >
          <div class="h-full">
            <img
              src="/img/military2.webp"
              width="1200" height="834"
              class="object-cover rounded-xl w-full h-full"
              alt="auto military transport usa flag"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <ButtonScrollTop client:load />
</Layout>