---
import Layout from "../../../layouts/Layout.astro";
import GetQuoete from "../../../components/buttons/GetQuote.astro";
import Testimonials from "../../../components/Testimonials";
import GetQuote from "../../../components/buttons/GetQuote.astro";
import ButtonScrollTop from "../../../components/buttons/ButtonScrollTop";
import SecondFooter from "../../../components/SecondFooter.astro";
import { FaDotCircle } from "react-icons/fa";
import { IoMdArrowDropright } from "react-icons/io";
import { HiChevronRight } from "react-icons/hi";
---

<style>
  .custom-background {
    background:
      linear-gradient(hsla(250, 75%, 5%, 0.5), rgba(6, 3, 21, 0.5)),
      url("/img/how.webp") center center no-repeat;
    background-size: cover;
  }

  .content--left::after {
    content: url("../../../../public/icons/rigthArrow.svg");
    width: 100%;
    color: #e5e7eb;
    height: 99%;
    font-weight: 700;
    margin-left: 8px;
    position: absolute; /* Posicionamiento absoluto */
    transform: translateX(100%) translateY(46%);
  }

  .content--right::after {
    content: url("../../../../public/icons/leftArrow.svg");
    color: #e5e7eb;
    font-weight: 700;
    position: absolute; /* Posicionamiento absoluto */
    transform: translateX(-269%) translateY(35%);
  }

  @media (max-width: 767px) {
    .content--right::after {
      content: none;
    }

    .content--left::after {
      content: none;
    }
  }
</style>

<Layout
  title="Car Shipping History | Cayad Auto Transport"
  content="Click to see how Cayad Auto Transport has grown from an idea to the most cost effective car shipper in USA."
>
  <div
    class="container-fluid flex flex-col items-center justify-center custom-background h-[60vh]"
  >
    <div class="w-[80%]">
      <h1
        class="text-white text-[4rem] xs:text-[1.8rem] sm:text-[1.8rem] font-bold"
      >
        Cost Effective Car Shipping Service In U.S 
      </h1>
      <p class="text-white text-lg font-semibold">
        Car shipping innovation, Dependability, Exponential Growth & Success
      </p>
      <GetQuoete />
    </div>
  </div>

  <div class="w-full mt-12 flex justify-center mb-8">
    <Testimonials title="Our Customer Say" client:load />
  </div>

  <div
    class="w-[100%] xs:w-full sm:w-full xs:px-4 sm:px-4 flex flex-col mb-12 mx-auto"
  >
    <div class="w-full flex items-center justify-center">
      <h5 class="text-center w-[100px] p-2 rounded-full border-2">Effective</h5>
    </div>
    <div
      class="flex xs:flex-col sm:flex-col w-[80%] xs:w-full sm:w-full mx-auto mt-2 justify-between"
    >
      <div
        class="w-[70%] xs:w-full sm:w-full md:w-[90%] h-[200px] flex justify-center items-center p-4 relative border-4 content--left"
      >
        
        <div>
          <h4 class="text-3xl font-semibold">Five-Star, Top-Rated Service
          </h4>
          <p>Cayad Auto TRansport has established itself as one of the leading auto transport companies in the country. We proudly serve thousands of satisfied customers, including individuals and corporate clients in the moving and relocation, dealership, and auction sectors, all backed by our impressive 5-star review rating.</p>
        </div>
      </div>
      <div class="h-[200px] xs:hidden sm:hidden bg-btn-blue relative w-[4px]">
        <FaDotCircle
          className="text-btn-blue absolute top-[45%] left-[-6px] bg-white "
        />
      </div>
      <div
        class="w-[30%] xs:w-full sm:w-full md:w-[90%] xs:mt-4 sm:mt-4 h-[200px] md:h-max flex items-center p-4 relative border-4 content--right"
      >

        <img src="/public/img/review2.png" alt="car shipping 5 star review" class="w-24" />
      </div>
    </div>
  </div>

  <div
    class="w-[100%] xs:w-full sm:w-full xs:px-4 sm:px-4 flex flex-col mb-12 mx-auto"
  >
    <div class="w-full flex items-center justify-center">
      <h5 class="text-center w-[100px] p-2 rounded-full border-2">Consistence</h5>
    </div>
    <div
      class="flex xs:flex-col sm:flex-col w-[80%] xs:w-full sm:w-full mx-auto mt-2 justify-between"
    >
      <div
        class="w-[30%] xs:w-full sm:w-full md:w-[90%] h-[200px] flex justify-center items-center p-4 relative border-4 content--left"
      >
        <div class="mr-4">
          <img src="/public/img/bainw.png" alt="car transport web site" class="w-24" />
        </div>
        
      </div>
      <div class="h-[200px] xs:hidden sm:hidden bg-btn-blue relative w-[4px]">
        <FaDotCircle
          className="text-btn-blue absolute top-[45%] left-[-6px] bg-white "
        />
      </div>
      <div
        class="w-[70%] xs:w-full sm:w-full md:w-[90%] xs:mt-4 sm:mt-4 h-[200px] md:h-max flex items-center p-4 relative border-4 content--right"
      >
      <div>
        <h4 class="text-3xl w-full font-semibold">
          Better and intuitive new website
        </h4>
        <p class="text-sm mt-2">
          The company has launched its new website, featuring a modern design, a focus on customer needs, and a seamless user experience.
        </p>
      </div>

      </div>
    </div>
  </div>


</Layout>
