---
import Layout from "../../layouts/Layout.astro";
import ButtonScrollTop from "../../components/buttons/ButtonScrollTop";
import Testimonials from "../../components/Testimonials";
import GetQuote from "../../components/buttons/GetQuote.astro";
---
<link rel="canonical" href="https://cayadservices.com/payment-methods" />
<style>
  .custom-background {
    background:
      linear-gradient(hsla(250, 75%, 5%, 0.5), rgba(6, 3, 21, 0.5)),
      url("/img/payment.webp") center center no-repeat;
    background-size: cover;
  }
</style>

<Layout
  title="Payment Methods | Cayad Auto Transport"
  content="Experience seamless car transport across the U.S. with Cayad Auto Transport Business Solutions. Get a quote NOW!"
>
  <contaier
    class="container-fluid flex flex-col items-center justify-center custom-background h-[60vh]"
  >
    <div class="w-[80%]">
      <p
        class="text-white text-[4rem] xs:text-[1.8rem] sm:text-[1.8rem] font-bold"
        data-aos="fade-down"
      >
        Cayad additional payments methods.
      </p>
      <h1 class="text-white text-lg font-semibold">
        Experience seamless car transport across the U.S.
      </h1>
      <GetQuote />
    </div>
  </contaier>

  <container
    class="w-[80%] mt-8 xs:w-full xs:px-4 sm:w-full sm:px-4 flex flex-col mb-8 items-center mx-auto"
  >
    <div
      class="h-max w-1/2 xs:w-full sm:w-full md:w-[60%] border-2 border-btn-blue"
    >
      <div
        class="w-full grid grid-cols-2 justify-self-center xs:grid-cols-1 sm:grid-cols-1"
      >
        <div class="w-full h-max flex flex-col items-center p-2">
          <img
            alt="car shipping zelle account information"
            src="/img/zelle.webp"
            width="230"
            height="230"    
            style="width: 220px; height: 220px;"
          />
          <br />
          <p class="text-[#555555]">
            <p class="font-bold text-[#555555]">
              Zelle<br />
              Cayad Services LLC<br />
              sales@cayadservices.com
            </p>
          </p>
        </div>

        <div class="w-full h-max flex flex-col items-center p-2">
          <img
            alt="car shipping cashapp account information"
            src="/img/cashapp.webp"
            width="408"
            height="399"
            style="width: 220px; height: 215px;"
          />
          <br />
          <p class="text-[#555555]">
            <p class="font-bold text-[#555555]">
              Cashapp<br />
              #CayadServiceLLC<br />
              sales@cayadservices.com
            </p>
          </p>
        </div>

        <div class="w-full h-max flex flex-col items-center p-2">
          <img
            alt="car shipping paypal account information"
            class="CToWUd"
            data-bit="iit"
            width="250"
            height="250"
            src="/img/paypal.webp"
            style="border: 0px; outline: none; text-decoration: none; display: inline-block; width: 220px; height: 220px;"
          />
          <br />
          <p class="text-[#555555]">
            <p class="font-bold text-[#555555]">
              Paypal<br />
              Cayad Services LLC<br />
              sales@cayadservices.com
            </p>
          </p>
        </div>
        <div class="w-full flex flex-col items-center h-max p-2">
          <img
            alt="car shipping venmo account information"
            class="CToWUd"
            data-bit="iit"
            width="231"
            height="233"
            src="/img/venmo.webp"
            style="border: 0px; outline: none; text-decoration: none; display: inline-block; width: 220px; height: 220px;"
          />
          <br />
          <p class="text-[#555555]">
            <p class="font-bold text-[#555555]">
              Venmo<br />
              Cayad<br />
              sales@cayadservices.com
            </p>
          </p>
        </div>
      </div>
    </div>
  </container>
  <p
    class="text-center"
    style='line-height: 1.3em;  font-family: CircularPro-Medium, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; font-weight: 500; text-align: center; margin: 20px 0px; padding: 0px;'
  >
    No fee will be charged over Zelle and Cash App.
  </p>
  <div class="w-full mt-8 flex justify-center mb-8">
    <Testimonials title="Real Auto Transport Testimonials" client:load />
  </div>
  <ButtonScrollTop client:load />
</Layout>
