---
import Layout from "../../../layouts/Layout.astro";
import Testimonials from "../../../components/Testimonials";
import ButtonScrollTop from "../../../components/buttons/ButtonScrollTop";
import GetQuote from "../../../components/buttons/GetQuote.astro";
---
<link rel="canonical" href="https://cayadservices.com/for-individuals/door-to-door" />
<style>
  .custom-background {
    background:
      linear-gradient(hsla(250, 75%, 5%, 0.5), rgba(6, 3, 21, 0.5)),
      url("/img/open-car.webp") center center no-repeat;
    background-size: cover;
  }
</style>


<Layout title="Door To Door Auto Transport | Cayad Auto Transport"
content="Cayad Auto Transport offers the most cost-effective door-to-door car shipping service, Get a Quote now!">
  <div
    class="container-fluid flex flex-col items-center justify-center custom-background h-[60vh]"
  >
    <div class="w-[80%]">
      <p
        class="text-white text-[4rem] xs:text-[1.8rem] sm:text-[1.8rem] font-bold"
        data-aos="fade-down"
      >
        Door to door auto transport
      </p>
      <h1 class="text-white text-lg font-semibold">
        The most cost-effective door-to-door car shipping service in the U.S.
      </h1>
      <GetQuote />
    </div>
  </div>

  <div class="w-full mt-8 flex justify-center mb-8">
    <Testimonials
      position="center"
      title="Real Door-To-Door Auto Transport Experiences"
      client:load
    />
  </div>

  <div class="flex xs:flex-col sm:flex-col justify-center h-max w-full">
    <div
      data-aos="fade-up"
      class="w-[50%] xs:w-full sm:w-full h-[100%] px-4 xs:p-4 sm:p-4"
    >
    <h2 class="text-[2.5rem] xs:text-xl text-[#00000] font-semibold">
      What is Door-to-Door Car Shipping?
    </h2>
    <p class="mt-2 w-[80%] xs:w-[100%] sm:w-[100%]">
      With our <strong>door to door transport</strong> service, you pick the exact address for your vehicle’s pickup and drop-off. Our <strong>private auto transport</strong> experts handle every detail, ensuring your car is picked up, cared for, and delivered safely all the way to your door. Whether you need to <strong>deliver vehicle</strong> across town or across the country, Cayad makes the process smooth and worry-free.
    </p>
    </div>
    <div data-aos="fade-up" class="w-[40%] xs:w-full sm:w-full p-4">
      <img src="/img/home-car.webp" width="1280" height="720" class="rounded-xl" alt="door to door auto tyransport car in from of home"/>
    </div>
  </div>

  <div class="flex flex-col xs:flex-col sm:flex-col items-center h-max w-full">
    <div class="w-[90%] xs:w-[100%] sm:w-[100%] px-4">
      <h2
        data-aos="fade-up"
        class="text-[2.5rem] xs:text-xl text-[#00000] font-semibold"
      >
      Why You’ll Love Door-to-Door Auto Transport Services
      </h2>

      <div
        class="grid mt-8 grid-cols-2 xs:grid-cols-1 sm:grid-cols-1 w-full gap-6"
      >
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 p-4 xs:p-0 sm:p-0 hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.3s"
        >
          <h5 class="mb-2 py-4 text-xl text-[#00000] font-semibold">
            Make it easy
          </h5>
          <p class="py-4">
            Let the experts handle it! With our <strong>door-to-door car delivery</strong> service, your vehicle moves from point A to point B quickly, safely, and right to your doorstep. No hassle, no stress just a smooth, professional <strong>vehicle delivery service</strong> experience you can trust every step of the way.
          </p>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.5s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h5 class="mb-2 py-4 text-xl text-[#00000] font-semibold">
              Sit back and relax
            </h5>
            <p class="py-4">
              Let our specialists take care of it! With Cayad’s trusted <strong>vehicle delivery</strong> service, your car is picked up and delivered straight to your door fast, safe, and easy. Our professional <strong>car delivery services</strong> eliminate the stress, giving you complete peace of mind at every stage of the journey.
            </p>
          </div>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.7s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h5 class="mb-2 py-4 text-xl text-[#00000] font-semibold">
              Save time
            </h5>
            <p class="py-4">
              With terminal-to-terminal shipping, your car might sit for weeks before moving. But with Cayad’s trusted <strong>auto delivery services</strong>, our driver picks up and <strong>delivers your car</strong> directly to your door, efficiently, quickly, and hassle-free!
            </p>
          </div>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.9s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h5 class="mb-2 text-xl py-4 text-[#00000] font-semibold">
              Licensed and Bonded
            </h5>
            <p class="py-4">
              At Cayad Auto Transport, we work only with fully licensed, bonded carriers always maintaining proper insurance coverage. From pickup to delivery, we manage every step of your <strong>car delivery service</strong>, so you can relax knowing your vehicle will arrive safely and securely at your door.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-full flex mb-8 flex-col items-center xs:min-w-[100%] xs:px-0 sm:min-w-[100%] sm:px-0 mx-auto overflow-hidden px-0"
  >
    <div
      class="w-[90%] xs:min-w-[100%] xs:px-4 sm:min-w-[100%] sm:px-4 py-10 px-0"
    >
      <h2 class="text-4xl text-[#00000] font-medium mb-10">
        Why Choose Cayad for Reliable Door-to-Door Auto Transport?
      </h2>
      <div
        class="grid grid-cols-2 md:grid-cols-1 sm:grid-cols-1 xs:grid-cols-1 gap-10"
      >
        <div class="wow" data-aos="fade-up" data-aos-delay="100">
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="300">
            <img src="/img/dollar.webp" width="1080" height="1080" class="w-24 h-20 mb-2" alt="door to door car shipping dollar logo"/>
            <div class="ml-4">
              <h5 class="font-semibold">No upfront payment</h5>
              <p class="xs:text-start sm:text-start mb-0">
                That’s right <strong>$0 upfront!</strong> With <strong>door-to-door auto transport services</strong> from Cayad, you only pay once a carrier is assigned to your shipment. No hidden fees, no surprises. Book your <strong>vehicle delivery service</strong> today and enjoy smooth, secure <strong>private auto transport</strong> without the stress of early payments.
              </p>
            </div>
          </div>
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="300">
            <img src="/img/countries.webp" width="1080" height="1080" class="w-24 h-20 mb-2" alt="door to door auto transport countries logo"/>
            <div class="ml-4">
              <h5 class="font-semibold">Best price</h5>
              <p class="xs:text-start sm:text-start mb-0">
                At Cayad, we specialize in high-quality <strong>door-to-door auto transport</strong> and work hard to deliver your car at the <strong>best price</strong> available. Our experienced team evaluates every factor distance, vehicle type, and timing to provide you with the most accurate <strong>door-to-door transportation cost</strong> upfront. Smooth, simple, and reliable just the way it should be.
              </p>
            </div>
          </div>
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="500">
            <img src="/img/easy.webp" width="1080" height="1080" class="w-24 h-24 mb-2" alt="door to door car transport easy logo"/>
            <div class="ml-4">
              <h5 class="font-semibold">
                Multi-vehicle, Door to door auto transport
              </h5>
              <p class="xs:text-start sm:text-start mb-0">
                Families moving across the country can rely on our <strong>multi-vehicle door-to-door transportation services</strong>. You won't need to worry, every car will be picked up and delivered together, safely and on time. Trust Cayad to make your <strong>vehicle delivery</strong> simple, coordinated, and stress-free.
              </p>
            </div>
          </div>
        </div>
        <div
          class="w-[95%] wow"
          data-aos="fade-right"
          data-aos-delay="100"
          style="min-height: 400px;"
        >
          <div class="h-full">
            <img
              src="/img/door.webp"
              width="2000" height="918"
              class="object-cover rounded-xl w-full h-full"
              alt="door to door car shipping flatbed"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <ButtonScrollTop client:load />
</Layout>