---

---

<style>
  a.btn-slide {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 0;
  }

  a.btn-slide i,
  a.btn-slide span {
    position: relative;
    height: 40px;
    padding: 0 15px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
    background: #00a1ef;
    border-radius: 0 35px 35px 0;
    transition: 0.5s;
    z-index: 2;
  }

  div.btn-slide span a i {
    padding: 0 10px;
  }

  div.btn-slide span a:hover i {
    background: #00a1ef;
  }

  a.btn-slide span,
  a.btn-slide span,
  div.btn-slide span {
    padding-left: 0;
    left: -100%;
    z-index: 1;
  }

  .service-item:hover a.btn-slide i {
    border-radius: 0;
  }

  .service-item:hover a.btn-slide span {
    left: 0;
  }

  .service-item a.btn-slide:hover i,
  .service-item a.btn-slide:hover span {
    background: #00a1ef;
  }
</style>

<div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="1s">
  <div class="service-item p-4">
    <div class="overflow-hidden mb-4">
      <img
        class="img-fluid"
        src="../img/classic-carx360.webp"
        srcset="/img/classic-carx360-xs.webp 480w"
        alt=""
      />
    </div>
    <h4 class="mb-3">Car Collectors</h4>
    <p>
      Classic car transport and exotic car transport from Cayad Auto Transport
    </p>
    <a class="btn-slide mt-2" href="classic-cars-auto-transport/"
      ><i class="fa fa-arrow-right"></i><span>Read More</span></a
    >
  </div>
</div>
