---
import Layout from "../../../layouts/Layout.astro";
import GetQuote from "../../../components/buttons/GetQuote.astro";
import Testimonials from "../../../components/Testimonials";
import ButtonScrollTop from "../../../components/buttons/ButtonScrollTop";
---

<style>
  .custom-background {
    background:
      linear-gradient(hsla(250, 75%, 5%, 0.5), rgba(6, 3, 21, 0.5)),
      url("/img/csc.webp") center center no-repeat;
    background-size: cover;
  }
</style>

<Layout
  title="Car Shipping Cost | Cayad Auto Transport"
  content="how much is car shipping? get the best prices with Cayad Auto Transport, contact us now!"
>
  <container
    class="container-fluid flex flex-col items-center justify-center custom-background h-[60vh]"
  >
    <div class="w-[80%]">
      <h2
        class="text-white text-[4rem] xs:text-[1.8rem] sm:text-[1.8rem] font-bold"
      >
        Car Shipping Cost
      </h2>
      <h1 class="text-white text-lg font-semibold">
        Find your car shipping cost in seconds with Cayad Auto Transport.
      </h1>
      <GetQuote />
    </div>
  </container>

  <div class="w-full h-max mt-12 flex justify-center mb-8">
    <Testimonials
      title="Read what others customer say about their experience with Cayad"
      client:load
    />
  </div>
  <container
    class="w-[80%] flex items-center justify-between xs:flex-col sm:flex-col xs:w-full sm:w-full xs:px-4 sm:px-4 mx-auto"
  >
    <div class="w-[45%] xs:w-full sm:w-full F">
      <h2 class="text-4xl w-full font-semibold">
        How much does car shipping cost?
      </h2>
      <p class="text-base mt-2 w-full">
        Car shipping costs in 2024, specifically for open car shipping, are
        estimated around $1.85/mile for short distances (1-500 miles) or $555
        for a 300-mile trip. Medium distances average about $.91/mile (500-1500
        miles) or $910 for 1000 miles. Long distances (1500+ miles) are about
        $.59/mile or $1,180 for a 2000-mile trip. It’s important to note that
        car shipping costs may vary and the rates for enclosed car shipping will
        be higher.
      </p>

      <p class="text-base mt-2 w-full">
        When it comes to shipping your vehicle, there are several factors that
        come into play when determining the cost. Everything from the type of
        vehicle you’re shipping to the type of shipping method you choose will
        affect the price.
      </p>

      <p class="text-base mt-2 w-full">
        To get a clear idea of what your final cost will be, we recommend using
        our free instant quote calculator for an estimate. You can also speak
        with a Cayad representative via live chat or at (469) 619-0747 to
        discuss your shipment and request a quote. This will give you the most
        accurate estimate possible, taking into account factors such as the
        distance of the shipment, seasonal demand, any additional services
        required and current market rates.
      </p>
    </div>

    <div class="w-[45%] xs:w-full sm:w-full">
      <h4 class="text-xl font-semibold">Average car shipping cost per mile</h4>
      <table class="mt-2 w-full border-slate-400">
        <thead>
          <tr>
            <th class="border border-slate-300 p-4">Distance </th>
            <th class="border border-slate-300 p-4">Open transport </th>
            <th class="border border-slate-300 p-4">Enclosed transport </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border border-slate-300 p-4">1-500 miles </td>
            <td class="border border-slate-300 p-4">$1.85/mile </td>
            <td class="border border-slate-300 p-4">$2.53/mile</td>
          </tr>
          <tr>
            <td class="border border-slate-300 p-4">501-1,500 miles</td>
            <td class="border border-slate-300 p-4">$.91/mile </td>
            <td class="border border-slate-300 p-4">$1.25/mile </td>
          </tr>
          <tr>
            <td class="border border-slate-300 p-4">1,500+ miles</td>
            <td class="border border-slate-300 p-4">$.59/mile </td>
            <td class="border border-slate-300 p-4">$.84/mile </td>
          </tr>
        </tbody>
      </table>
    </div>
  </container>

  <div class="w-full mt-16 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/wict.webp" class="rounded-xl" alt="enclosed car transport "/>
      </div>
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h2 class="text-[#19171fd2] text-[1.5rem] font-bold">
          What is car transport?
        </h2>
        <p class="text-base mt-4">
          Car transport or car shipping, is a service that moves cars from one
          destination to another. The best car transport involves licensed
          professionals with the right experience and equipment to safely move
          your vehicle. The type of transport you choose will affect your car
          shipping cost. You can ship via open transport (more cost effective)
          or enclosed transport (more protection). Typically, enclosed auto
          transport will cost 10-40% more than open transport. Open transport is
          the most common type of transport, used by most customers, including
          car dealerships. Enclosed transport is the preferred method for anyone
          shipping luxury, exotic or collector vehicles that want added
          protection.
        </p>
      </div>
    </div>

    <div class="w-full mt-12 mb-12 flex flex-col items-center">
      <div
        class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
      >
        <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
          <div class="mt-8">
            <h3 class="text-[1.5rem] font-bold">
              How to get a car transport quote
            </h3>
            <p class="text-base mt-4">
              Car transport quotes can be calculated a few different ways. You
              can get an accurate estimate of your car shipping by using our
              instant quote calculator or speaking with a Cayad representative
              via live chat. When discussing your shipment be sure to mention
              any special requirements you may have, as these could affect the
              price. Some examples of special requirements include expedited
              pickup, vehicle modifications or inoperable vehicles.
            </p>
            <p class="text-base mt-4">
              In order to get the most accurate and up-to-date car shipping
              quote, it’s important to know and have the following information
              available:
            </p>

            <ol class="list-decimal px-4 mt-4">
              <li>
                Vehicle pickup and delivery destinations (zip codes are
                preferred for increased quoting accuracy)
              </li>
              <li>Car transport preference (open or enclosed trailer)</li>
              <li>
                Vehicle year, make and model (ensures availability of required
                transport trailer size)
              </li>
              <li>
                Operational status (can be driven forward and in reverse, with
                basic steering for truck loading and unloading)
              </li>
              <li>Earliest available pickup date</li>
            </ol>
          </div>
        </div>
        <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
          <img src="/img/htgactc.webp" class="rounded-xl" alt="car shipping paperwork"/>
        </div>
      </div>
    </div>

    <div
      class="w-[80%] mt-12 xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/atiov.webp" class="rounded-xl" alt="car transport highway"/>
      </div>
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h3
          class="text-4xl w-[80%] xs:w-full sm:w-full xs:px-4 sm:px-4 font-semibold"
        >
          Auto transport industry overview
        </h3>
        <div class="mt-8">
          <p class="text-base mt-4">
            There are three types of companies you might work with to ship your
            vehicle: lead providers, carriers and brokers.
          </p>
          <p class="text-base mt-4">
            In exchange for providing your contact information, lead providers
            supply vehicle owners with a list of “leads” or potential carriers,
            based on the owner’s search criteria. The owner is responsible from
            there to further research or contact the carriers on the list to
            determine the best option for their needs and budget. Lead providers
            will typically share your contact information with their network, so
            you will likely receive phone calls and emails from the various
            transport companies.
          </p>
          <p class="text-base mt-4">
            Carriers employ the truckers who do the actual transportation of
            your car, picking it up and dropping it off at the designated
            locations. You can work directly with a carrier company—from
            requesting a quote for shipment, to working out details, to the
            actual transport—but without some industry knowledge it can be hard
            to identify the best carrier for your unique vehicle shipment. This
            is why you might choose to work with an auto transport broker.
            Brokers work as the middle man between vehicle owners and a network
            of carriers, finding the best-suited solution for the highest value.
          </p>
        </div>
      </div>
    </div>

    <div
      class="w-[80%] mt-12 xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h3
          class="text-4xl w-[80%] xs:w-full sm:w-full xs:px-4 sm:px-4 font-semibold"
        >
          Calculating car shipping costs
        </h3>
        <div class="mt-8">
          <p class="text-base mt-4">
            Auto transport quotes and car shipment rates are calculated using
            unique considerations for each customer. Your car shipping estimate
            will be based on several different transport factors. This includes,
            but isn’t limited to: trip distance, car size (sedan, pickup truck,
            SUV, etc.), vehicle condition (operable or inoperable), transport
            type (open or enclosed), location (i.e. rural or urban) and the time
            of year you ship. Cayad’s instant quote calculator lets you enter
            all the details about your vehicle, allowing us to generate the most
            accurate and cost-optimized price—without hidden fees.
          </p>
        </div>
      </div>

      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/ccsc.webp" class="rounded-xl" alt="car shipping hauler toy"/>
      </div>
    </div>
  </div>

  <container
    class="w-[100%] h-max py-8 mt-12 bg-[#e2e6ec] flex flex-col items-center xs:w-full sm:w-full xs:px-4 sm:px-4 mx-auto"
  >
    <section class="w-[80%] xs:w-full sm:w-full">
      <h2 class="text-4xl w-full font-semibold">
        How to use the Cayad car shipping cost calculator
      </h2>
      <p class="text-base mt-4 w-full">
        Our free instant quote calculator provides accurate car shipping costs
        for your vehicle shipment in just a few clicks. Complete the steps below
        and instantly receive your quote, no credit card or upfront payment is
        required. Provide as much detail about your vehicle and shipping needs
        for the most accurate estimate.
      </p>
      <section class="w-full flex xs:flex-col sm:flex-col items-start">
        <div class="w-[45%] xs:w-full sm:w-full mt-12 flex flex-col">
          <h2 class="text-4xl w-full font-semibold">
            The car transport process
          </h2>
          <div>
            <div class="flex mt-4">
              <div class="rounded-[50%]">
                <svg
                  class="icon-Cayad"
                  width="65"
                  height="58"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="25 25 150 150"
                >
                  <defs>
                    <style>
                      .book-order-cls-1 {
                        fill: #00a1ef;
                      }

                      .book-order-cls-2,
                      .book-order-cls-4 {
                        fill: #fff;
                      }

                      .book-order-cls-3 {
                        fill: none;
                      }

                      .book-order-cls-3,
                      .book-order-cls-4 {
                        stroke: #fff;
                        stroke-miterlimit: 10;
                        stroke-width: 3.17px;
                      }
                    </style>
                  </defs>
                  <circle
                    class="book-order-cls-1"
                    cx="100"
                    cy="100"
                    r="73.28"
                    transform="translate(-19.26 24) rotate(-12.49)"></circle>
                  <rect
                    class="book-order-cls-2"
                    x="52.85"
                    y="60.8"
                    width="93"
                    height="63.34"
                    rx="2.89"></rect>
                  <rect
                    class="book-order-cls-1"
                    x="59.52"
                    y="67.21"
                    width="79.67"
                    height="48.63"></rect>
                  <polyline
                    class="book-order-cls-2"
                    points="91.92 138.47 67.71 138.52 63.13 146.66 135.71 146.66 131.13 138.52 107.22 138.47"
                  ></polyline>
                  <path
                    class="book-order-cls-2"
                    d="M92.06,128.24v9.06c0,2.37,3.3,4.29,7.36,4.29s7.36-1.92,7.36-4.29v-9.06"
                  ></path>
                  <line
                    class="book-order-cls-3"
                    x1="69.19"
                    y1="79.44"
                    x2="96.61"
                    y2="79.44"></line>
                  <line
                    class="book-order-cls-3"
                    x1="69.19"
                    y1="89.67"
                    x2="96.61"
                    y2="89.67"></line>
                  <line
                    class="book-order-cls-3"
                    x1="69.19"
                    y1="99.9"
                    x2="96.61"
                    y2="99.9"></line>
                  <rect
                    class="book-order-cls-4"
                    x="103.69"
                    y="79.44"
                    width="23.15"
                    height="20.46"></rect>
                </svg>
              </div>
              <div class="ml-4">
                <p class="text-[24px] text-btn-blue font-bold">Step 1</p>
                <p class="text-[16px] font-semibold">
                  Quote and book your order
                </p>
              </div>
            </div>
            <div class="flex mt-4">
              <div class="rounded-[50%]">
                <svg
                  class="icon-Cayad"
                  width="65"
                  height="58"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="25 25 150 150"
                >
                  <defs>
                    <style>
                      .pich-up-cls-1 {
                        fill: #00a1ef;
                      }

                      .pich-up-cls-2 {
                        fill: #fff;
                      }

                      .pich-up-cls-3 {
                        fill: none;
                      }
                    </style>
                  </defs>
                  <circle
                    class="pich-up-cls-1"
                    cx="100.22"
                    cy="100"
                    r="73.28"
                    transform="translate(-19.26 24.04) rotate(-12.49)"></circle>
                  <circle
                    class="pich-up-cls-2"
                    cx="64.14"
                    cy="118.91"
                    r="9.52"
                    transform="translate(-31.57 23.55) rotate(-16.76)"></circle>
                  <circle
                    class="pich-up-cls-2"
                    cx="133.23"
                    cy="118.91"
                    r="9.52"
                    transform="translate(-28.63 43.48) rotate(-16.76)"></circle>
                  <path
                    class="pich-up-cls-2"
                    d="M147.91,118l10.31.06a4.43,4.43,0,0,0,4.24-3.2,12.28,12.28,0,0,0,.24-6.62c-1.34-4.91-16.91-13.89-33.55-15.69C127.09,92.31,117.6,82.15,109.4,78c-3.61-1.85-30-1.55-37-.84-.64.06-5.36.61-22.66,14.68l-8.51.5a2.68,2.68,0,0,0-2.5,2.6l-.6,20.48a3.54,3.54,0,0,0,3.54,3.54h7.62s2.35-9.71,14.23-9.82c0,0,11.11-.78,16,9.27l38.74.27s2.57-10.1,16.3-9.65C134.57,109,145,109.56,147.91,118Z"
                  ></path>
                  <polyline
                    class="pich-up-cls-2"
                    points="106.25 78.13 106.19 92.03 129.14 92.59"></polyline>
                  <polyline
                    class="pich-up-cls-3"
                    points="48.39 91.81 67.44 91.81 67.5 79.31"></polyline>
                  <rect
                    class="pich-up-cls-2"
                    x="76.3"
                    y="77.52"
                    width="20.99"
                    height="14.51"></rect>
                </svg>
              </div>

              <div class="ml-4">
                <p class="text-[24px] text-btn-blue font-bold">Step 2</p>
                <p class="text-[16px] font-semibold">We pick up your vehicle</p>
              </div>
            </div>
            <div class="flex mt-4">
              <div class="rounded-[50%]">
                <svg
                  class="icon-Cayad"
                  width="65"
                  height="58"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="25 25 150 150"
                >
                  <defs>
                    <style>
                      .receive-vehicle-cls-1 {
                        fill: #00a1ef;
                      }

                      .receive-vehicle-cls-2 {
                        fill: #fff;
                      }

                      .receive-vehicle-cls-3 {
                        fill: #0c91d0;
                      }
                    </style>
                  </defs>
                  <circle
                    class="receive-vehicle-cls-1"
                    cx="100.22"
                    cy="100"
                    r="73.28"
                    transform="translate(-19.26 24.04) rotate(-12.49)"></circle>
                  <path
                    class="receive-vehicle-cls-2"
                    d="M76.59,134.34H60.76a1.35,1.35,0,0,1-1.29-1,63.42,63.42,0,0,1-1.84-14.7c0-7.88,2.44-12.67,7.9-15.53,4.88-2.55,15.9-3.74,34.69-3.74s29.82,1.19,34.7,3.74c5.45,2.85,7.89,7.65,7.89,15.53a63.35,63.35,0,0,1-1.84,14.7,1.34,1.34,0,0,1-1.29,1H123.85"
                  ></path>
                  <path
                    class="receive-vehicle-cls-2"
                    d="M139.68,134.6H123.85v-.53h15.83a1.06,1.06,0,0,0,1-.79,63,63,0,0,0,1.83-14.63c0-7.77-2.39-12.49-7.75-15.3-4.84-2.53-15.82-3.7-34.57-3.7s-29.73,1.18-34.57,3.71c-5.36,2.8-7.75,7.52-7.75,15.29a62.45,62.45,0,0,0,1.83,14.63,1.06,1.06,0,0,0,1,.79H76.59v.53H60.76a1.59,1.59,0,0,1-1.54-1.19,62.78,62.78,0,0,1-1.85-14.76c0-8,2.48-12.86,8-15.76,4.93-2.57,16-3.77,34.82-3.77s29.9,1.2,34.82,3.77c5.55,2.9,8,7.77,8,15.76a64.44,64.44,0,0,1-1.84,14.76A1.61,1.61,0,0,1,139.68,134.6Z"
                  ></path>
                  <path
                    class="receive-vehicle-cls-2"
                    d="M131.4,103.61a.91.91,0,0,1-1-.67c-1.89-8.31-4.81-15.45-6-16.88-2.77-3-15-3.75-21.8-3.73H98.73c-13.54,0-20.35,2.14-22,3.88-1.27,1.46-4.56,8.68-6.73,17a1,1,0,0,1-1,.69,1.52,1.52,0,0,1-.51-.09,1.6,1.6,0,0,1-.8-.62,1.1,1.1,0,0,1-.18-.88c2.12-8.86,5.31-16.68,7-18.48C77.24,81,86.34,79.14,98.74,79.1h4c12.37,0,21.36,1.72,24,4.61,1.61,1.79,4.41,9.52,6.23,18.32a1.45,1.45,0,0,1-1,1.49,1.41,1.41,0,0,1-.52.1Z"
                  ></path>
                  <path
                    class="receive-vehicle-cls-2"
                    d="M69,104.2a1.76,1.76,0,0,1-.6-.1,1.84,1.84,0,0,1-.93-.73,1.34,1.34,0,0,1-.22-1.08c2.2-9.17,5.38-16.79,7.06-18.6,2.81-3,11.94-4.82,24.42-4.85l4,0h.38c12.24,0,21.12,1.76,23.79,4.71,1.77,2,4.59,10.23,6.29,18.43a1.69,1.69,0,0,1-1.18,1.8,1.92,1.92,0,0,1-.61.11h0a1.15,1.15,0,0,1-1.2-.87c-1.84-8.1-4.75-15.35-6-16.77-2.72-2.92-15.32-3.67-21.6-3.64l-3.91,0c-12.6,0-20,1.93-21.82,3.79-1.13,1.3-4.42,8.27-6.66,16.92a1.23,1.23,0,0,1-1.24.88ZM103.1,79.35H98.74c-12.15,0-21.36,1.84-24,4.7-1.65,1.76-4.83,9.55-6.94,18.36a.83.83,0,0,0,.15.66,1.35,1.35,0,0,0,.67.52,1.12,1.12,0,0,0,.42.08.69.69,0,0,0,.72-.49c2.11-8.11,5.43-15.57,6.79-17.15,1.73-1.8,8.58-3.92,22.21-4h3.91c6.83,0,19.15.75,22,3.81,1.27,1.51,4.19,8.7,6.07,17a.64.64,0,0,0,.69.46h0a1.12,1.12,0,0,0,.43-.08,1.17,1.17,0,0,0,.84-1.19C130.79,93,128,85.54,126.5,83.88,124,81.08,115,79.35,103.1,79.35Z"
                  ></path>
                  <path
                    class="receive-vehicle-cls-2"
                    d="M73.32,132.92V142a3.47,3.47,0,0,1-3.61,3.32H65A3.48,3.48,0,0,1,61.34,142v-9.06"
                  ></path>
                  <path
                    class="receive-vehicle-cls-2"
                    d="M69.71,146.88H65a5.06,5.06,0,0,1-5.19-4.9v-9.06h3.17V142a1.89,1.89,0,0,0,2,1.73h4.76a1.9,1.9,0,0,0,2-1.73v-9.06h3.17V142A5.06,5.06,0,0,1,69.71,146.88Z"
                  ></path>
                  <path
                    class="receive-vehicle-cls-2"
                    d="M139.46,132.92V142a3.48,3.48,0,0,1-3.61,3.32h-4.77a3.47,3.47,0,0,1-3.6-3.32v-9.06"
                  ></path>
                  <path
                    class="receive-vehicle-cls-2"
                    d="M135.85,146.88h-4.77a5.06,5.06,0,0,1-5.19-4.9v-9.06h3.17V142a1.89,1.89,0,0,0,2,1.73h4.77a1.89,1.89,0,0,0,2-1.73v-9.06H141V142A5.06,5.06,0,0,1,135.85,146.88Z"
                  ></path>
                  <path
                    class="receive-vehicle-cls-1"
                    d="M71.11,117.37a1,1,0,0,0-.24-.05l-6-.81a1.78,1.78,0,0,0-1.84,2c.1,2.16.32,4.08.5,5.35a1.73,1.73,0,0,0,1.63,1.58H76a1.78,1.78,0,0,0,1.65-1.89v-1a2,2,0,0,0-.17-.84C76.32,119.11,71.92,117.62,71.11,117.37Z"
                  ></path>
                  <path
                    class="receive-vehicle-cls-1"
                    d="M129.08,117.37a1.11,1.11,0,0,1,.25-.05l6-.81a1.78,1.78,0,0,1,1.84,2c-.1,2.16-.33,4.08-.5,5.35a1.73,1.73,0,0,1-1.63,1.58H124.19a1.77,1.77,0,0,1-1.64-1.89v-1a2,2,0,0,1,.17-.84C123.87,119.11,128.28,117.62,129.08,117.37Z"
                  ></path>
                  <path
                    class="receive-vehicle-cls-1"
                    d="M116.1,116.57H84.34a1.66,1.66,0,0,0-1.45.86,6.8,6.8,0,0,0-.65,3.26,9.05,9.05,0,0,0,.73,3.83,1.69,1.69,0,0,0,1.52,1H116a1.69,1.69,0,0,0,1.52-1,8.9,8.9,0,0,0,.73-3.83,6.8,6.8,0,0,0-.65-3.26A1.66,1.66,0,0,0,116.1,116.57Z"
                  ></path>
                  <rect
                    class="receive-vehicle-cls-2"
                    x="86.91"
                    y="42.65"
                    width="29.61"
                    height="29.61"></rect>
                  <circle
                    class="receive-vehicle-cls-2"
                    cx="101.71"
                    cy="57.45"
                    r="14.8"
                    transform="translate(-10.02 23.36) rotate(-12.49)"></circle>
                  <path
                    class="receive-vehicle-cls-3"
                    d="M98.57,66.13a1.64,1.64,0,0,1-1.13-.46L92.3,60.52a1.58,1.58,0,0,1,2.24-2.24l4,4L109,50.86a1.57,1.57,0,0,1,2.24-.09,1.59,1.59,0,0,1,.09,2.24L99.73,65.62a1.57,1.57,0,0,1-1.13.51Z"
                  ></path>
                </svg>
              </div>

              <div class="ml-4">
                <p class="text-[24px] text-btn-blue font-bold">Step 3</p>
                <p class="text-[16px] font-semibold">Receive your vehicle</p>
              </div>
            </div>
          </div>
        </div>

        <div class="w-[45%] xs:w-full sm:w-full mt-12">
          <div class="w-full flex justify-center">
            <iframe
              id="js-video-iframe"
              frameborder="0"
              allowfullscreen="1"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              title="How Auto Transport Works - Explained In 3 Simple Steps"
              width="860"
              height="284"
              src="/img/video.mp4"
              class="video-how max-h-[281px] max-w-[577px] xs:max-w-[90%] xs:max-h-[288px]"
            ></iframe>
          </div>
        </div>
      </section>
    </section>
  </container>

  <h3
    class="w-[80%] xs:w-full mt-12 xs:px-4 sm:px-4 sm:w-full mx-auto text-3xl font-semibold"
  >
    What factors are used to calculate the cost of car shipping?
  </h3>

  <section
    class="w-[80%] xs:w-full sm:w-full xs:px-4 sm:px-4 mx-auto mb-12 flex justify-between xs:flex-col sm:flex-col"
  >
    <container class="w-[45%] xs:w-full sm:w-full">
      <div class="w-full mt-8">
        <img
          src="/img/distance.webp"
          class="w-full max-h-[350px] min-h-[340px] rounded-xl"
          alt="auto transport distance map"
        />

        <h3 class="text-3xl mt-4 font-semibold">Distance</h3>
        <p class="text-sm mt-4">
          Total distance is the main component used in calculating a quote for
          car shipping. Longer distances generally lead to a higher overall car
          shipping price, but also include a discounted cost per mile. With our
          car shipping calculator, you can get the best auto transport quote for
          any car shipment. It’s important to note that international car
          shipping prices might differ from ground vehicle transport.
        </p>
      </div>

      <div class="w-full mt-8">
        <img
          src="/img/sd.webp"
          class="w-full max-h-[350px] min-h-[340px] rounded-xl"
          alt="car transport calendar"
        />

        <h3 class="text-3xl font-semibold mt-4">Shipping date</h3>
        <p class="text-sm mt-4">
          When you book a car transport service, the shipment date often plays a
          role in the cost. It’s best to book your car shipment as far in
          advance as possible. As soon as you know you’ll need to ship your
          vehicle, begin researching an auto transport company to request a car
          shipping quote. Additionally, increased flexibility around car pickup
          dates will often result in car transport quote savings.
        </p>
      </div>
    </container>

    <container class="w-[45%] xs:w-full sm:w-full">
      <div class="w-full mt-8">
        <img
          src="/img/route.webp"
          class="w-full max-h-[350px] min-h-[340px] rounded-xl"
          alt="car transport route map"
        />

        <h3 class="text-3xl font-semibold mt-4">Route</h3>
        <p class="text-sm mt-4">
          Different from distance, route refers to what highways and other roads
          will be traveled to transport the vehicle. Routes in highly populated
          areas may have increased traffic congestion, which could impact
          transport time and shipping costs. Additional route considerations
          that can be factored into shipping costs include: physical road
          conditions, adverse weather and road construction.
        </p>
      </div>

      <div class="w-full mt-8">
        <img
          src="/img/vmam.webp"
          class="w-full max-h-[350px] min-h-[340px] rounded-xl"
          alt="auto shipping dealerships"
        />

        <h3 class="text-3xl font-semibold mt-4">Vehicle make and model</h3>
        <p class="text-sm mt-4">
          When planning your auto transport, we ask for the exact vehicle
          specifications, because the truck driver must know how much space is
          required to safely secure your automobile and ensure proper trailer
          height and side clearance. Longer and taller cars require additional
          vehicle transport adjustments, which may slightly increase car
          shipping costs. Vehicle modifications like larger tires and roof racks
          can also increase the cost.
        </p>
      </div>
    </container>
  </section>

  <section
    class="w-[80%] xs:w-full sm:w-full xs:px-4 sm:px-4 mx-auto mb-12 flex justify-between xs:flex-col sm:flex-col"
  >
    <container class="w-[45%] xs:w-full sm:w-full">
      <div class="w-full mt-8">
        <img
          src="/img/vd.webp"
          class="w-full max-h-[350px] min-h-[340px] rounded-xl"
          alt="car shipping hauler"
        />

        <h3 class="text-3xl font-semibold mt-4">Vehicle details</h3>
        <p class="text-sm mt-4">
          Taller, longer and heavier vehicles may require a specific trailer or
          trailer type to support the length and/or added weight. They may also
          need certain accommodations, like being transported in a specific
          place within the trailer. Both of these situations could require the
          driver to take fewer or smaller vehicles to accommodate special
          requests and manage total allowable weight limits.
        </p>
      </div>

      <div class="w-full mt-8">
        <img
          src="/img/location.webp"
          class="w-full max-h-[350px] min-h-[340px] rounded-xl"
          alt="car transport location"
        />

        <h3 class="text-3xl font-semibold mt-4">Location</h3>
        <p class="text-sm mt-4">
          Metropolitan areas usually have plenty of trucks available to carry
          out car shipping orders for auto shippers, which lowers the car
          transport price. When transporting cars, we strive to find the best
          deal for residents of small towns.
        </p>
      </div>

      <div class="w-full mt-8">
        <img
          src="/img/vc.webp"
          class="w-full max-h-[350px] min-h-[340px] rounded-xl"
          alt="car shipping condition report"
        />

        <h3 class="text-3xl font-semibold mt-4">Vehicle condition</h3>
        <p class="text-sm mt-4">
          If your car is running, you will get a better auto shipping price from
          car shippers for the allotted distance. If your car is inoperable, but
          maintains the ability to roll, steer and brake, it will require a
          winch and other accommodations to be loaded onto the carrier trailer,
          which will increase the cost of shipment. To request a quote or to
          arrange shipment for an inoperable vehicle, please contact a Cayad
          representative at (469) 619-0747.
        </p>
      </div>
    </container>

    <container class="w-[45%] xs:w-full sm:w-full">
      <div class="w-full mt-8">
        <img
          src="/img/gc.webp"
          class="w-full max-h-[350px] min-h-[340px] rounded-xl"
          alt="shipping a lowered or modified car"
        />

        <h3 class="text-3xl font-semibold mt-4">Ground clearance</h3>
        <p class="text-sm mt-4">
          Ground clearance, also called ride height, is the distance between the
          bottom of the vehicle’s body and the road or driving surface. Low
          vehicle ground clearance requires special attention and accommodation,
          such as a specialized ramp. If ground clearance is four inches or
          less, the vehicle must be shipped in an enclosed trailer equipped with
          a lift gate, which open trailers do not have.
        </p>
      </div>

      <div class="w-full mt-8">
        <img
          src="/img/open-car.webp"
          class="w-full max-h-[350px] min-h-[340px] rounded-xl"
          alt="open car transport"
        />

        <h3 class="text-3xl font-semibold mt-4">Auto transport type</h3>
        <p class="text-sm mt-4">
          Most people shipping a car select open car transport, as it is the
          industry standard and cheapest way for car shippers to move your
          vehicle. For extra car shipment protection, we recommend using
          enclosed car transportation services that shield vehicles from weather
          and debris. Enclosed auto transport can increase the cost of car
          shipping, but is worth the peace of mind for delicate, exotic or
          luxury car transportation.
        </p>
      </div>

      <div class="w-full mt-8">
        <img
          src="/img/seanson.webp"
          class="w-full max-h-[350px] min-h-[340px] rounded-xl"
          alt="car shipping seasons"
        />

        <h3 class="text-3xl font-semibold mt-4">Seasonality</h3>
        <p class="text-sm mt-4">
          Car shipping costs vary greatly based on the time of year. For
          example, auto transport services to warmer states are very popular
          during the winter travel season, so the cost for transporting a car to
          those destinations may be higher. Use Cayad’s car shipping calculator
          to get the price for shipping a car. Depending on your scheduling
          flexibility, we recommend trying different shipping dates to see rate
          impact for choosing the best price.
        </p>
      </div>
    </container>
  </section>

  <section
    class="w-[80%] xs:w-full sm:w-full xs:px-4 sm:px-4 mx-auto mb-12 flex flex-col justify-between xs:flex-col sm:flex-col"
  >
    <div
      class="w-full mt-12 mb-12 flex xs:flex-col sm:flex-col justify-between items-center"
    >
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <div class="mt-8">
          <h3 class="text-[1.5rem] font-bold">Auto transport insurance</h3>
          <p class="text-base mt-4">
            Auto transport companies are held to stringent insurance
            requirements. Carrier companies are legally required to carry
            liability insurance and a minimal level of cargo insurance. Auto
            transport brokers can inform you of your carrier’s amount of
            coverage. When determining insurance coverage, ask your Cayad
            representative these questions:
          </p>

          <ol class="list-decimal px-4 mt-4">
            <li>What type of damage is covered?</li>
            <li>
              Does insurance cover the entire vehicle or only specific parts? –
              Is there a deductible?
            </li>
            <li>Is there a deductible?</li>
            <li>What is the limit of coverage?</li>
            <li>Are specialty items or accessories covered?</li>
            <li>Is there an option to purchase additional coverage?</li>
          </ol>
        </div>
      </div>
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/ati.webp" class="rounded-xl" alt="car shipping insurance coverage"/>
      </div>
    </div>

    <section
      class="w-[100%] xs:w-full sm:w-full mx-auto mb-12 flex flex-col justify-between xs:flex-col sm:flex-col"
    >
      <h3 class="text-4xl mt-12 font-semibold">
        Cross country car shipping services
      </h3>
      <container
        class="mt-8 xs:w-full sm:w-full mx-auto mb-12 flex xs:flex-col sm:flex-col"
      >
        <div
          class="h-[60vh] xs:w-full sm:w-full xs:h-max sm:h-max md:h-max lg:h-max md:w-[50%] hover:bg-btn-blue hover:text-white duration-100 shadow-sm rounded-lg w-[38%] bg-[#f5f7fa] p-8"
        >
          <h4 class="text-3xl font-semibold">Door-to-door car shipping</h4>
          <p class="mt-8">
            Provided the addresses and the surrounding streets have sufficient
            space and are legally accessible for the trucker to park and
            load/unload vehicles, the driver can come right to you! Make sure to
            have the correct addresses handy when you place a car shipping
            order. Keep in mind door-to-door shipping is not always possible,
            depending on the locations.
          </p>
        </div>
        <div
          class="h-[60vh] xs:w-full sm:w-full xs:h-max sm:h-max md:h-max lg:h-max md:w-[50%] hover:bg-btn-blue hover:text-white duration-100 shadow-sm rounded-lg w-[38%] bg-[#e2e6ec] p-8"
        >
          <h4 class="text-3xl font-semibold">Open car transport</h4>
          <p class="mt-8">
            Open transport is the best option for affordable auto transport and
            can save you between 10% to 25% on average compared to other
            shipping methods. Selecting a top-loaded spot or flatbed trailer for
            added protection will require an extra fee. For luxury, vintage, or
            high-value vehicles, we recommend enclosed trailer transport.
          </p>
        </div>
        <div
          class="h-[60vh] xs:w-full sm:w-full xs:h-max sm:h-max md:h-max lg:h-max md:w-[50%] hover:bg-btn-blue hover:text-white duration-100 shadow-sm rounded-lg w-[38%] bg-[#f5f7fa] p-8 group"
        >
          <h4 class="text-3xl font-semibold">Expedited car shipping</h4>
          <p class="mt-8">
            With expedited car shipping, your vehicle can be picked up as soon
            as 24 to 48 hours after placing an order. This premium service comes
            with an additional cost.
          </p>

          <p class="mt-8">
            Call us at <span class="text-btn-blue group-hover:text-white"
              >(469) 619-0747</span
            > to schedule car pickup exactly when you need it.
          </p>
        </div>

        <div
          class="h-[60vh] xs:w-full sm:w-full xs:h-max sm:h-max md:h-max lg:h-max md:w-[50%] hover:bg-btn-blue hover:text-white duration-100 shadow-sm rounded-lg w-[38%] bg-[#e2e6ec] p-8"
        >
          <h4 class="text-3xl font-semibold">Enclosed car shipping</h4>
          <p class="mt-8">
            Covered car shipping provides extra protection from road debris and
            weather, a great option for transporting vintage or exotic cars.
            Remember, the cost will be slightly higher for enclosed shipping.
          </p>
        </div>
      </container>
    </section>
  </section>

  <ButtonScrollTop client:load />
</Layout>
