---
import Layout from "../../../layouts/Layout.astro";
import ButtonScrollTop from "../../../components/buttons/ButtonScrollTop";
import { IoArrowRedo } from "react-icons/io5";
import { FaPhoneAlt, FaEnvelope } from "react-icons/fa";
import SecondFooter from "../../../components/SecondFooter.astro";
---
<head>
  <!-- Google Tag Manager -->
  <script is:inline>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-NT3H9XXW");
  </script>
  <!-- End Google Tag Manager --></head
>

<style>
  .service-item:hover img,
  .team-item:hover img {
    /* transform: scale(1.1); */
  }

  .service-item a.btn-slide,
  .price-item a.btn-slide,
  .team-item div.btn-slide {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 0;
  }

  .service-item a.btn-slide i,
  .service-item a.btn-slide span,
  .price-item a.btn-slide i,
  .price-item a.btn-slide span,
  .team-item div.btn-slide i,
  .team-item div.btn-slide span {
    position: relative;
    height: 40px;
    padding: 0 15px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
    background: #00a1ef;
    border-radius: 0 35px 35px 0;
    transition: 0.5s;
    z-index: 2;
  }

  .team-item div.btn-slide span a i {
    padding: 0 10px;
  }

  .team-item div.btn-slide span a:hover i {
    background: var(--secondary);
  }

  .service-item a.btn-slide span,
  .price-item a.btn-slide span,
  .team-item div.btn-slide span {
    padding-left: 0;
    left: -100%;
    z-index: 1;
  }

  .service-item:hover a.btn-slide i,
  .price-item:hover a.btn-slide i,
  .team-item:hover div.btn-slide i {
    border-radius: 0;
  }

  .service-item:hover a.btn-slide span,
  .price-item:hover a.btn-slide span,
  .team-item:hover div.btn-slide span {
    left: 0;
  }

  .service-item a.btn-slide:hover i,
  .service-item a.btn-slide:hover span,
  .price-item a.btn-slide:hover i,
  .price-item a.btn-slide:hover span {
    background: var(--secondary);
  }
</style>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript
    ><iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-NT3H9XXW"
      height="0"
      width="0"
      style="display:none;visibility:hidden"></iframe></noscript
  >
  <!-- End Google Tag Manager (noscript) -->

<Layout title="Our Team | Cayad Auto Transport">
  <div class="w-full flex flex-col items-center">
    <div class="w-[80%] xs:w-full sm:w-full xs:px-4 sm:px-4 mt-24">
      <h1 class="text-[2.5rem] text-[#19171fd2] font-semibold">
        The Executive Team
      </h1>
      <p class="mt-2 text-sm">
        At Cayad, our executive team is a powerhouse of experienced
        professionals dedicated to providing industry-leading services and
        ensuring unmatched customer satisfaction. Comprised of seasoned
        individuals who have held key roles within the industry, each member
        brings a rich background of expertise and unique insights gained from
        years of hands-on experience and strategic leadership.
        <br />
        <br />
        Their collective efforts have been pivotal in shaping the industry, introducing
        innovative solutions, and setting the gold standard for service delivery.
      </p>
      <div
        class="w-full grid grid-cols-3 mt-32 mb-12 gap-10 md:grid-cols-2 sm:grid-cols-2 xs:grid-cols-1"
      >
        <div
          class="min-h-[500px] flex flex-col items-center max-h-[550px] w-[100%] md:w-full sm:w-full xs:w-full wow fadeInUp"
          data-wow-delay="0.5s"
        >
          <img
            class="rounded-full w-[300px] h-[300px] border-4 border-btn-blue xs:w-[300px] xs:h-[300px] sm:w-[300px] sm:h-[300px] align-middle"
            src="/img/car-man.webfgjhdghp"
            alt=""
          />
          <h5
            class="mb-0 mt-4 text-center text-[#232b36] text-3xl font-semibold"
          >
            Carlos M
          </h5>
          <p class="text-[#555555] text-sm font-semibold text-center">
            President
          </p>
        </div>

        <div
          class="min-h-[500px] flex flex-col items-center max-h-[550px] w-[100%] md:w-full sm:w-full xs:w-full wow fadeInUp"
          data-wow-delay="0.5s"
        >
          <img
            class="rounded-full w-[300px] h-[300px] border-4 border-btn-blue xs:w-[300px] xs:h-[300px] sm:w-[300px] sm:h-[300px] align-middle"
            src="/img/ad.png"
            alt=""
          />
          <h5
            class="mb-0 mt-4 text-center text-[#232b36] text-3xl font-semibold"
          >
            AD Gomez
          </h5>
          <p class="text-[#555555] text-sm font-semibold text-center">
            Chief Executive Officer
          </p>
        </div>

        
      </div>
    </div>

    <div class="w-[80%] xs:w-full sm:w-full xs:px-4 sm:px-4">
      <h1 class="text-[2.5rem] text-[#19171fd2] font-semibold">
        The Specialist Team
      </h1>
      <p class="mt-2 text-sm">
        At Cayad Auto Transport, we have a renowned workforce comprised of
        highly skilled professionals with unique abilities and extensive
        experience. Our team meticulously tracks and monitors each route,
        ensuring a top-notch AAA+ service
      </p>
      <div
        class="w-full grid grid-cols-3 mt-32 mb-12 gap-10 md:grid-cols-2 sm:grid-cols-2 xs:grid-cols-1"
      >
        <div
          class="min-h-[500px] flex flex-col items-center max-h-[550px] w-[100%] md:w-full sm:w-full xs:w-full wow fadeInUp"
          data-wow-delay="0.5s"
        >
          <img
            class="rounded-full w-[300px] border-4 border-btn-blue h-[300px] xs:w-[300px] xs:h-[300px] sm:w-[300px] sm:h-[300px] align-middle"
            src="/img/md.png"
            alt=""
          />
          <h5
            class="mb-0 mt-4 text-center text-[#232b36] text-3xl font-semibold"
          >
            Maiky G
          </h5>
          <p class="text-[#555555] text-sm font-semibold text-center">
            Transportation Specialist
          </p>
        </div>

        <div
          class="min-h-[500px] flex flex-col items-center max-h-[550px] w-[100%] md:w-full sm:w-full xs:w-full wow fadeInUp"
          data-wow-delay="0.5s"
        >
          <img
            class="rounded-full w-[300px] h-[300px] border-4 border-btn-blue xs:w-[300px] xs:h-[300px] sm:w-[300px] sm:h-[300px] align-middle"
            src="/img/jacky.png"
            alt=""
          />
          <h5
            class="mb-0 mt-4 text-center text-[#232b36] text-3xl font-semibold"
          >
            Jackie H
          </h5>
          <p class="text-[#555555] text-sm font-semibold text-center">
            Transportation Specialist
          </p>
        </div>

        <div
          class="min-h-[500px] flex flex-col items-center max-h-[550px] w-[100%] md:w-full sm:w-full xs:w-full wow fadeInUp"
          data-wow-delay="0.5s"
        >
          <img
            class="rounded-full w-[300px] h-[300px] border-4 border-btn-blue xs:w-[300px] xs:h-[300px] sm:w-[300px] sm:h-[300px] align-middle"
            src="/img/mari.png"
            alt=""
          />
          <h5
            class="mb-0 mt-4 text-center text-[#232b36] text-3xl font-semibold"
          >
            Mari C
          </h5>
          <p class="text-[#555555] text-sm font-semibold text-center">
            Transportation Specialist
          </p>
        </div>

        <div
        class="min-h-[500px] flex flex-col items-center max-h-[550px] w-[100%] md:w-full sm:w-full xs:w-full wow fadeInUp"
        data-wow-delay="0.5s"
      >
        <img
          class="rounded-full w-[300px] h-[300px] border-4 border-btn-blue xs:w-[300px] xs:h-[300px] sm:w-[300px] sm:h-[300px] align-middle"
          src="/img/mari.pnzfbzfg"
          alt=""
        />
        <h5
          class="mb-0 mt-4 text-center text-[#232b36] text-3xl font-semibold"
        >
          Open
        </h5>
        <p class="text-[#555555] text-sm font-semibold text-center">
          Transportation Specialist
        </p>
      </div>

      <div
        class="min-h-[500px] flex flex-col items-center max-h-[550px] w-[100%] md:w-full sm:w-full xs:w-full wow fadeInUp"
        data-wow-delay="0.5s"
      >
        <img
          class="rounded-full w-[300px] h-[300px] border-4 border-btn-blue xs:w-[300px] xs:h-[300px] sm:w-[300px] sm:h-[300px] align-middle"
          src="/img/mari.pnzfbzfg"
          alt=""
        />
        <h5
          class="mb-0 mt-4 text-center text-[#232b36] text-3xl font-semibold"
        >
          Open
        </h5>
        <p class="text-[#555555] text-sm font-semibold text-center">
          Transportation Specialist
        </p>
      </div>

      <div
        class="min-h-[500px] flex flex-col items-center max-h-[550px] w-[100%] md:w-full sm:w-full xs:w-full wow fadeInUp"
        data-wow-delay="0.5s"
      >
        <img
          class="rounded-full w-[300px] h-[300px] border-4 border-btn-blue xs:w-[300px] xs:h-[300px] sm:w-[300px] sm:h-[300px] align-middle"
          src="/img/mari.pnzfbzfg"
          alt=""
        />
        <h5
          class="mb-0 mt-4 text-center text-[#232b36] text-3xl font-semibold"
        >
          Open
        </h5>
        <p class="text-[#555555] text-sm font-semibold text-center">
          Transportation Specialist
        </p>
      </div>
      </div>
      <p class="mt-2 xs:w-full sm:w-full mb-12 text-sm">
        We are proud to present part of the team and encourage you to
        familiarize yourself with these remarkable individuals and their
        contributions to our organization.
      </p>
    </div>
  </div>

  <ButtonScrollTop client:load />
</Layout>
</body>
