---
import Layout from "../../../layouts/Layout.astro";
import ButtonScrollTop from "../../../components/buttons/ButtonScrollTop";
import { IoArrowRedo } from "react-icons/io5";
import { FaPhoneAlt, FaEnvelope } from "react-icons/fa";
import SecondFooter from "../../../components/SecondFooter.astro";
---
<link rel="canonical" href="https://cayadservices.com/why-us/our-team/" />

<style>
  .service-item:hover img,
  .team-item:hover img {
    /* transform: scale(1.1); */
  }

  .service-item a.btn-slide,
  .price-item a.btn-slide,
  .team-item div.btn-slide {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 0;
  }

  .service-item a.btn-slide i,
  .service-item a.btn-slide span,
  .price-item a.btn-slide i,
  .price-item a.btn-slide span,
  .team-item div.btn-slide i,
  .team-item div.btn-slide span {
    position: relative;
    height: 40px;
    padding: 0 15px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
    background: #00a1ef;
    border-radius: 0 35px 35px 0;
    transition: 0.5s;
    z-index: 2;
  }

  .team-item div.btn-slide span a i {
    padding: 0 10px;
  }

  .team-item div.btn-slide span a:hover i {
    background: var(--secondary);
  }

  .service-item a.btn-slide span,
  .price-item a.btn-slide span,
  .team-item div.btn-slide span {
    padding-left: 0;
    left: -100%;
    z-index: 1;
  }

  .service-item:hover a.btn-slide i,
  .price-item:hover a.btn-slide i,
  .team-item:hover div.btn-slide i {
    border-radius: 0;
  }

  .service-item:hover a.btn-slide span,
  .price-item:hover a.btn-slide span,
  .team-item:hover div.btn-slide span {
    left: 0;
  }

  .service-item a.btn-slide:hover i,
  .service-item a.btn-slide:hover span,
  .price-item a.btn-slide:hover i,
  .price-item a.btn-slide:hover span {
    background: var(--secondary);
  }
</style>

<Layout title="Car Shipping Team | Cayad Auto Transport"
content="Cayad boasts a team of seasoned professionals dedicated to delivering effective car shipping solutions for the industry. Get A Quote Now!">
  <div class="w-full flex flex-col items-center">
    <div class="w-[80%] xs:w-full sm:w-full xs:px-4 sm:px-4 mt-24">
      <h1 class="text-[2.5rem] text-[#00000] font-semibold">
        The Executive Team of Cayad Auto Transport
      </h1>
      <p class="mt-2 text-sm">
        At Cayad, our executive team is a powerhouse of experienced
        professionals dedicated to providing industry-leading services and
        ensuring unmatched customer satisfaction. Comprised of seasoned
        individuals who have held key roles within the industry, each member
        brings a rich background of expertise and unique insights gained from
        hands-on experience and strategic leadership.</p>
        <br />
        <br />
      <h2>
        Their collective efforts have been pivotal in car shipping inside U.S the industry, introducing
        innovative solutions, and setting the standard for service delivery.
      </h2>
      <div
        class="w-full grid grid-cols-3 mt-32 mb-12 gap-10 md:grid-cols-2 sm:grid-cols-2 xs:grid-cols-1"
      >
        <div
          class="min-h-[500px] flex flex-col items-center max-h-[550px] w-[100%] md:w-full sm:w-full xs:w-full wow fadeInUp"
          data-wow-delay="0.5s"
        >
          <img
            class="rounded-full w-[300px] h-[300px] border-4 border-btn-blue xs:w-[300px] xs:h-[300px] sm:w-[300px] sm:h-[300px] align-middle"
            src="/img/ca.webp"
            width="1080"
            height="1080"
            alt="car transport president Carlos M"
          />
          <h5
            class="mb-0 mt-4 text-center text-[#232b36] text-3xl font-semibold"
          >
            Carlos M
          </h5>
          <p class="text-[#555555] text-sm font-semibold text-center">
            President
          </p>
        </div>

        <div
          class="min-h-[500px] flex flex-col items-center max-h-[550px] w-[100%] md:w-full sm:w-full xs:w-full wow fadeInUp"
          data-wow-delay="0.5s"
        >
          <img
            class="rounded-full w-[300px] h-[300px] border-4 border-btn-blue xs:w-[300px] xs:h-[300px] sm:w-[300px] sm:h-[300px] align-middle"
            src="/img/ad.webp"
            width="1080"
            height="1080"
            alt="auto transport ceo ad gomez"
          />
          <h5
            class="mb-0 mt-4 text-center text-[#232b36] text-3xl font-semibold"
          >
            AD Gomez
          </h5>
          <p class="text-[#555555] text-sm font-semibold text-center">
            Chief Executive Officer
          </p>
        </div>

        
      </div>
    </div>

    <div class="w-[80%] xs:w-full sm:w-full xs:px-4 sm:px-4">
      <h2 class="text-[2.5rem] text-[#00000] font-semibold">
        The Specialist Team
      </h2>
      <p class="mt-2 text-sm">
        At Cayad Auto Transport, we have a renowned workforce comprised of
        highly skilled professionals with unique abilities and extensive
        experience. Our team meticulously tracks and monitors each route,
        ensuring a top-notch AAA+ service
      </p>
      <div
        class="w-full grid grid-cols-3 mt-32 mb-12 gap-10 md:grid-cols-2 sm:grid-cols-2 xs:grid-cols-1"
      >
        <div
          class="min-h-[500px] flex flex-col items-center max-h-[550px] w-[100%] md:w-full sm:w-full xs:w-full wow fadeInUp"
          data-wow-delay="0.5s"
        >
          <img
            class="rounded-full w-[300px] border-4 border-btn-blue h-[300px] xs:w-[300px] xs:h-[300px] sm:w-[300px] sm:h-[300px] align-middle"
            src="/img/md.webp"
            width="1080"
            height="1080"
            alt="auto transport specialist maiky g"
          />
          <h5
            class="mb-0 mt-4 text-center text-[#232b36] text-3xl font-semibold"
          >
            Maiky G
          </h5>
          <p class="text-[#555555] text-sm font-semibold text-center">
            Transportation Specialist
            <div class="flex p-2"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="text-[#00a1ef] mr-2 mt-1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"></path></svg><a href="tel:(254) 221-1462" class="text-[18px]  text-[#00a1ef] font-semibold leading-6 ">(254) 221-1462</a></div>
          </p>
        </div>

        <div
          class="min-h-[500px] flex flex-col items-center max-h-[550px] w-[100%] md:w-full sm:w-full xs:w-full wow fadeInUp"
          data-wow-delay="0.5s"
        >
          <img
            class="rounded-full w-[300px] h-[300px] border-4 border-btn-blue xs:w-[300px] xs:h-[300px] sm:w-[300px] sm:h-[300px] align-middle"
            src="/img/jackie.webp"
            width="1080"
            height="1080"
            alt="auto transport specialist jackie m"
          />
          <h5
            class="mb-0 mt-4 text-center text-[#232b36] text-3xl font-semibold"
          >
            Jackie H
          </h5>
          <p class="text-[#555555] text-sm font-semibold text-center">
            Transportation Specialist
            <div class="flex p-2"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="text-[#00a1ef] mr-2 mt-1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"></path></svg><a href="tel:(904) 664-8294" class="text-[18px]  text-[#00a1ef] font-semibold leading-6 ">(904) 664-8294</a></div>
          </p>
        </div>

        <div
          class="min-h-[500px] flex flex-col items-center max-h-[550px] w-[100%] md:w-full sm:w-full xs:w-full wow fadeInUp"
          data-wow-delay="0.5s"
        >
          <img
            class="rounded-full w-[300px] h-[300px] border-4 border-btn-blue xs:w-[300px] xs:h-[300px] sm:w-[300px] sm:h-[300px] align-middle"
            src="/img/mari.webp"
            width="1080"
            height="1080"
            alt="auto transport specialist mari c"
          />
          <h5
            class="mb-0 mt-4 text-center text-[#232b36] text-3xl font-semibold"
          >
            Mari C
          </h5>
          <p class="text-[#555555] text-sm font-semibold text-center">
            Transportation Specialist
            <div class="flex p-2"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="text-[#00a1ef] mr-2 mt-1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"></path></svg><a href="tel:(256) 692-8212" class="text-[18px]  text-[#00a1ef] font-semibold leading-6 ">(256) 692-8212</a></div>
          </p>
        </div>

        <div
        class="min-h-[500px] flex flex-col items-center max-h-[550px] w-[100%] md:w-full sm:w-full xs:w-full wow fadeInUp"
        data-wow-delay="0.5s"
      >
        <img
          class="rounded-full w-[300px] h-[300px] border-4 border-btn-blue xs:w-[300px] xs:h-[300px] sm:w-[300px] sm:h-[300px] align-middle"
          src="/img/erick.webp"
          width="1080"
          height="1080"
          alt="auto transport specialist erick c"
        />
        <h5
          class="mb-0 mt-4 text-center text-[#232b36] text-3xl font-semibold"
        >
          Erick C
        </h5>
        <p class="text-[#555555] text-sm font-semibold text-center">
          Transportation Specialist
          <div class="flex p-2"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="text-[#00a1ef] mr-2 mt-1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"></path></svg><a href="tel:(254) 330-1074" class="text-[18px]  text-[#00a1ef] font-semibold leading-6 ">(254) 330-1074</a></div>
        
        </p>
      </div>

      <div
        class="min-h-[500px] flex flex-col items-center max-h-[550px] w-[100%] md:w-full sm:w-full xs:w-full wow fadeInUp"
        data-wow-delay="0.5s"
      >
        <img
          class="rounded-full w-[300px] h-[300px] border-4 border-btn-blue xs:w-[300px] xs:h-[300px] sm:w-[300px] sm:h-[300px] align-middle"
          src="/img/leo.webp"
          width="1080"
          height="1080"
          alt="auto transport specialist erick c"
        />
        <h5
          class="mb-0 mt-4 text-center text-[#232b36] text-3xl font-semibold"
        >
          Leo J
        </h5>
        <p class="text-[#555555] text-sm font-semibold text-center">
          Transportation Specialist
          <div class="flex p-2"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="text-[#00a1ef] mr-2 mt-1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"></path></svg><a href="tel:(254) 362-2442" class="text-[18px]  text-[#00a1ef] font-semibold leading-6 ">(254) 362-2442</a></div>
        
        </p>
      </div>

      <div
        class="min-h-[500px] flex flex-col items-center max-h-[550px] w-[100%] md:w-full sm:w-full xs:w-full wow fadeInUp"
        data-wow-delay="0.5s"
      >
        <img
          class="rounded-full w-[300px] h-[300px] border-4 border-btn-blue xs:w-[300px] xs:h-[300px] sm:w-[300px] sm:h-[300px] align-middle"
          src="/img/lukas.webp"
          width="1080"
          height="1080"
          alt="auto transport specialist erick c"
        />
        <h5
          class="mb-0 mt-4 text-center text-[#232b36] text-3xl font-semibold"
        >
          Lukas R
        </h5>
        <p class="text-[#555555] text-sm font-semibold text-center">
          Transportation Specialist
          <div class="flex p-2"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="text-[#00a1ef] mr-2 mt-1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"></path></svg><a href="tel:(254) 362-2994" class="text-[18px]  text-[#00a1ef] font-semibold leading-6 ">(254) 362-2994</a></div>
        
        </p>
      </div>

      <div
        class="min-h-[500px] flex flex-col items-center max-h-[550px] w-[100%] md:w-full sm:w-full xs:w-full wow fadeInUp"
        data-wow-delay="0.5s"
      >
        <img
          class="rounded-full w-[300px] h-[300px] border-4 border-btn-blue xs:w-[300px] xs:h-[300px] sm:w-[300px] sm:h-[300px] align-middle"
          src="/img/alex.webp"
          width="1080"
          height="1080"
          alt="auto transport specialist erick c"
        />
        <h5
          class="mb-0 mt-4 text-center text-[#232b36] text-3xl font-semibold"
        >
          Alex G
        </h5>
        <p class="text-[#555555] text-sm font-semibold text-center">
          Transportation Specialist
          <div class="flex p-2"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="text-[#00a1ef] mr-2 mt-1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"></path></svg><a href="tel:(254) 269-3086" class="text-[18px]  text-[#00a1ef] font-semibold leading-6 ">(254) 269-3086</a></div>
        
        </p>
      </div>

      <div
        class="min-h-[500px] flex flex-col items-center max-h-[550px] w-[100%] md:w-full sm:w-full xs:w-full wow fadeInUp"
        data-wow-delay="0.5s"
      >
        <img
          class="rounded-full w-[300px] h-[300px] border-4 border-btn-blue xs:w-[300px] xs:h-[300px] sm:w-[300px] sm:h-[300px] align-middle"
          src="/img/rick.webp"
          width="1080"
          height="1080"
          alt="auto transport specialist erick c"
        />
        <h5
          class="mb-0 mt-4 text-center text-[#232b36] text-3xl font-semibold"
        >
          Rick F
        </h5>
        <p class="text-[#555555] text-sm font-semibold text-center">
          Transportation Specialist
          <div class="flex p-2"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="text-[#00a1ef] mr-2 mt-1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"></path></svg><a href="tel:(254) 362-5006" class="text-[18px]  text-[#00a1ef] font-semibold leading-6 ">(254) 362-5006</a></div>
        
        </p>
      </div>

      

      
      </div>
      <p class="mt-2 xs:w-full sm:w-full mb-12 text-sm">
        We are proud to present part of the team and encourage you to
        familiarize yourself with these remarkable individuals and their
        contributions to our organization.
      </p>
    </div>
  </div>

  <ButtonScrollTop client:load />
</Layout>