---
import Layout from "../../../layouts/Layout.astro";
import StepVision from "../../../components/StepVision";
import Testimonials from "../../../components/Testimonials";
import ButtonScrollTop from "../../../components/buttons/ButtonScrollTop";
import SecondFooter from "../../../components/SecondFooter.astro";
import GetQuote from "../../../components/buttons/GetQuote.astro";
---
<head>
  <script
    type="text/partytown"
    async
    src="https://www.googletagmanager.com/ns.html?id=GTM-NT3H9XXW"></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "GTM-NT3H9XXW");
  </script>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript
    ><iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-NT3H9XXW"
      height="0"
      width="0"
      style="display:none;visibility:hidden"></iframe></noscript
  >
  <!-- End Google Tag Manager (noscript) -->
<style>
  .custom-background {
    background:
      linear-gradient(hsla(250, 75%, 5%, 0.5), rgba(6, 3, 21, 0.5)),
      url("/img/banner.webp") center center no-repeat;
    background-size: cover;
  }
</style>

<Layout title="Vision & Mission | Cayad Auto Transport">
  <div
    class="container-fluid flex flex-col items-center justify-center custom-background h-[60vh]"
  >
    <div class="w-[80%]">
      <h1
        class="text-white text-[4rem] xs:text-[1.8rem] sm:text-[1.8rem] font-bold"
      >
        Over a Decade of Outstanding Delivery and Exponential Growth
      </h1>
      <p class="text-white text-lg font-semibold">
        Rich History of Innovation, Dependability and Success
      </p>
      <GetQuote />
    </div>
  </div>

  <div class="w-full flex mt-8 justify-center">
    <div class="w-[80%]">
      <h1
        class="text-[#232b36] text-[30px] xs:text-[1.8rem] sm:text-[1.8rem] font-bold"
      >
        Over a Decade of Outstanding Delivery and Exponential Growth
      </h1>
    </div>
  </div>

  <div
    class="w-full flex flex-col items-center overflow-hidden pt-16 pb-16 relative"
  >
    <StepVision client:load />
  </div>

  <div class="w-full mt-8 flex justify-center mb-8">
    <Testimonials title="Our Customers Say" client:load />
  </div>

  <SecondFooter />
  <ButtonScrollTop client:load />
</Layout>
</body>
