---
import Layout from "../../../layouts/Layout.astro";
import StepVision from "../../../components/StepVision";
import Testimonials from "../../../components/Testimonials";
import ButtonScrollTop from "../../../components/buttons/ButtonScrollTop";
import SecondFooter from "../../../components/SecondFooter.astro";
import GetQuote from "../../../components/buttons/GetQuote.astro";
---

<style>
  .custom-background {
    background:
      linear-gradient(hsla(250, 75%, 5%, 0.5), rgba(6, 3, 21, 0.5)),
      url("/img/banner.webp") center center no-repeat;
    background-size: cover;
  }
</style>

<Layout title="Vision & Mission | Cayad Auto Transport"
content="Our mission is to become the most cost-effective car shipping industry in the U.S. by integrating top-notch tools with the highly expertise of specialists.">
  <div
    class="container-fluid flex flex-col items-center justify-center custom-background h-[60vh]"
  >
    <div class="w-[80%]">
      <h2
        class="text-white text-[4rem] xs:text-[1.8rem] sm:text-[1.8rem] font-bold"
      >
      Years of Exceptional Delivery and Rapid Growth
      </h2>
      <p class="text-white text-lg font-semibold">
        Rich History of Innovation, Dependability and Success
      </p>
      <GetQuote />
    </div>
  </div>

  <div class="w-full flex mt-8 justify-center">
    <div class="w-[80%]">
      <h1
        class="text-[#232b36] text-[30px] xs:text-[1.8rem] sm:text-[1.8rem] font-bold"
      >
      Years of Exceptional Car Shipping Service in U.S and Rapid Growth
      </h1>
    </div>
  </div>

  <div
    class="w-full flex flex-col items-center overflow-hidden pt-16 pb-16 relative"
  >
    <StepVision client:load />
  </div>

  <div class="w-full mt-8 flex justify-center mb-8">
    <Testimonials title="Our Customers Say" client:load />
  </div>

  <SecondFooter />
  <ButtonScrollTop client:load />
</Layout>
