---
import Layout from "../../layouts/Layout.astro";
import Testimonials from "../../components/Testimonials";
import ButtonScrollTop from "../../components/buttons/ButtonScrollTop";
---

<style>
  .custom-background {
    background:
      linear-gradient(hsla(250, 75%, 5%, 0.5), rgba(6, 3, 21, 0.5)),
      url("/img/home.webp") center center no-repeat;
    background-size: cover;
  }
</style>
<Layout title="Door To Door Auto Transport | Cayad Auto Transport">
  <div
    class="container-fluid flex flex-col items-center justify-center custom-background h-[60vh]"
  >
    <div class="w-[80%]">
      <h1
        class="text-white text-[4rem] xs:text-[1.8rem] sm:text-[1.8rem] font-bold"
        data-aos="fade-down"
      >
        Door to door auto transport
      </h1>
      <p class="text-white text-lg font-semibold">
        Cayad is known for safe and secure door to door auto transportation
        services
      </p>
      <a href="/quote/">
        <button
          data-aos="fade-right"
          class="flex mt-4 min-w-[250px] max-w-[270px] items-center justify-center border mb-2 border-transparent bg-btn-blue px-8 py-3 text-base font-medium text-white hover:bg-btn-hover transition-colors duration-500 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
        >
          Get a Quote
        </button>
      </a>
    </div>
  </div>

  <div class="w-full mt-8 flex justify-center mb-8">
    <Testimonials
      position="left"
      title="Read what other customers say about their experience with Cayad"
      client:load
    />
  </div>

  <div class="flex xs:flex-col sm:flex-col justify-center h-max w-full">
    <div
      data-aos="fade-up"
      class="w-[50%] xs:w-full sm:w-full h-[100%] px-4 xs:p-4 sm:p-4"
    >
      <h2 class="text-[2.5rem] xs:text-xl text-[#19171fd2] font-semibold">
        What is Door to door car shipping?
      </h2>
      <p class="text-justify mt-2 w-[80%]">
        Door to door car shipping is the most convenient method of auto
        transport. You select a specific address for your vehicle to be picked
        up and dropped off. The truck driver will pick up and drop off your
        vehicle as close to this desired address as safely and legally possible.
      </p>
    </div>
    <div data-aos="fade-left" class="w-[40%] xs:w-full sm:w-full p-4">
      <img src="/img/home-car.webp" class="rounded-xl" />
    </div>
  </div>

  <div class="flex flex-col xs:flex-col sm:flex-col items-center h-max w-full">
    <div class="w-[90%] xs:w-[100%] sm:w-[100%] px-4">
      <h2
        data-aos="fade-up"
        class="text-[2.5rem] xs:text-xl text-[#19171fd2] font-semibold"
      >
        What you’ll like about Door to door auto transport:
      </h2>

      <div
        class="grid mt-8 grid-cols-2 xs:grid-cols-1 sm:grid-cols-1 w-full gap-6"
      >
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 p-4 xs:p-0 sm:p-0 hover:shadow-xl duration-300 wow fadeInUp"
          data-wow-delay="0.3s"
        >
          <h5 class="mb-2 py-4 text-xl text-[#19171fd2] font-semibold">
            Make it easy
          </h5>
          <p class="py-4" style="text-align: justify;">
            With Door to door auto transport, your car will get from point A to
            point B quickly and safely. By having your car delivered straight to
            your door, you’re allowing the experts to handle every step of the
            process and ensure there are no speed bumps along the way.
          </p>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 hover:shadow-xl duration-300 wow fadeInUp"
          data-wow-delay="0.5s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h5 class="mb-2 py-4 text-xl text-[#19171fd2] font-semibold">
              Sit back and relax
            </h5>
            <p class="py-4" style="text-align: justify;">
              Let Cayad Auto Transport take the responsibility out of your hands
              with Door to door car shipping. Sit back, relax, and watch your
              car reach its final destination with our Door to door
              transportation services.
            </p>
          </div>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 hover:shadow-xl duration-300 wow fadeInUp"
          data-wow-delay="0.7s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h5 class="mb-2 py-4 text-xl text-[#19171fd2] font-semibold">
              Save time
            </h5>
            <p class="py-4" style="text-align: justify;">
              With terminal-to-terminal shipping, your car could be left at the
              terminal for weeks while the carrier waits to get fully loaded to
              move to your destination. With Door to door service, your truck
              driver is ready to haul right away… and you get your car delivered
              to your door.
            </p>
          </div>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 hover:shadow-xl duration-300 wow fadeInUp"
          data-wow-delay="0.9s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h5 class="mb-2 text-xl py-4 text-[#19171fd2] font-semibold">
              Be licenced and bonded
            </h5>
            <p class="py-4" style="text-align: justify;">
              Your car is insured for Door to door transportation services. We
              check each carrier and require sufficient insurance to be
              maintained at all times when performing Door to door car transport
              services for Cayad Auto Transport. So, all you need to do is sit
              back, relax, and wait for your car to be delivered.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-full flex mb-8 flex-col items-center xs:min-w-[100%] xs:px-0 sm:min-w-[100%] sm:px-0 mx-auto overflow-hidden px-0"
  >
    <div
      class="w-[90%] xs:min-w-[100%] xs:px-4 sm:min-w-[100%] sm:px-4 py-10 px-0"
    >
      <h1 class="text-4xl text-[#19171fd2] font-medium mb-10">
        Why choose Cayad for door-to-door auto transport?
      </h1>
      <div
        class="grid grid-cols-2 md:grid-cols-1 sm:grid-cols-1 xs:grid-cols-1 gap-10"
      >
        <div class="wow" data-aos="fade-up" data-aos-delay="100">
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="300">
            <img src="../img/dollar.webp" class="w-24 h-20 mb-2" />
            <div class="ml-4">
              <h5 class="font-semibold">No upfront payment</h5>
              <p class="text-justify xs:text-start sm:text-start mb-0">
                You read that right, $0! The best auto transport companies
                charge you once the carrier has been dispatched for your order.
                You can book your Door to door auto transport now without seeing
                a bill.
              </p>
            </div>
          </div>
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="300">
            <img src="../img/countries.webp" class="w-24 h-20 mb-2" />
            <div class="ml-4">
              <h5 class="font-semibold">Best price</h5>
              <p class="text-justify xs:text-start sm:text-start mb-0">
                We provide quality door to door auto transport and aim to get
                your car delivered at the best price of the market. Our team
                determines all the factors related to get the most accurate
                costs on door to door transportation for you.
              </p>
            </div>
          </div>
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="500">
            <img src="../img/easy.webp" class="w-24 h-24 mb-2" />
            <div class="ml-4">
              <h5 class="font-semibold">
                Multi-vehicle, Door to door auto transport
              </h5>
              <p class="text-justify xs:text-start sm:text-start mb-0">
                Families traveling across the country will enjoy our multi
                vehicle door to door transportation services. Yo won't need to
                worry at all, each car will be delivered at the same time.
              </p>
            </div>
          </div>
        </div>
        <div
          class="w-[95%] wow"
          data-aos="fade-right"
          data-aos-delay="100"
          style="min-height: 400px;"
        >
          <div class="h-full">
            <img
              src="/img/door.webp"
              class="object-cover w-full h-full"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed bottom-4 right-20 flex flex-col items-end">
    <ButtonScrollTop client:load />
  </div>
</Layout>
