---
import Layout from "../../../layouts/Layout.astro";
import GetQuoete from "../../../components/buttons/GetQuote.astro";
import Testimonials from "../../../components/Testimonials";
import ButtonScrollTop from "../../../components/buttons/ButtonScrollTop";
import NumberPhone from "../../../components/NumberPhone.astro";
import CountNumber from "../../../components/CountNumber";
---
<link rel="canonical" href="https://cayadservices.com/for-individuals/students-auto-transport" />
<style>
  .custom-background {
    background:
      linear-gradient(hsla(250, 75%, 5%, 0.5), rgba(6, 3, 21, 0.5)),
      url("/img/student.webp") center center no-repeat;
    background-size: cover;
  }

  .footer--img {
    background-image: url("/public/img/footer.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>


<Layout title="College Students Car Shipping | Cayad Auto Transport"
content="Affordable car shipping for college students. Book now with Cayad Auto Transport, the most reliable nationwide service!">
  <div
    class="container-fluid flex flex-col items-center justify-center custom-background h-[60vh]"
  >
    <div class="w-[80%]">
      <p
        class="text-white text-[4rem] xs:text-[1.8rem] sm:text-[1.8rem] font-bold"
      >
        Head to college with Cayad
      </p>
      <h1 class="text-white text-lg font-semibold">
        Need to ship a car to college? We're here to help!
      </h1>
      <GetQuoete />
    </div>
  </div>

  <div class="w-full mt-12 flex justify-center mb-8">
    <Testimonials
      position="center"
      title="College kids experience with Cayad"
      client:load
    />
  </div>

  <div class="flex flex-col xs:flex-col sm:flex-col items-center h-max w-full">
    <div class="w-[80%] xs:w-[100%] sm:w-[100%] px-4">
      <h2
        data-aos="fade-up"
        class="text-[2.5rem] xs:text-xl text-[#00000] font-semibold"
      >
        College Students Trust Cayad for a Reason
      </h2>

      <div
        class="grid mt-8 grid-cols-2 xs:grid-cols-1 sm:grid-cols-1 w-full gap-6"
      >
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 p-4 xs:p-0 sm:p-0 hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.3s"
        >
          <h5 class="mb-2 py-4 text-xl text-[#00000] font-semibold">
            Safe to home or campus
          </h5>
          <p class="py-4"  >
            <strong>Moving to college</strong> is exciting but stressful. With Cayad Auto Transport, you get your car to campus safely and affordably. No stress, no hassle!
          </p>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.5s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h5 class="mb-2 py-4 text-xl text-[#00000] font-semibold">
              No driving alone
            </h5>
            <p class="py-4"  >
              Skip the risk. <strong>Ship your car to college</strong> safely with Cayad Auto Transport, your reliable nationwide service to and from campus.
            </p>
          </div>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.7s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h5 class="mb-2 py-4 text-xl text-[#00000] font-semibold">
              Extra luggage allowed
            </h5>
            <p class="py-4"  >
              You’re allowed one suitcase or box (under 100 lbs.) in your trunk at no extra cost. Just remember, the trucker can check for unlawful items.
            </p>
          </div>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.9s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h5 class="mb-2 text-xl py-4 text-[#00000] font-semibold">
              Save time
            </h5>
            <p class="py-4"  >
              Driving across the country adds miles and stress to your car. Skip the hassle. Let Cayad Auto Transport handle your <strong>student car transport.</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <div class="mt-8">
          <h3 class="text-[1.5rem] font-bold">Your Trusted Car Shipping</h3>
          <p class="text-base mt-8">
            With Cayad, you get fast, reliable, and affordable <strong>car shipping</strong> designed for college students. We’re fully bonded, verified, and committed to giving you excellent service.
          </p>
        </div>
        <div class="mt-8">
          <h3 class="text-[1.5rem] font-bold">Affordable Auto Transport</h3>
          <p class="text-base mt-4">
            We know your student budget matters. With discounted cash pricing and flexible options, Cayad makes <strong>nationwide car shipping</strong> affordable and stress-free
          </p>
        </div>
      </div>
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/student1.webp" width="360" height="240" class="rounded-xl w-[90%] object-cover" alt="car transport some students on campus"/>
      </div>
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/student2.webp" width="360" height="240" class="rounded-xl w-[90%] object-cover" alt="car shipping for student in campus"/>
      </div>
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h2 class="text-[#00000] font-bold text-base">
          Flexible <a href="/for-individuals/door-to-door/" class="text-btn-blue hover:underline">Door-to-Door</a> Pickup and Delivery
        </h2>
        <p class="text-base mt-4">
          With Cayad, you enjoy flexible <a href="/for-individuals/door-to-door/" class="text-btn-blue hover:underline">door-to-door</a> service that fits your schedule. Whether you’re moving to campus or home, we make <strong>student car shipping</strong> easy, convenient, and reliable.
        </p>

        <h2 class="text-[#00000] font-bold mt-8 text-base">
          Excellent Customer Service
        </h2>
        <p class="text-base mt-4">
          Stay connected anytime! With Cayad, you can easily track your car’s journey by chatting with us, getting fast updates, friendly support, and no hassle.
        </p>
      </div>
    </div>
  </div>

  <div class="w-full flex p-4 justify-center">
    <div
      class="w-[80%] xs:w-full sm:w-full flex xs:flex-col sm:flex-col justify-around"
    >
      <div class="w-1/2 xs:w-full sm:w-full p-2">
        <h2 class="text-[2.5rem] text-[#00000]">
          Cayad Auto Transport is your deal
        </h2>
        <p>
          <br>
          <li>Fast and Reliable Service ✔</li>
          <li>Premium Prices ✔</li>
          <br>
          <li>Professional Service ✔</li> 
          <li>Large Carrier Network ✔</li> 
          <br>
          <li>Rated 5/5 stars ✔</li>
        </p>
        <div class="mt-8">
          <NumberPhone />
        </div>
      </div>
      <CountNumber client:load />
    </div>
  </div>

  <div
    class="w-full flex mb-8 flex-col items-center xs:min-w-[100%] xs:px-0 sm:min-w-[100%] sm:px-0 mx-auto overflow-hidden px-0"
  >
    <div
      class="w-[80%] xs:min-w-[100%] xs:px-4 sm:min-w-[100%] sm:px-4 py-10 px-0"
    >
      <h2 class="text-4xl text-[#00000] font-medium mb-10">
        Top Reasons Students Choose Cayad
      </h2>
      <div
        class="grid grid-cols-2 md:grid-cols-1 sm:grid-cols-1 xs:grid-cols-1 gap-10"
      >
        <div class="wow" data-aos="fade-up" data-aos-delay="100">
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="300">
            <img src="/img/dollar.webp" width="1080" height="1080" class="w-24 h-20 mb-2" alt="car shipping dollar logo"/>
            <div class="ml-4">
              <h5 class="font-semibold">Premium Auto Transportation</h5>
              <p class="xs:text-start sm:text-start mb-0">
              You enjoy premium car shipping designed for students, expert handling, safe delivery, and a smooth process, all at a price that fits your budget. Focus on what matters while we handle your <strong>student car shipping</strong> with top-tier service.
              </p>
            </div>
          </div>
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="300">
            <img src="/img/easy.webp" width="1080" height="1080" class="w-24 h-20 mb-2" alt="car shipping easy logo"/>
            <div class="ml-4">
              <h5 class="font-semibold">A+ Team You Can Trust</h5>
              <p class="xs:text-start sm:text-start mb-0">
                You’re backed by an A+ claims team ready to support you. We ensure your car is safely moved and give you peace of mind with expert help every step of the way, so you can relax while we handle your <strong>student car shipping</strong>.
              </p>
            </div>
          </div>
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="500">
            <img src="/img/call.webp" width="120" height="120" class="w-24 h-24 mb-2" alt="car shipping call logo"/>
            <div class="ml-4">
              <h5 class="font-semibold">Expert Assistance</h5>
              <p class="xs:text-start sm:text-start mb-0">
                You get expert support at every step. Our trained team guides you through paperwork, answers your questions, and ensures your car is secured, making your <strong>student car shipping</strong> smooth and stress-free.
              </p>
            </div>
          </div>
        </div>
        <div
          class="w-[95%] wow"
          data-aos="fade-right"
          data-aos-delay="100"
          style="min-height: 400px;"
        >
          <div class="h-full">
            <img
              src="/img/student.webp"
              class="object-cover rounded-xl w-full h-full"
              width="850"
              height="374"
              alt="car shipping for students on class"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <ButtonScrollTop client:load />
</Layout>