---
import Layout from "../../../layouts/Layout.astro";
import GetQuoete from "../../../components/buttons/GetQuote.astro";
import Testimonials from "../../../components/Testimonials";
import ButtonScrollTop from "../../../components/buttons/ButtonScrollTop";
import SecondFooter from "../../../components/SecondFooter.astro";
---

<style>
  .custom-background {
    background:
      linear-gradient(hsla(250, 75%, 5%, 0.5), rgba(6, 3, 21, 0.5)),
      url("/img/dealer.webp") center center no-repeat;
    background-size: cover;
  }
</style>


<Layout title="Auto Dealers Shipping Nationwide U.S | Cayad Auto Transport"
content="Cayad Auto Transport has safely shipped 10,000+ vehicles to all 50 states. Read our 5 stars online reviews to hear more... !Get a Quote Now!">
  <div
    class="container-fluid flex flex-col items-center justify-center custom-background h-[60vh]"
  >
    <div class="w-[80%]">
      <h2
        class="text-white text-[4rem] xs:text-[1.8rem] sm:text-[1.8rem] font-bold"
      >
        Reach your sales goals faster than ever.
      </h2>
      <h1 class="text-white text-lg font-semibold">
        Cayad Auto Transport is the most cost effective solution in USA
      </h1>
      |<GetQuoete />
    </div>
  </div>

  <div class="w-full mt-12 flex justify-center mb-8">
    <Testimonials title="Our Customer Say" client:load />
  </div>

  <div
    class="w-full bg-sky-50 py-8 h-max mt-12 mb-12 flex flex-col items-center"
  >
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h2 class="text-[#19171fd2] font-semibold text-[2.5rem]">
          Auto transport services for dealerships that deliver value
        </h2>
        <p class="text-base mt-8">
          Overburdened internal resources, lack of visibility and tracking in
          the supply chain, unresponsive carrier partners...what obstacles stand
          in your way of operational excellence for your dealership? We can help
          you overcome them.
          <br />
          <br />

          With Cayads portfolio of business solutions, you will find the
          resources you need to ensure you have the market resiliency and
          capacity necessary for future growth. We incorporate reliable service
          and powerful technology into our solutions at every stage of a
          vehicles lifecycle to improve efficiency for shippers, carriers and
          end consumers.
        </p>
      </div>
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/dealership_circle_1.webp" class="rounded-xl" />
      </div>
    </div>
  </div>

  <div class="w-full flex justify-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex flex-col"
    >
      <h2 class="text-[38px] font-semibold">
        Get the speed and reliability you expect
      </h2>
      <p class="text-[#555] mt-4 text-sm">
        Cayad has the expertise to manage all types of moves manufacturer to
        dealer, dealer to dealer, dealer to auction, auction to auction, dealer
        to consumer or consumer to dealer.
      </p>
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/dealership_circle_2.webp" class="rounded-xl" />
      </div>
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h2 class="text-[#19171fd2] font-semibold text-[2.5rem]">
          Capacity with flexibility
        </h2>
        <p class="text-base mt-8">
          Cayad is extensive nationwide carrier network of over 15,000 ensures
          consistent and available capacity along with the ability to weather
          market fluctuations with ease.
        </p>

        <p class="text-base mt-8">
          How do you need it shipped? We can secure open or enclosed
          transportation, expedited shipping or create a custom solution to meet
          your exact requirements.
        </p>
      </div>
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h2 class="text-[#19171fd2] font-semibold text-[2.5rem]">
          Single unit to full-load capacity
        </h2>
        <p class="text-base mt-8">
          With a foundation in the retail market, Cayad Auto Transport is the
          industrys leader in single vehicle moves. Even if you just have one
          or two units to move, you need transportation fast, Cayad Auto
          Transport fast.
        </p>

        <p class="text-base mt-8">
          When your dealership has a large number of vehicles to transport, rely
          on Cayad Auto Transport. We can handle high volume, multiple full
          loads for cars and trucks as well as motorcycles, powersports,
          inoperable vehicles and more.
        </p>
      </div>
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/dealership_circle_3.avif" class="rounded-xl" />
      </div>
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/dealership_circle_4.webp" class="rounded-xl" />
      </div>
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h2 class="text-[#19171fd2] font-semibold text-[2.5rem]">
          Reliable pricing and delivery
        </h2>
        <p class="text-base mt-8">
          Cayad Auto Transport has multiple ways to provide you with pricing
          information. We have a transportation specialist that check the market
          to offer spot quotes, customize set pricing to fit your exact needs or
          provide contract pricing.
        </p>

        <p class="text-base mt-8">
          Once you have the order and it is ready for transportation, Cayad Auto
          Transport is ready with speedy dispatch and transit times. We can
          respond to your fluctuating schedule and move vehicles on and off your
          lots faster to decrease cycle time.
        </p>
      </div>
    </div>
  </div>

  <div class="w-full h-max flex justify-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:p-4 sm:p-4 h-max bg-[#f5f7fa] p-8"
    >
      <h2 class="text-[38px] font-semibold">
        Centralize your vehicle transportation and focus on profit-building
        activities
      </h2>

      <p class="text-base mt-8">
        For dealerships spending more time transporting vehicles than selling
        them, we offer our Managed Services solution. Cayad Auto Transport is
        the industry leader in single unit moves and can help you save time and
        money, not to mention relieve a few headaches.
      </p>

      <p class="text-base mt-8">
        Without the latest technology and experienced staff, it is difficult to
        successfully manage the transport of your wholesale units. That is where
        leveraging the services of a third party provider can be a game changer.
        Cayad Auto Transport brings together cutting-edge software,
        transportation expertise and a 15,000-carrier network to deliver value
        and efficiency to dealerships seeking to run their businesses more
        profitably.
      </p>
      <div
        class="grid grid-cols-4 md:grid-cols-2 sm:grid-cols-2 xs:grid-cols-1 mt-[4rem] w-full"
      >
        <div
          class="border-r-2 border-r-[#00a1ef] xs:mt-8 xs:border-b-2 xs:border-r-0 xs:border-b-[#00a1ef] h-44 flex flex-col items-center"
        >
          <div class="h-[60%]">
            <img src="/img/logo4.png" alt="logo4" class="h-[100%]" />
          </div>
          <p>
            Lower your
            <br />
            shipping costs
          </p>
        </div>

        <div
          class="border-r-2 border-r-[#00a1ef] xs:mt-8 md:border-0 sm:border-0 xs:border-b-2 xs:border-r-0 xs:border-b-[#00a1ef] h-44 flex flex-col items-center"
        >
          <div class="h-[60%]">
            <img src="/img/logo3.png" alt="logo3" srcset="" class="h-[100%]" />
          </div>
          <p>
            Lower your
            <br />
            shipping issues
          </p>
        </div>

        <div
          class="border-r-2 border-r-[#00a1ef] xs:mt-8 xs:border-b-2 xs:border-r-0 xs:border-b-[#00a1ef] h-44 flex flex-col items-center"
        >
          <div class="h-[60%]">
            <img src="/img/logo2.png" alt="logo2" srcset="" class="h-[100%]" />
          </div>
          <p>
            Lower your
            <br />
            shipping time
          </p>
        </div>

        <div class="h-44 flex xs:mt-8 flex-col items-center">
          <div class="h-[60%]">
            <img src="/img/logo1.png" alt="logo1" srcset="" class="h-[100%]" />
          </div>
          <p>
            Lower your
            <br />
            shipping attention
          </p>
        </div>
      </div>
    </div>
  </div>

  <SecondFooter />
  <ButtonScrollTop client:load />
</Layout>