---
import Layout from "../../../layouts/Layout.astro";
import GetQuoete from "../../../components/buttons/GetQuote.astro";
import Testimonials from "../../../components/Testimonials";
import ButtonScrollTop from "../../../components/buttons/ButtonScrollTop";
import SecondFooter from "../../../components/SecondFooter.astro";
---
<link rel="canonical" href="https://cayadservices.com/for-businesses/auto-dealers" />
<style>
  .custom-background {
    background:
      linear-gradient(hsla(250, 75%, 5%, 0.5), rgba(6, 3, 21, 0.5)),
      url("/img/dealer.webp") center center no-repeat;
    background-size: cover;
  }
</style>


<Layout title="Auto Dealers Shipping Nationwide U.S | Cayad Auto Transport"
content="Cayad Auto Transport has safely shipped 10,000+ vehicles to all 50 states. Read our 5 stars online reviews to hear more... !Get a Quote Now!">
  <div
    class="container-fluid flex flex-col items-center justify-center custom-background h-[60vh]"
  >
    <div class="w-[80%]">
      <p
        class="text-white text-[4rem] xs:text-[1.8rem] sm:text-[1.8rem] font-bold"
      >
        Reach your sales goals faster than ever.
      </p>
      <h1 class="text-white text-lg font-semibold">
        Cayad Auto Transport is the most cost effective solution in USA
      </h1>
      |<GetQuoete />
    </div>
  </div>

  <div class="w-full mt-12 flex justify-center mb-8">
    <Testimonials title="Real Auto Transport Testimonials" client:load />
  </div>

  <div
    class="w-full bg-sky-50 py-8 h-max mt-12 mb-12 flex flex-col items-center"
  >
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h2 class="text-[#19171fd2] font-semibold text-[2.5rem]">
          Auto Transport for Dealerships. Efficiency and Guaranteed Value
        </h2>
        <p class="text-base mt-8">
          Limited internal resources, lack of supply chain visibility, and unreliable carriers can disrupt your dealership’s operations. At Cayad Auto Transport, we help you overcome these challenges.
          <br />
          <br />
          Our comprehensive solutions provide the capacity and flexibility needed to support market growth. Throughout a vehicle’s entire lifecycle, we integrate advanced technology and reliable service to optimize logistics, benefiting dealerships, carriers, and end consumers
        </p>
      </div>
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/dealership_circle_1.webp" width="1000" height="667" class="rounded-xl" alt="car transport from dealership desk and laptop"/>
      </div>
    </div>
  </div>

  <div class="w-full flex justify-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex flex-col"
    >
      <h2 class="text-[38px] font-semibold">
        Speed and Reliability in Every Shipment. 
      </h2>
      <p class="text-[#555] mt-4 text-sm">
        We transport vehicles at every stage of the market: from manufacturers to dealerships, between dealerships, from dealerships to auctions, between auctions, and from dealerships to consumers or vice versa.
      </p>
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/dealership_circle_2.webp" width="1920" height="1280" class="rounded-xl" alt="car shipping hauler from dealership"/>
      </div>
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h2 class="text-[#19171fd2] font-semibold text-[2.5rem]">
          Flexible and Reliable Capacity

        </h2>
        <p class="text-base mt-8">
          With a nationwide network of over 15,000 carriers, Cayad Auto Transport guarantees consistent availability and seamless adaptability to market changes.
        </p>

        <p class="text-base mt-8">
          Need open or enclosed transport? Expedited shipping? A custom solution? We handle it all to meet your exact needs.
        </p>
      </div>
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h2 class="text-[#19171fd2] font-semibold text-[2.5rem]">
          Single Unit or Full-Load Transport
        </h2>
        <p class="text-base mt-8">
          As a leader in single-vehicle moves, Cayad Auto Transport ensures fast and reliable service, whether you need to move one car or several.
        </p>

        <p class="text-base mt-8">
          For high-volume shipments, count on us to handle multiple full loads, including cars, trucks, motorcycles, powersports, and inoperable vehicles.
        </p>
      </div>
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/dealership_circle_3.avif" width="626" height="417" class="rounded-xl" alt="car shipping from dealership inspection"/>
      </div>
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/dealership_circle_4.webp" width="728" height="498" class="rounded-xl" alt="car transport from dealership desk and calculator"/>
      </div>
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h2 class="text-[#19171fd2] font-semibold text-[2.5rem]">
          Reliable Pricing and Fast Delivery
        </h2>
        <p class="text-base mt-8">
          At Cayad Auto Transport, we offer flexible pricing options to meet your needs. Our transportation specialists monitor the market to provide spot quotes, custom pricing, or contract options based on your requirements.
        </p>

        <p class="text-base mt-8">
          Once your order is ready, we're set to dispatch quickly and ensure efficient transit. We adapt to your schedule, moving vehicles on and off your lots faster to reduce cycle time.
        </p>
      </div>
    </div>
  </div>

  <div class="w-full h-max flex justify-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:p-4 sm:p-4 h-max bg-[#f5f7fa] p-8"
    >
      <h2 class="text-[38px] font-semibold">
        Centralize Your Vehicle Transportation and Boost Your Profits 
      </h2>

      <p class="text-base mt-8">
        If your dealership is spending more time transporting vehicles than selling them, it’s time to make a change. With Cayad Auto Transport's Managed Services, you can save time, cut costs, and eliminate the headaches of vehicle logistics
      </p>

      <p class="text-base mt-8">
        Managing wholesale units can be overwhelming without the right technology and expertise. That’s where we come in. With advanced software, a team of experienced professionals, and access to a network of 15,000 carriers, Cayad Auto Transport offers the efficiency and value your dealership needs to focus on what really matters, growing your profits.
      </p>
      <div
        class="grid grid-cols-4 md:grid-cols-2 sm:grid-cols-2 xs:grid-cols-1 mt-[4rem] w-full"
      >
        <div
          class="border-r-2 border-r-[#00a1ef] xs:mt-8 xs:border-b-2 xs:border-r-0 xs:border-b-[#00a1ef] h-44 flex flex-col items-center"
        >
          <div class="h-[60%]">
            <img src="/img/logo4.webp" width="200" height="200" alt="auto transport for dealer cheaper logo" class="h-[100%]" />
          </div>
          <p>
            Lower your
            <br />
            shipping costs
          </p>
        </div>

        <div
          class="border-r-2 border-r-[#00a1ef] xs:mt-8 md:border-0 sm:border-0 xs:border-b-2 xs:border-r-0 xs:border-b-[#00a1ef] h-44 flex flex-col items-center"
        >
          <div class="h-[60%]">
            <img src="/img/logo3.webp" width="200" height="200" alt="car shipping dor dealers less issues logo" srcset="" class="h-[100%]" />
          </div>
          <p>
            Lower your
            <br />
            shipping issues
          </p>
        </div>

        <div
          class="border-r-2 border-r-[#00a1ef] xs:mt-8 xs:border-b-2 xs:border-r-0 xs:border-b-[#00a1ef] h-44 flex flex-col items-center"
        >
          <div class="h-[60%]">
            <img src="/img/logo2.webp" width="200" height="200" alt="auto transport for dealer less time logo" srcset="" class="h-[100%]" />
          </div>
          <p>
            Lower your
            <br />
            shipping time
          </p>
        </div>

        <div class="h-44 flex xs:mt-8 flex-col items-center">
          <div class="h-[60%]">
            <img src="/img/logo1.webp" width="200" height="200" alt="car shipping for dealers less attention logo" srcset="" class="h-[100%]"/>
          </div>
          <p>
            Lower your
            <br />
            shipping attention
          </p>
        </div>
      </div>
    </div>
  </div>

  <SecondFooter />
  <ButtonScrollTop client:load />
</Layout>