---
import Layout from "../layouts/Layout.astro";
---
<head>
  <!-- Google Tag Manager -->
  <script is:inline>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-NT3H9XXW");
  </script>
  <!-- End Google Tag Manager --></head
>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript
    ><iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-NT3H9XXW"
      height="0"
      width="0"
      style="display:none;visibility:hidden"></iframe></noscript
  >
  <!-- End Google Tag Manager (noscript) -->
<Layout title="Page Not Found | Cayad Auto Transport "
content="">
  <container
    class="h-screen w-[80%] xs:px-4 sm:px-4 xs:h-max sm:h-max flex xs:flex-col sm:flex-col xs:w-full sm:w-full items-center mx-auto"
  >
    <div class="w-[45%] xs:w-full sm:w-full h-max">
      <img src="/img/not-found.svg" alt="not-found" class="w-full" />
    </div>
    <div class="w-[45%] xs:w-full sm:w-full h-max">
      <h2 class="text-5xl text-[#19171fd2] font-semibold">
        We can not seem to find the page you are looking for.
      </h2>
      <p class="mt-4 font-semibold text-2xl text-[#555555]">
        but your car is still safe with us
      </p>
      <p class="mt-2 font-semibold text-xl text-[#555555]">
        Check out our <a class="text-btn-blue" href="/faqs/">Faqs</a> or
      </p>
      <a href="/">
        <button
          data-aos="fade-right"
          class="flex mt-4 min-w-[250px] max-w-[270px] items-center justify-center border mb-2 border-transparent bg-btn-blue px-8 py-3 text-base font-medium text-white hover:bg-btn-hover transition-colors duration-500 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
        >
          Home
        </button>
      </a>
    </div>
  </container>
</Layout>
</body>