---
import Layout from "../layouts/Layout.astro";
import Testimonials from "../components/Testimonials";
import FormLanding from "../components/forms/FormLanding";
import { FaCar } from "react-icons/fa6";
import { IoBoat } from "react-icons/io5";
import { FaStar } from "react-icons/fa";
import { FaMapMarked } from "react-icons/fa";
import GetQuote from "../components/buttons/GetQuote.astro";
import ButtonScrollTop from "../components/buttons/ButtonScrollTop";
import NumberPhone from "../components/NumberPhone.astro";
import ImageOg from "../../public/img/banner.webp";
---

<link rel="canonical" href="https://cayadservices.com" />
<style>
  .service-item:hover img,
  .team-item:hover img {
    /* transform: scale(1.1); */
  }

  .service-item a.btn-slide,
  .price-item a.btn-slide,
  .team-item div.btn-slide {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 0;
  }

  .service-item a.btn-slide i,
  .service-item a.btn-slide span,
  .price-item a.btn-slide i,
  .price-item a.btn-slide span,
  .team-item div.btn-slide i,
  .team-item div.btn-slide span {
    position: relative;
    height: 40px;
    padding: 0 15px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
    background: #00a1ef;
    border-radius: 0 35px 35px 0;
    transition: 0.5s;
    z-index: 2;
  }

  .team-item div.btn-slide span a i {
    padding: 0 10px;
  }

  .team-item div.btn-slide span a:hover i {
    background: #007bef;
  }

  .service-item a.btn-slide span,
  .price-item a.btn-slide span,
  .team-item div.btn-slide span {
    padding-left: 0;
    left: -100%;
    z-index: 1;
  }

  .service-item:hover a.btn-slide i,
  .price-item:hover a.btn-slide i,
  .team-item:hover div.btn-slide i {
    border-radius: 0;
  }

  .service-item:hover a.btn-slide span,
  .price-item:hover a.btn-slide span,
  .team-item:hover div.btn-slide span {
    left: 0;
  }

  .service-item a.btn-slide:hover i,
  .service-item a.btn-slide:hover span,
  .price-item a.btn-slide:hover i,
  .price-item a.btn-slide:hover span {
    background: #007bef;
  }

  .texts-container {
    display: inline-block;
    height: 40px;
    overflow: hidden;
    color: #ffffff;
    text-shadow: 0 0 10px rgb(0, 0, 0);
  }

  .texts-container span {
    display: block;
    animation: moveUp 6s infinite;
  }

  .image--banner {
    background-image: url("../../public/img/banner.webp");
    background-size: 100% 100%;
  }

  .adjust--img {
    background-size: 90% 50%;
  }

  @keyframes moveUp {
    0% {
      transform: translateY(0);
    }

    25% {
      transform: translateY(-26%);
    }

    50% {
      transform: translateY(-51%);
    }

    75% {
      transform: translateY(-76%);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .fadeInUp {
    animation-name: fadeInUp;
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fadeIn {
    animation-name: fadeIn;
    animation-duration: 6s;
    animation-fill-mode: both;
  }

  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .fadeInRight {
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
</style>

<Layout
  title="Car Shipping Nationwide In USA | Cayad Auto Transport"
  content="Cayad Auto Transport has safely shipped 10,000+ vehicles to all 50 states. Read our 5 stars online reviews to hear more about. Call us"
>
  <section
    class="relative image--banner h-screen xs:h-max md:h-max lg:h-max w-full"
  >
    <div
      class="inset-0 w-full h-full flex flex-row justify-around xs:flex-col sm:flex-col md:flex-col items-center bg-[rgba(6,3,21,0.5)]"
    >
      <div
        class="w-[65%] xl:w-[50%] lg:w-[50%] xs:w-full sm:w-full md:w-2/1 p-4 md:p-8"
      >
        <div class="row justify-start">
          <div class="col-10 lg:col-8 xs:px-2 px-20">
            <p class="changing-text text-white text-4xl">
              WE DELIVER
              <div class="texts-container">
                <span>
                  CARS-SUVS-TRUCKS<br />
                  MOTORCYCLES-ATV<br />
                  RVS-HEAVY HAULS<br />
                  ...
                </span>
              </div>
            </p>
            <h1 class="text-lg font-medium text-white mb-3 mt-2 pb-2">
              Cayad Auto Transport is the most cost-effective car shipper in the
              U.S
            </h1>
            <GetQuote />
          </div>
        </div>
      </div>
      <FormLanding client:load />
    </div>
  </section>

  <div
    class="w-full h-[450px] flex items-center justify-center"
    data-aos="fade-up"
    data-wow-delay="0.1s"
  >
    <Testimonials title="Real Auto Transport Testimonials" client:load />
  </div>

  <div
    class="container-wrapper xs:mt-4 sm:w-full sm:mt-4 xs:px-2 sm:px-2 md:w-full md:px-8 lg:px-20 xl:px-28 px-48"
  >
    <h2 class="text-5xl text-h1-landing font-normal mb-4">Tracking</h2>
    <p class="text-xl font-normal mb-4">
      The best way to verify the location of your auto transport on the road at
      all times.
    </p>
    <div
      class="flex flex-row bg-gray-300 text-gray-800 justify-center xs:flex-col xs:px-3 xs:h-max sm:w-full sm:flex-col sm:px-3 sm:h-max md:w-full md:flex-col md:justify-center md:h-max xl:flex-row items-center h-700 mb-3"
    >
      <div
        class="min-w-300px xs:mr-0 xs:mt-4 xs:mb-2 sm:mt-4 sm:mb-4 md:mt-4 xl:min-w-[300px] xl:px-4 md:mr-0 max-w-xl min-h-64 mr-4 mb-14"
        data-aos="fade-right"
        data-wow-delay="0.1s"
      >
        <img
          src="/img/track.webp"
          class="rounded-xl"
          style="object-fit: cover; width: 100%;"
          alt="car shipping gps tracking"
          width="1080"
          height="810"
        />
      </div>
      <div
        class="w-2/5 xs:w-full sm:w-full md:w-11/12 xl:w-1/2 xl:mt-8 ml-4"
        data-wow-delay="0.5s"
      >
        <div class="row g-4 mb-5">
          <div data-wow-delay="0.5s">
            <h3 class="text-3xl text-h3-title font-medium">GPS tracking</h3>
            <p class="m-0 text-gray-800">
              It's our new GPS tracking system. With it, you can have complete
              real-time tracking with full ETA inspection and <a
                href="/pdfs/sample-bill-of-lading.pdf"
                class="text-btn-blue hover:underline text-lg">BOL</a
              >
              sharing all in one place.
              <br /><br />
              Using the GPS tracker you will be able to:
              <br /><br />
              <ol class="ml-4">
                <li class="text-gray-800">
                  1. Get constant updates of your vehicle's location.
                </li>
                <li class="text-gray-800">2. Bill of lading (BOL).</li>
                <li class="text-gray-800">
                  3. Estimated Time of Arrival (ETA).
                </li>
                <li class="text-gray-800">4. Shareable via link.</li>
              </ol>
              <br />
            </p>
            <p class="text-gray-800">
              Within our systems, more than 70% of loads have guaranteed
              tracking and participation of the operator's GPS.
            </p>
          </div>
        </div>
        <div
          class="hiw-cta-wrap xs:mb-4 md:mb-4 sm:mb-4 sm:flex-col xl:mb-8 xl:flex-row flex flex-row w-full items-center justify-end"
        >
          <a
            href="/quote/"
            id="Get Free Quote - Desktop - In Content"
            class="with-mb-24 mr-1 js-animate-cta button-primary button-hover-effect tg-pcta-incontent cta-animation"
          >
            <span
              class="mt-6 flex w-42 rounded items-center justify-center border border-transparent bg-btn-blue px-8 py-3 text-base font-medium text-white hover:bg-btn-hover transition-colors duration-500 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2"
              >Get a Quote</span
            >
            <a
              class="mt-6 ml-1 flex w-42 items-center rounded justify-center border border-btn-blue hover:bg-btn-hover hover:text-white transition-colors duration-500 ease-in-out focus:outline-none bg-white px-8 py-3 text-base font-medium text-btn-blue focus:ring-2 focus:ring-offset-2"
              href="/how-auto-transport-works/"
              class="with-mb-24 button-secondary button-hover-effect tg-scta-how-auto-transport-works"
            >
              <span class="button-text">Learn more</span>
            </a>
          </a>
        </div>
      </div>
    </div>

    <div
      class="py-5 w-full flex xs:mt-12 sm:mt-12 xs:py-0 sm:py-0 flex-row xs:flex-col xs:items-center sm:flex-col sm:items-center md:flex-col md:items-center lg:flex-col lg:items-center justify-between"
    >
      <div
        class="w-[60%] h-[550px] xs:w-[100%] px-2 xs:max-h-[340px] xs:mb-4 sm:max-h-[340px] sm:mb-4 md:w-[100%] md:mb-4 md:max-h-[340px] md:px-8 lg:w-[80%] xl:w-[55%] xs:mr-0 mr-4 sm:w-full sm:mr-0 min-h-[300px]"
        data-aos="fade-right"
        data-aos-delay="100"
      >
        <img
          src="img/img-home.webp"
          class="adjust--img rounded-xl w-full h-[80%] xs:h-[100%] sm:h-[100%] md:h-[100%]"
          alt="car shipping hotshot"
          width="1600"
          height="708"
        />
      </div>
      <div
        class="w-[40%] lg:w-[80%] xs:mt-4 sm:mt-4 xs:w-[100%] xs:px-2 sm:w-[100%] sm:px-4 md:w-full md:px-8"
      >
        <!-- <h6 class="text-secondary text-uppercase mb-3">Why Us</h6> -->
        <h2 class="text-3xl text-[#19171fd2] font-bold mb-3">
          Why you should book with the most cost effective auto shipping
          company:
        </h2>
        <!-- <p class="mb-5">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p> -->
        <div
          class="grid grid-cols-2 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 xs:px-0 sm:px-0 gap-8"
        >
          <div class="fadeIn" data-aos="fade-up" data-aos-delay="500">
            <!-- <i class="fa fa-globe fa-3x text-primary mb-3"></i> -->
            <img
              src="../img/call.webp"
              class="w-24 mb-2"
              width="120"
              height="120"
              alt="car shipping call logo"
            />
            <h5 class="text-lg font-semibold text-[#19171fd2]">
              Dedicated advisors
            </h5>
            <p class="xs:text-justify sm:text-justify">
              Our auto transport specialists led by <a
                href="/why-us/our-team/"
                class="text-btn-blue hover:underline">the executive team</a
              > work passionately to ensure you are with the most cost-effective
              auto transport company.
            </p>
          </div>
          <div class="fadeIn" data-aos="fade-up" data-aos-delay="700">
            <!-- <i class="fa fa-shipping-fast fa-3x text-primary mb-3"></i> -->
            <img
              src="../img/insurance.webp"
              class="w-24 mb-2"
              width="120"
              height="120"
              alt="car transport insurance logo"
            />
            <h5 class="text-lg font-semibold text-[#19171fd2]">
              Insurance coverage
            </h5>
            <p class="xs:text-justify sm:text-justify">
              Car transport companies include insurance coverage in your
              shipping quote. Our selected auto haulers must meet insurance
              standards before qualifying to be part of our carrier network.
            </p>
          </div>
        </div>
        <a
          href="/quote/index.html"
          class="btn bg-primary text-white py-3 px-5 me-3">Get a Quote</a
        >
      </div>
    </div>

    <div
      class="container xs:min-w-[100%] xs:py-0 sm:py-0 xs:px-2 sm:min-w-[100%] sm:px-4 md:w-full md:px-4 mx-auto py-5"
    >
      <div
        class="grid grid-cols-2 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 gap-10 py-5"
      >
        <div class="wow fadeInUp" data-aos="fade-up" data-aos-delay="100">
          <!-- <h6 class="text-secondary text-uppercase mb-3">Some Facts</h6> -->
          <h2 class="text-3xl font-bold mb-3">Auto shipping costs</h2>
          <p class="mb-2">
            The prices of car transport companies are based on current trends in
            the national vehicle transport industry. The total cost from car
            shipping companies will depend on:
            <ol class="list-decimal list-inside">
              <li>Size and weight of the vehicle to be transported.</li>
              <li>Distance to be covered.</li>
              <li>Availability of the route.</li>
              <li>Condition of the vehicle (modifications).</li>
              <li>
                Type of transport (open, enclosed, <a
                  href="/for-businesses/heavy-haul/"
                  class="text-btn-blue hover:underline">heavy-duty shipping).</a
                >
              </li>
              <li>The time of year when you make the reservation.</li>
            </ol>
          </p><br />
          <p class="mb-4">
            Get a <a
              href="/quote/index.html"
              class="text-btn-blue hover:underline">free quote</a
            > using our quote request form or use our live chat to inquire about
            our promotions and additional savings.
          </p>

          <NumberPhone />
        </div>
        <div>
          <div
            class="grid grid-cols-2 xs:grid-cols-1 sm:grid-cols-2 gap-4 items-center"
          >
            <div
              class="bg-btn-blue p-4 min-w-[300px] hover:scale-y-110 hover:scale-x-105 transition delay-150 duration-300 ease-in-out max-w-[400px] lg:min-w-[250px] lg:max-w-[300px] xs:min-w-[100%] mb-4 wow"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <FaCar className=" text-4xl mb-2 text-[#FFFF]" />
              <i class="fa fa-car fa-2x text-white mb-3"></i>
              <h5 class="text-white mb-2">he Size and Weight of the Vehicle</h5>
              <p class="text-white mb-0">
                Longer, taller, or heavier vehicles require special
                accommodations, leading to tailored pricing. This ensures your
                vehicle receives the precise care it needs for a secure
                transportation experience.
              </p>
            </div>
            <div
              class="bg-[#51CFED] min-w-[300px] hover:scale-y-110 hover:scale-x-105 transition delay-150 duration-300 ease-in-out max-w-[400px] lg:min-w-[250px] lg:max-w-[300px] xs:min-w-[100%] p-4 wow"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              <IoBoat className=" text-4xl mb-2 text-[#FFFF]" />
              <h5 class="text-white mb-2">Vehicle Condition</h5>
              <p class="text-white mb-0">
                Inoperable vehicles that can’t roll, turn, or brake need extra
                tools and specialized care. Though this involves additional
                resources, it ensures your vehicle is handled with precision for
                a smooth, secure transport.
              </p>
            </div>
            <div
              class="bg-[#198754] min-w-[300px] hover:scale-y-110 hover:scale-x-105 transition delay-150 duration-300 ease-in-out max-w-[400px] lg:min-w-[250px] lg:max-w-[300px] xs:min-w-[100%] p-4 mb-4 wow"
              data-aos="fade-up"
              data-aos-delay="700"
            >
              <FaStar className=" text-4xl mb-2 text-[#FFFF]" />
              <h5 class="text-white mb-2">Type of Transport</h5>
              <p class="text-white mb-0">
                Choosing the right transport depends on your needs. Open
                transport is cost-effective for all vehicles, while enclosed
                transport, requiring special handling, is ideal for motorcycles
                and luxury cars.
              </p>
            </div>
            <div
              class="bg-[#dc3545] min-w-[300px] hover:scale-y-110 hover:scale-x-105 transition delay-150 duration-300 ease-in-out max-w-[400px] lg:min-w-[250px] lg:max-w-[300px] xs:min-w-[100%] p-4 wow"
              data-aos="fade-up"
              data-aos-delay="700"
            >
              <FaMapMarked className=" text-4xl mb-2 text-[#FFFF]" />
              <h5 class="text-white mb-2">Shipping Distance</h5>
              <p class="text-white mb-0">
                Longer distances generally lead to higher total prices, but
                lower costs per mile. As your vehicle travels farther, you'll
                benefit from cost savings with an auto transporter.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="container xs:mt-4 sm:mt-4 xs:min-w-[100%] sm:min-w-[100% mx-auto py-0"
      id="services"
      style="padding-bottom: 0rem;"
    >
      <div class="container xs:min-w-[100%] sm:min-w-[100%] py-0">
        <div class="text-center wow" data-aos="fade-up" data-aos-delay="100">
          <h2 class="text-3xl text-[#19171fd2] font-bold mb-10">
            Popular auto transport services
          </h2>
        </div>
        <div
          class="grid grid-cols-3 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
        >
          <div class="wow" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item shadow p-4">
              <div class="overflow-hidden mb-4">
                <img
                  class="w-full rounded-xl h-auto"
                  src="../img/door-image.webp"
                  width="543"
                  height="724"
                  alt="door to door car shipping"
                />
              </div>
              <h4 class="text-xl font-semibold mb-3">Door to Door Shipping</h4>
              <p>
                Our door-to-door service is the most convenient way to ship your
                car. You just provide the addresses and the truck driver will
                pick up and drop off your vehicle as close as possible to your
                door.
              </p>
              <a
                class="btn-slide mt-4 text-blue-500 hover:underline"
                href="/for-individuals/door-to-door/"
                ><i class="fa fa-arrow-right"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-3 w-5 stroke-2"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                      clip-rule="evenodd"></path>
                  </svg>
                </i><span>Read More</span></a
              >
            </div>
          </div>
          <div class="wow" data-aos="fade-up" data-aos-delay="700">
            <div class="service-item shadow-sm p-4">
              <div class="overflow-hidden mb-4">
                <img
                  class="w-full rounded-xl h-auto"
                  src="../img/enclosed-car.webp"
                  width="1600"
                  height="1200"
                  alt="enclosed car shipping"
                />
              </div>
              <h4 class="text-xl font-semibold mb-3">Enclosed Car Transport</h4>
              <p>
                Shipping your vehicle in an enclosed trailer ensures its better
                protected and arrives sooner to the destination.
              </p>
              <a
                class="btn-slide mt-2 text-blue-500 hover:underline"
                href="/for-individuals/enclosed-auto-transport/"
                ><i class="fa fa-arrow-right"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-3 w-5 stroke-2"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                      clip-rule="evenodd"></path>
                  </svg></i
                ><span>Read More</span></a
              >
            </div>
          </div>
          <div class="wow" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item shadow-sm p-4">
              <div class="overflow-hidden mb-4">
                <img
                  class="w-full rounded-xl h-auto"
                  src="/img/open-car.webp"
                  width="1600"
                  height="900"
                  alt="open auto transport hotshot"
                />
              </div>
              <h4 class="text-xl font-semibold mb-3">Open Auto Transport</h4>
              <p>
                Our open trailers offer the most cost-effective option to
                transport your car, making sure it arrives safely.
              </p>
              <a
                class="btn-slide mt-2 text-blue-500 hover:underline"
                href="/for-individuals/open-car-transport/"
                ><i class="fa fa-arrow-right"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-3 w-5 stroke-2"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                      clip-rule="evenodd"></path>
                  </svg></i
                ><span>Read More</span></a
              >
            </div>
          </div>
          <div class="wow" data-aos="fade-up" data-aos-delay="900">
            <div class="service-item shadow-sm p-4">
              <div class="overflow-hidden mb-4">
                <img
                  class="w-full rounded-xl h-auto"
                  src="/img/motorcycle1.webp"
                  width="2560"
                  height="1920"
                  alt="motorcycle transport"
                />
              </div>
              <h4 class="text-xl font-semibold mb-3">Motorcycle Shipping</h4>
              <p>
                At Cayad we use experienced drivers who have the skills and
                equipment to properly load, secure and transport motorcycles,
                scooters, ATVs, UTVs and power-sports.
              </p>
              <a
                class="btn-slide mt-2 text-blue-500 hover:underline"
                href="/for-individuals/motorcycle-shipping/"
                ><i class="fa fa-arrow-right"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-3 w-5 stroke-2"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                      clip-rule="evenodd"></path>
                  </svg></i
                ><span>Read More</span></a
              >
            </div>
          </div>
          <div class="wow" data-aos="fade-up" data-aos-delay="1000">
            <div class="service-item shadow-sm p-4">
              <div class="overflow-hidden mb-4">
                <img
                  class="w-full rounded-xl h-auto"
                  src="/img/classic-car5.webp"
                  width="1978"
                  height="1085"
                  alt="classic car shipping"
                />
              </div>
              <h4 class="text-xl font-semibold mb-3">
                Collectors Car Transport
              </h4>
              <p>
                We transport classic and exotic cars all the time, these
                vehicles require special equipment and handling, we make sure
                they reach their destination in pristine condition.
              </p>
              <a
                class="btn-slide mt-2 text-blue-500 hover:underline"
                href="/for-individuals/classic-cars-auto-transport/"
                ><i class="fa fa-arrow-right"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-3 w-5 stroke-2"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                      clip-rule="evenodd"></path>
                  </svg></i
                ><span>Read More</span></a
              >
            </div>
          </div>
          <div class="wow" data-aos="fade-up" data-aos-delay="1100">
            <div class="service-item h-max shadow-sm p-4">
              <div class="overflow-hidden mb-4">
                <img
                  class="w-full rounded-xl h-auto"
                  src="/img/resellerx360.webp"
                  width="1024"
                  height="576"
                  alt="car shipping for resellers"
                />
              </div>
              <h4 class="text-xl font-semibold mb-3">
                Auction & Dealership Transport
              </h4>
              <p>
                We offer special discounts to customers that need to haul
                multiple vehicles. We can pick up and deliver vehicles from
                dealerships, auctions, ports and businesses.
              </p>
              <a
                class="btn-slide mt-2 text-blue-500 hover:underline"
                href="/for-individuals/car-resellers-auto-transport/"
                ><i class="fa fa-arrow-right"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-3 w-5 stroke-2"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                      clip-rule="evenodd"></path>
                  </svg></i
                ><span>Read More</span></a
              >
              <br />
              <div class="mt-8">
                <a
                  class="text-btn-blue hover:underline mt-4"
                  href="./how-auto-transport-works/"
                  >Find out how auto transport works</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="container xs:min-w-[100%] xs:px-2 sm:min-w-[100%] sm:px-2 mx-auto overflow-hidden px-0"
    >
      <div
        class="container xs:min-w-[100%] xs:px-2 sm:min-w-[100%] sm:px-2 py-10 px-0"
      >
        <h2 class="text-4xl text-[#19171fd2] font-medium mb-10">
          Why should you trust in Cayad auto transport?
        </h2>
        <div
          class="grid grid-cols-2 md:grid-cols-1 sm:grid-cols-1 xs:grid-cols-1 gap-10"
        >
          <div class="wow" data-aos="fade-up" data-aos-delay="100">
            <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="300">
              <img
                src="../img/dollar.webp"
                width="1080"
                height="1080"
                class="w-24 h-20 mb-2"
                alt="vehicle shipping dollar logo"
              />
              <div class="ml-4">
                <h5 class="font-semibold">Zero upfront payment</h5>
                <p class="xs:text-start sm:text-start mb-0">
                  You read that right, no upfront payment! The best auto
                  transport companies charge you once the carrier has been
                  dispatched for your car shipping order. So, you can book with
                  us now and not worry about the bill until later.
                </p>
              </div>
            </div>
            <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="300">
              <img
                src="../img/countries.webp"
                width="1080"
                height="1080"
                class="w-24 h-20 mb-2"
                alt="car transport usa map logo"
              />
              <div class="ml-4">
                <h5 class="font-semibold">20K+ auto carriers</h5>
                <p class="xs:text-start sm:text-start mb-0">
                  Cayad Auto Transport has a huge network of haulers who are
                  personally vetted auto shipping experts, ensuring your vehicle
                  is transported by trusted members of the industry. These
                  shipping companies will treat your vehicles like their own.
                </p>
              </div>
            </div>
            <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="500">
              <img
                src="../img/easy.webp"
                width="1080"
                height="1080"
                class="w-24 h-24 mb-2"
                alt="car shipping easy logo"
              />
              <div class="ml-4">
                <h5 class="font-semibold">Personalized approach</h5>
                <p class="xs:text-start sm:text-start mb-0">
                  Cayad Auto Transport works with you through every step of your
                  vehicle route. Experience hassle-free shipping when you choose
                  us as your car transporter and enjoy an easy and painless
                  shipment process.
                </p>
              </div>
            </div>
            <div class="flex mb-0 wow" data-aos="fade-up" data-aos-delay="700">
              <img
                src="../img/stars.webp"
                width="500"
                height="500"
                class="w-24 h-24 mb-2"
                alt="auto transport stars logo"
              />
              <div class="ml-4">
                <h5 class="font-semibold">The most cost effective company</h5>
                <p class="xs:text-start sm:text-start mb-0">
                  Cayad is the most cost effective <a
                    href="/why-us/reviews/"
                    class="text-btn-blue underline">5 Stars</a
                  > auto transport company, so your car will get from point A to
                  point B without you having to break a single sweat. By having your
                  car delivered straight to your door, you are allowing the specialists
                  to handle every step of the process and ensure there are no speed
                  bumps along the way.
                </p>
              </div>
            </div>
          </div>
          <div
            class="relative wow"
            data-aos="fade-right"
            data-aos-delay="100"
            style="min-height: 400px;"
          >
            <div class="h-full">
              <img
                src="img/company.webp"
                width="1080"
                height="810"
                class="object-cover rounded-xl w-full h-full"
                alt="auto transport hauler 9 spots"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="container xs:min-w-[100%] xs:mt-4 sm:mt-4 xs:py-0 sm:py-0 xs:items-center xs:flex xs:flex-col sm:min-w-[100%] sm:items-center sm:flex sm:flex-col mx-auto py-10"
    >
      <div class="text-center mb-10" data-aos="fade-up" data-aos-delay="100">
        <h2 class="text-3xl font-bold mb-5">Our Partners</h2>
      </div>

      <div
        class="grid grid-cols-4 xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-4"
      >
        <div
          class="col min-w-[300px] max-w-[350px] min-h-[300px] items-center max-h-[320px]"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <a href="https://www.movecars.com/cayadservicesLLC" target="_blank">
            <div
              class="bg-white h-full w-full rounded-lg flex items-center hover:shadow-lg"
            >
              <img
                src="../img/part1.webp"
                width="357"
                height="274"
                class="w-[80%] mx-auto"
                alt="car shipping central dispatch logo"
              />
            </div>
          </a>
        </div>

        <div
          class="col min-w-[300px] max-w-[350px] min-h-[300px] max-h-[320px]"
          data-aos="fade-up"
          data-aos-delay="500"
        >
          <a href="https://www.chase.com/" target="_blank">
            <div
              class="bg-white h-full w-full rounded-lg flex items-center hover:shadow-lg"
            >
              <img
                src="../img/part2.webp"
                width="640"
                height="427"
                class="bg-cover mx-auto"
                alt="car shipping chase bank logo"
              />
            </div>
          </a>
        </div>

        <div
          class="col min-w-[300px] max-w-[350px] min-h-[300px] max-h-[320px]"
          data-aos="fade-up"
          data-aos-delay="700"
        >
          <a href="https://www.iaai.com/" target="_blank">
            <div
              class="bg-white h-full w-full flex items-center rounded-lg hover:shadow-lg"
            >
              <img
                src="../img/part3.webp"
                width="512"
                height="329"
                class="w-[70%] mx-auto"
                alt="auto transport iaa logo"
              />
            </div>
          </a>
        </div>

        <div
          class="col min-w-[300px] max-w-[350px] min-h-[300px] max-h-[320px]"
          data-aos="fade-up"
          data-aos-delay="900"
        >
          <a href="https://g.page/r/Cf5Y4UM2AWGtEAI/review" target="_blank">
            <div
              class="bg-white h-full w-full rounded-lg flex items-center hover:shadow-lg"
            >
              <img
                src="../img/part4.webp"
                width="382"
                height="391"
                class="bg-contain mx-auto"
                alt="car shipping google logo"
              />
            </div>
          </a>
        </div>

        <div
          class="col min-w-[300px] max-w-[350px] min-h-[300px] max-h-[320px]"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <a
            href="https://www.facebook.com/cayadservices/reviews"
            target="_blank"
          >
            <div
              class="bg-white h-full w-full rounded-lg flex items-center hover:shadow-lg"
            >
              <img
                src="/img/facebookReview2.webp"
                class="bg-contain mx-auto"
                width="311"
                height="162"
                alt="car shipping facebook reviews"
              />
            </div>
          </a>
        </div>

        <div
          class="col min-w-[300px] max-w-[350px] min-h-[300px] max-h-[320px]"
          data-aos="fade-up"
          data-aos-delay="500"
        >
          <a
            href="https://safer.fmcsa.dot.gov/query.asp?searchtype=ANY&query_type=queryCarrierSnapshot&query_param=USDOT&original_query_param=NAME&query_string=4091368&original_query_string=CAYAD%20SERVICES%20LLC"
            target="_blank"
          >
            <div
              class="bg-white h-full w-full rounded-lg flex items-center hover:shadow-lg"
            >
              <img
                src="../img/part6.webp"
                class="w-[70%] mx-auto"
                width="269"
                height="269"
                alt="car shipping fmcsa logo"
              />
            </div>
          </a>
        </div>

        <div
          class="col min-w-[300px] max-w-[350px] min-h-[300px] max-h-[320px]"
          data-aos="fade-up"
          data-aos-delay="700"
        >
          <a href="https://www.copart.com" target="_blank">
            <div
              class="bg-white h-full w-full rounded-lg flex items-center hover:shadow-lg"
            >
              <img
                src="../img/part7.webp"
                width="361"
                height="163"
                class="bg-contain mx-auto"
                alt="auto transport copart logo"
              />
            </div>
          </a>
        </div>

        <div
          class="col min-w-[300px] max-w-[350px] min-h-[300px] max-h-[320px]"
          data-aos="fade-up"
          data-aos-delay="900"
        >
          <div
            class="bg-white h-full w-full rounded-lg flex items-center hover:shadow-lg"
          >
            <img
              src="/img/super-dispatch.webp"
              width="2560"
              height="754"
              class="w-[100%] mx-auto"
              alt="auto transport super dispatch partner"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <ButtonScrollTop client:load />
</Layout>
