---
import FormQuote from "../../components/forms/FormQuote";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Cayad Auto Transport offers the most cost-effective car shipping service across the USA, !Get A Quote Now!" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/webp"
      href="/img/title-icon.webp"
      sizes="120x120"
    />
    <title>Car Shipping Quote | Cayad Auto Transport</title>
    
    <!--google tag head -->
        <script is:inline>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-N3DG6F8M');
    </script>
    <!--google tag head -->

  </head>
  <link rel="canonical" href="https://cayadservices.com/quote" />
  <div
    class="flex w-full h-screen md:h-[max-content] lg:h-[110vh] xl:h-[110vh] justify-center box-border bg-[#cccccc]"
  >
    <FormQuote client:load />
  </div>
  <body>
    <!--google tag body -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N3DG6F8M"
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!--google tag body -->
</html>
</body>
