---
import FormQuote from "../../components/forms/FormQuote";
---

<!doctype html>
<html lang="en">
  <head>
    <link
      rel="icon"
      type="image/webp"
      href="/img/title-icon.webp"
      sizes="120x120"
    />
    <title>Get Free Quote</title>
  </head>
  <body class="relative">
    <div class="flex w-full h-full justify-center relative bg-[#cccccc]">
      <FormQuote client:load />
    </div>
  </body>
</html>
