---
import FormQuote from "../../components/forms/FormQuote";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Cayad Auto Transport offers the most cost-effective solution for all your shipping needs across the USA, ensuring reliable service to every state." />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/webp"
      href="/img/title-icon.webp"
      sizes="120x120"
    />
    <title>Get a Quote | Cayad Auto Transport</title>
  </head>
  <div
    class="flex w-full h-screen md:h-[max-content] lg:h-[110vh] xl:h-[110vh] justify-center box-border bg-[#cccccc]"
  >
    <FormQuote client:load />
  </div>


</html>
