---
import AuthorizeNetSeal from "../../components/buttons/AuthorizeNetSeal";
import FormQuote from "../../components/forms/FormQuote";
---

<div class="flex w-full h-full justify-center relative bg-[#cccccc]">
  <FormQuote client:load />
</div>
