---
import Layout from "../../layouts/Layout.astro";
import Accordion from "../../components/Accordion";
import GetQuote from "../../components/buttons/GetQuote.astro";
import ButtonScrollTop from "../../components/buttons/ButtonScrollTop";
---

<style>
  .custom-background {
    background:
      linear-gradient(hsla(250, 75%, 5%, 0.5), rgba(6, 3, 21, 0.5)),
      url("/img/bannerfaqs.webp") center center no-repeat;
    background-size: cover;
  }

  .faq-title h2 {
    position: relative;
    margin-bottom: 45px;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
  }

  .faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #007bef;
    bottom: -25px;
    margin-left: -30px;
  }

  .service-item a.btn-slide,
  .price-item a.btn-slide,
  .team-item div.btn-slide {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 0;
  }

  .service-item a.btn-slide i,
  .service-item a.btn-slide span,
  .price-item a.btn-slide i,
  .price-item a.btn-slide span,
  .team-item div.btn-slide i,
  .team-item div.btn-slide span {
    position: relative;
    height: 40px;
    padding: 0 15px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
    background: #00a1ef;
    border-radius: 0 35px 35px 0;
    transition: 0.5s;
    z-index: 2;
  }

  .team-item div.btn-slide span a i {
    padding: 0 10px;
  }

  .team-item div.btn-slide span a:hover i {
    background: #007bef;
  }

  .service-item a.btn-slide span,
  .price-item a.btn-slide span,
  .team-item div.btn-slide span {
    padding-left: 0;
    left: -100%;
    z-index: 1;
  }

  .service-item:hover a.btn-slide i,
  .price-item:hover a.btn-slide i,
  .team-item:hover div.btn-slide i {
    border-radius: 0;
  }

  .service-item:hover a.btn-slide span,
  .price-item:hover a.btn-slide span,
  .team-item:hover div.btn-slide span {
    left: 0;
  }

  .service-item a.btn-slide:hover i,
  .service-item a.btn-slide:hover span,
  .price-item a.btn-slide:hover i,
  .price-item a.btn-slide:hover span {
    background: #007bef;
  }
</style>


<Layout title="Car Shipping Faqs | Cayad Auto Transport"
content="">
  <div
    class="container-fluid flex flex-col items-center justify-center custom-background h-[60vh]"
  >
    <div class="w-[80%]">
      <h2
        class="text-white text-[4rem] xs:text-[1.8rem] sm:text-[1.8rem] font-bold"
      >
        FAQs
      </h2>
      <h1 class="text-white text-lg font-semibold">
        How much is car shipping? and most commons questions..
      </h1>
      <GetQuote />
    </div>
  </div>

  <div class="w-full mt-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:px-4 sm:px-4 flex xs:flex-col sm:flex-col"
    >
      <div class="w-[40%] mr-4 xs:hidden sm:hidden h-[300px]">
        <img src="/img/faqs.webp" alt="car transport common questions"/>
      </div>
      <div class="w-1/2 xs:w-full sm:w-full ml-4 xs:ml-0 sm:ml-0">
        <div class="w-full faq-title flex justify-center">
          <h2 class="faq-title mb-4 text-4xl text-[#19171fd2] font-semibold">
            FAQs
          </h2>
        </div>
        <Accordion client:load title="How long will it take?">
          <p class="mt-2 font-serif">0-500 Miles: 1-2 Days</p>
          <p class="mt-2 font-serif">501-1,000 Miles: 2-3</p>
          <p class="mt-2 font-serif">1,001-1,500 Miles: 3-5</p>
          <p class="mt-2 font-serif">1,501-2,000 Miles: 4-7</p>
          <p class="mt-2 font-serif">2,001-2,500 Miles: 7-10</p>
          <p class="mt-2 font-serif">2,500+ Miles: 10-14</p>
          <p class="mt-2 font-serif">
            Once your designated carrier is assigned you will receive a precise
            ETA for your shipment.
          </p>
        </Accordion>
        <Accordion
          client:load
          title="How fast can Cayad find a carrier for me?"
        >
          <p class="font-serif">
            Drivers respond quickest to bids that are both on their route and
            priced fairly.
            <br />
            <br />
            We help you price your bid to give you the best chances of getting your
            vehicle shipped in the timeframe that meets your needs.
          </p>
        </Accordion>
        <Accordion client:load title="Is Cayad Licensed & Bonded?">
          <p class="font-serif">
            Cayad Auto Transport is licensed & Bonded. Our FMSCA Motor Carrier
            Number is MC:1558686. While we do our best match your auto shipping
            needs with the most responsible carriers with the best track
            records, from time-to-time there may be accidental damage while in
            transit, it is good to know that the insurance of the carrier we
            locate for you will protect your auto shipment in that event.
          </p>
        </Accordion>
        <Accordion
          client:load
          title="Can I leave personal items in my vehicle?"
        >
          <p class="font-serif">
            Yes, however, If you plan to have personal items in your vehicle,
            you must let your Cayad Agent know so we can get that approved by
            your assigned carrier. Generally, we recommend that you do not ship
            any personal belongings inside your vehicle during your transport.
          </p>
        </Accordion>
        <Accordion client:load title="What's the deal with insurance?">
          <p class="font-serif">
            Understanding auto transport insurance is important and we think
            it is valuable to explain how it works. As part of providing a great
            car transport service, it is our job to guarantee that the carrier
            we assign to pickup your vehicle is licensed and insured.
            <br />
            <br />
            When you go with Cayad to ship your vehicle, you can rest assured that
            the carrier assigned to move your car is fully insured and licensed with
            the FMCSA (Federal Motor Carrier and Safety Administration).
            <br />
            <br />
            Your vehicle is covered by the carriers insurance policy that is doing
            the shipping. Depending on the type and size of the truck/trailer that
            is shipping your car, the insurance policy can cover from $100,000 to
            $1,000,000 of damage.
            <br />
            <br />
            We have also provided a <span
              class="text-btn-blue hover:underline hover:cursor-pointer"
              ><a href="/pdfs/Cayad_shippingInstructions.pdf" download
                >checklist</a
              ></span
            >
            to explain what you need to do at both pickup and delivery in case there
            are any issues so, you can file a claim and know that everything will
            be taken care of.
            <br />
            <br />
            It is rare but, time-to-time there may be accidental damage while in
            transit and it is good to know that your carriers insurance will protect
            your auto shipment in that event.
            <br />
            <br />
            To view a sample BOL (Bill of Lading) and learn what to do in case of
            accidental damage, please check out our a<span
              class="text-btn-blue ml-2 hover:underline hover:cursor-pointer"
              ><a href="/pdfs/sample-bill-of-lading.pdf" download
                >Bill of Lading example</a
              ></span
            >.
          </p>
        </Accordion>
      </div>
    </div>

    <div class="w-full mt-12 flex justify-center">
      <div
        class="w-[80%] xs:w-full sm:w-full xs:px-4 sm:px-4 xs:flex-col sm:flex-col flex"
      >
        <div class="w-[40%] xs:hidden sm:hidden mr-4 h-[300px]">
          <img src="/img/money.webp" alt="car shipping cash"/>
        </div>
        <div class="w-1/2 xs:w-full sm:w-full ml-4 xs:ml-0 sm:ml-0">
          <div class="w-full faq-title flex justify-center">
            <h2 class="faq-title mb-4 text-4xl text-[#19171fd2] font-semibold">
              Money
            </h2>
          </div>
          <Accordion client:load title="How does Cayad come up my quote?">
            <p class="mt-4 font-serif">
              We feel it is important for you to know how we determined your
              quote. Quotes are based on what the market demands for cars to be
              moved at a given time. Each quote is compared with the current
              rates on the National Load Board before being sent to our
              customers and will be reviewed periodically through the process.
            </p>
            <p class="mt-4 font-serif">
              Other companies might offer you a lower price to obtain your
              business. This method is ineffective because if the customer
              offers a below-market rate, it will run the probability of not
              getting loaded or transported on time.
            </p>
            <p class="mt-4 font-serif">
              Truck drivers always take the loads that pay the most first,
              leaving the loads that are mispriced to be moved last or not at
              all.
            </p>
            <p class="mt-4 font-serif">
              We try very hard to avoid this with our customers by quoting a
              fair but realistic quote up front.
            </p>
          </Accordion>
          <Accordion
            client:load
            title="Do I need to put a credit or debit card on file to start the process?"
          >
            <p class="font-serif">
              We do not collect a deposit from you until your car is actually
              assigned to be picked up by a reputable driver for a price you
              approve. However, we do take your credit card information before
              we begin to work on finding you a carrier.
              <br />
              <br />
              We do this because it is very common for customers to “double book”
              with multiple brokers thinking this will give them a better shot at
              getting their vehicle dispatched.
              <br />
              <br />
              In fact, all brokers are using the same resources to find a carrier
              for your vehicle. So when a car is “double booked” it only delays the
              process and confuses the carriers who are searching for their next
              vehicle to pick up on their route.
              <br />
              <br />
              By taking your information in advance, it allows us to work on finding
              you a driver in good faith for our efforts.
              <br />
              <br />
              If we fail to find you a carrier at a price you are comfortable with
              there are NO CANCELLATION FEES and your card will NOT be charged. We
              only ask that you let us work on getting you the best carrier at the
              best price present their offers to you.
              <br />
              <br />
              By giving us the assurance of your credit or debit card, we will do
              the best job possible to get you picked up on the dates you request
              for the price you want by a reputable carrier.
              <br />
              <br />
              We do not get paid until you get a driver dispatched to ship your vehicle,
              so it is always in our interest to do the best job possible for you.
            </p>
          </Accordion>
          <Accordion client:load title="Is the final price firm?">
            <p class="font-serif">
              Yes, once you approve the carrier the price is guaranteed. We
              guarantee the price with the carrier so there is no confusion or
              surprises.
            </p>
          </Accordion>
          <Accordion client:load title="When is the balance due?">
            <p class="font-serif">
              Unlike numerous other shippers, we do not require any money from
              you until the day your vehicle is assigned to your designated
              carrier.
              <br />
              <br />
              At the time you place your order, a credit card is provided to be kept
              on file. Your credit card will be authorized at the time you place
              your order. On the date your vehicle is dispatched to the carrier,
              we will process that payment for the deposit.
              <br />
              <br />
              The balance is due at delivery with cash or cashier check directly
              to the carrier. *Ask our agents for credit card and other payment options.
            </p>
          </Accordion>
          <Accordion client:load title="What's the cancellation fee?">
            <p class="font-serif">
              Nothing. There will never be a cancellation fee
            </p>
          </Accordion>
          <Accordion
            client:load
            title="Do the carriers accepts credit or debit cards for the balance due upon delivery?"
          >
            <p class="font-serif">
              Most carriers does not accept credit cards, and if they do, there
              is often a 5% fee added including Paypal & Venmo. We recommend
              Cash, Zelle and Cash App.
            </p>
          </Accordion>
          <Accordion
            client:load
            title="Why are some other guys quoting me a lower price?"
          >
            <p class="font-serif">
              When comparing auto transport companies, keep in mind that
              low-priced quotes often result in delays in getting your vehicle
              loaded. Choosing the right broker is vital to getting a reputable
              carrier for the lowest price possible.
              <br />
              <br />
              We feel it is important for you to know how we determine your quote.

              <br />
              <br />
              When you are looking for a car shipping rate, you want to understand
              how auto transport works.

              <br />
              <br />
              Prices are based on seasonal market demands for cars to be moved at
              any given time. Each quote is prepared based on the season and the
              current national rates.
              <br />
              <br />
              When comparing auto transport companies, keep in mind that low-priced
              quotes often result in delays in getting your vehicle loaded. Choosing
              the right broker is vital to getting a reputable carrier for the lowest
              price possible. Not all brokers have this talent.
              <br />
              <br />
              Cayad does a thorough background check with each carrier for every
              shipment. We verify their ratings, references, and in addition, we
              obtain a certified copy of their insurance certificate, directly from
              the government agency that it is on file with.
              <br />
              <br />
              You can have peace of mind knowing that the carrier shipping your vehicle
              is the very best and that there are no surprises guaranteed.
            </p>
          </Accordion>
        </div>
      </div>
    </div>

    <div class="w-full mt-12 flex justify-center">
      <div
        class="w-[80%] xs:w-full sm:w-full xs:px-4 sm:px-4 xs:flex-col sm:flex-col flex"
      >
        <div class="w-[40%] xs:hidden sm:hidden mr-4 h-[300px]">
          <img src="/img/transport.avif" />
        </div>
        <div class="w-1/2 xs:w-full sm:w-full ml-4 xs:ml-0 sm:ml-0">
          <div class="w-full faq-title flex justify-center">
            <h2 class="faq-title mb-4 text-4xl text-[#19171fd2] font-semibold">
              Transport
            </h2>
          </div>
          <Accordion
            client:load
            title="What if the truck is too large for my drop off or pick up area?"
          >
            <p class="mt-4 font-serif">
              Most auto transport trucks are quite large, up to 75 feet long.
              This sometimes makes it impossible to reach many residential
              areas. If that is the case with your auto move, your carrier will
              attempt to get as close as possible to your delivery location. We
              can also arrange a convenient location, like a shopping center, to
              either pick up or deliver your vehicle.
            </p>
            <p class="mt-4 font-serif">
              In some cases, we may also be able to negotiate a better rate for
              you to ship your car if you are willing to meet your driver at a
              more accessible, convenient location that works for both of you.
            </p>
            <p class="mt-4 font-serif">
              They won not move your car – they just get you in contact with
              companies that will (like us).
            </p>
          </Accordion>
          <Accordion
            client:load
            title="How can I track my vehicle once it's on the truck?"
          >
            <p class="font-serif">
              You will have direct contact with the driver while your vehicle is
              in transit. The driver will give you updates and can also contact
              the carrier at any time as well.
            </p>
          </Accordion>
          <Accordion
            client:load
            title="Will my car be on the same truck the whole way?"
          >
            <p class="font-serif">
              Yes, the vehicle is kept on the same truck the entire time.
            </p>
          </Accordion>
          <Accordion client:load title="Is my delivery ETA guaranteed?">
            <p class="font-serif">
              Time-frames are not guaranteed in the transportation.
              <br />
              <br />
              Similar to plane travel, if there is bad weather or the circumstances
              are outside of control there can be delays.
              <br />
              <br />
              However, they are usually on time and always in communication either
              way.
            </p>
          </Accordion>
        </div>
      </div>
    </div>

    <div class="w-full mt-12 flex justify-center">
      <div
        class="w-[80%] xs:w-full sm:w-full xs:px-4 sm:px-4 xs:flex-col sm:flex-col flex"
      >
        <div class="w-[40%] xs:hidden sm:hidden ml-4">
          <img src="/img/whois.webp" class="rounded-xl" alt="car transport operator"/>
        </div>
        <div class="w-1/2 xs:w-full sm:w-full ml-4 xs:ml-0 sm:ml-0">
          <div class="w-full faq-title flex justify-center">
            <h2 class="mb-4 text-4xl text-[#19171fd2] font-semibold">
              Who is who?
            </h2>
          </div>
          <Accordion client:load title="What's an auto transport broker?">
            <p class="mt-4 font-serif">
              Auto transport brokers are the companies make sure that you get a
              good price on your auto transport and that you only work with
              certified, licensed carrier companies. We facilitate communication
              between you and the carrier; we do all the legwork for everyone
              and make sure that things get done and scheduled and that your
              vehicle ultimately gets picked up.
            </p>
            <p class="mt-4 font-serif">
              If you are shopping around for the best price to ship your vehicle,
              it is likely that all of the quotes you are getting, including
              ours, are from brokers.
            </p>
            <p class="mt-4 font-serif">
              Brokers do not own the trucks; we locate them for you according to
              your route, schedule, and budget.
            </p>
            <p class="mt-4 font-serif">
              Every quote from a brokerage like ourselves, includes a broker fee
              and a carrier fee. Most broker fees are a fixed rate and vary from
              each company.
            </p>
          </Accordion>
          <Accordion client:load title="What's an auto transport carrier?">
            <p class="mt-4 font-serif">
              Carriers physically transport your vehicle from Point A to Point
              B. They are vital to the industry, as without them vehicles would
              not be transported at all.
            </p>
            <p class="mt-4 font-serif">
              They do not have the time or resources to find customers, and they
              rely quite heavily on us to find loads for them to transport.
            </p>
            <p class="mt-4 font-serif">
              Carriers run on specific routes and search for vehicles that need
              transporting along the routes they service; as such, there are
              thousands of carriers out there transporting across thousands of
              routes.
            </p>
            <p class="mt-4 font-serif">
              We here at Cayad Auto Transport only work with the best auto
              transport carriers in the industry to transport your vehicle, and
              you can rest easy with the knowledge that your vehicle will be in
              good hands when you book with us. You can fill out our free online
              quote request form or give us a call toll-free at <span
                class="text-btn-blue">(469) 619-0747</span
              > to speak to one of our live auto transport representatives who can
              give you a quote, answer your questions and help you book your order.
            </p>
          </Accordion>
          <Accordion client:load title="What's a quote provider?">
            <p class="font-serif">
              Quote providers are companies that operate primarily on the
              internet and advertise for us brokers. When you fill out their
              form on their website your information will be sent to anywhere
              from 5-12 brokers, just like us, who will look at your
              information, calculate a quote and then e-mail it to you and maybe
              call you, if you provided your telephone number.
              <br />
              <br />
              Most brokers rely on auto transport quote providers for a majority
              of their business; our website is here as an additional resource for
              our customers, but most of our customers find us through one of the
              online quote providers that we work with to find customers. They are
              usually a customers first stop when looking for auto transporters.
              <br />
              <br />
              They won not move your car they just get you in contact with companies
              that will (like us).
            </p>
          </Accordion>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full flex justify-center h-max mt-4 mb-4">
    <div
      class="w-[50%] xs:w-[96%] sm:w-[96%] h-8 border-b-4 border-b-[#19171fd2]"
    >
    </div>
  </div>

  <!-- <div class="w-full flex justify-center mt-8 h-max mb-4">
    <div class="w-[80%] xs:w-full sm:w-full xs:px-4 sm:px-4">
      <div
        class="wow w-[30%] xs:w-full sm:w-full"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="service-item shadow-sm p-4">
          <div class="overflow-hidden max-h-[300px] mb-4">
            <img
              class="w-full rounded-xl h-auto"
              src="/img/luggaab.webp"
              alt=""
            />
          </div>
          <h4 class="text-xl font-semibold mb-3">
            Can I Put Stuff in My Vehicle?
          </h4>
          <p>Can I Put Stuff in My Vehicle When Shipping It?</p>
          <a class="btn-slide mt-4 text-blue-500 hover:underline" href="#"
            ><i class="fa fa-arrow-right"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-3 w-5 stroke-2"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </i><span>Read More</span></a
          >
        </div>
      </div>
    </div>
  </div> -->

  <ButtonScrollTop client:load />
</Layout>