---
import Layout from "../../layouts/Layout.astro";
import Testimonials from "../../components/Testimonials";
---

<Layout title="How It Works? | Cayad Auto Transport">
  <div
    class="w-full h-[450px] flex items-center justify-center"
    data-aos="fade-up"
    data-wow-delay="0.1s"
  >
    <Testimonials client:load />
  </div>
</Layout>
