---
import Layout from "../../layouts/Layout.astro";
import ButtonScrollTop from "../../components/buttons/ButtonScrollTop";
import SecondFooter from "../../components/SecondFooter.astro";
---

<style>
  .custom-background {
    background:
      linear-gradient(hsla(250, 75%, 5%, 0.5), rgba(6, 3, 21, 0.5)),
      url("/img/Privacy-Policy.webp") center center no-repeat;
    background-size: cover;
  }
</style>

<Layout title="Privacy Policy | Cayad Auto Transport"
content="Cayad Services LLC values your privacy and recognizes its importance to both you and us. In the course of our standard car shipping operations, Contact us!">
  <contaier
    class="container-fluid flex flex-col items-center justify-center custom-background h-[60vh]"
  >
    <div class="w-[80%]">
      <h2
        class="text-white text-[4rem] xs:text-[1.8rem] sm:text-[1.8rem] font-bold"
        data-aos="fade-down"
      >
        Privacy Policy
      </h2>
    </div>
  </contaier>

  <container
    class="w-[80%] xs:w-full xs:px-4 sm:w-full sm:px-4 flex flex-col mb-8 items-center mx-auto"
  >
    <h1 class="text-3xl mt-8 font-semibold text-[#19171fd2] w-full">
      Cayad Auto Transport Privacy Policy
    </h1>

    <p class="text-[#555] mt-8">
      Welcome! Cayad Services LLC (“Cayad”) understands that your privacy is
      important to you and to us. As part of the normal operation of Cayad
      services, we collect and, in some cases, disclose information about you to
      third parties. This privacy policy (“Privacy Policy”) shows you what
      information we gather from you and how we protect it. By using this
      website and the content contained therein (“Site”) and our services, you
      consent to the terms described in the most recent version of this Privacy
      Policy. You should also read our <a
        href="/pdfs/Terms-of-use.pdf"
        class="text-btn-blue underline">Terms of Use</a
      > to understand the general rules about your use of this Site, and any additional
      terms that may apply when you access particular services or materials on certain
      areas of this Site. “We,” “our” means Cayad and its affiliates. “You,” “your,”
      ”visitor,” or “user” means the individual accessing this Site and/or using
      our services. This Privacy Policy is incorporated into and subject to the terms
      of the Cayads Site Terms of Use.
    </p>

    <h3 class="text-2xl mt-4 font-semibold text-[#19171fd2] w-full">Minors</h3>

    <p class="text-[#555] mt-2">
      This Site is not directed towards children and we do not knowingly collect
      or maintain Personal Data from any person under the age of 16. IF YOU ARE
      16 YEARS OR YOUNGER, PLEASE DO NOT USE THIS SITE OR ANY OF ITS SERVICES
      FOR ANY PURPOSE AT ANY TIME.
    </p>

    <h3 class="text-3xl mt-8 font-semibold text-[#19171fd2] w-full">
      Types of Data We Collect
    </h3>

    <h3 class="text-2xl mt-8 font-semibold text-[#19171fd2] w-full">
      Personal Data You Provide to Us
    </h3>

    <p class="text-[#555] mt-2">
      “Personal Data” is data that identifies an individual or relates to an
      identifiable individual or household. We collect Personal Data, such as
      your name, address, email address, phone number, zip code, car make/model,
      ship to and from location, and other information you provide to us when
      booking our services, requesting a quote for our services, or interacting
      with or through the Site. If you choose to apply for a job with us, we
      collect your name, address, resume (including your employment and
      education history), desired salary type, salary range, skills, who you
      were referred by and how you heard about us. If you establish a credit
      account with us or purchase any of our services, we may collect payment
      information as described below.
    </p>

    <h3 class="text-2xl mt-8 font-semibold text-[#19171fd2] w-full">
      Your Usage of Our Site
    </h3>

    <p class="text-[#555] mt-2">
      We automatically track certain information about you based upon your use
      of our Site. We use this information to conduct internal research on our
      user demographics, interests, and behavior to better understand and
      serve our users. This information may include device information (e.g.,
      your web browser type and language), the URL that you just came from,
      which URL you next go to, what browser you are using, access times,
      geolocation data, your IP address, pages viewed, details about how you have
      used the Site and identifiers associated with cookies or other
      technologies that may uniquely identify your device or browser. We may
      combine this information with information obtained from other sources such
      as our third-party service providers along with quotes we provide to you
      to personalize the services we provide and the experience you have when
      interacting with us.
    </p>

    <h3 class="text-2xl mt-8 font-semibold text-[#19171fd2] w-full">
      Your Posts
    </h3>

    <p class="text-[#555] mt-2">
      We may offer the ability to post messages on our Site. If you choose to
      post messages on our Site, we will collect such information about you as
      you may choose to disclose pursuant to your activities on the Site.
    </p>

    <h3 class="text-2xl mt-8 font-semibold text-[#19171fd2] w-full">
      Your Communications & Correspondence
    </h3>

    <p class="text-[#555] mt-2">
      If you send us e-mails, letters or other personal correspondence (e.g.,
      through the Site chat functionality), or if other users or third parties
      send us correspondence about your activities or postings on the Site, we
      may collect such information into a file specific to you or share them
      with third parties who provide services to us, such as web functionality.
      Communications with our customer service agents may be recorded or
      monitored for quality assurance and to be able to better serve you.
    </p>

    <h3 class="text-2xl mt-8 font-semibold text-[#19171fd2] w-full">
      Your Payment Information
    </h3>

    <p class="text-[#555] mt-2">
      If you establish a credit account with us or purchase any of our services,
      we collect your payment information and some additional information,
      including billing address, credit card number, and credit card expiration
      date.
    </p>

    <h3 class="text-2xl mt-8 font-semibold text-[#19171fd2] w-full">Cookies</h3>

    <p class="text-[#555] mt-2">
      We use cookies on certain pages of our Site. A cookie is a small piece of
      data that is stored on your device to help websites and mobile apps
      remember things about you. Cookies can be used to track a user steps or
      automatically generate a user password. Some features of our Site may
      only be available through the use of a cookie. Cookies can also help us
      provide information to you which is targeted to your interests. Cookies
      are stored on your hard drive, not on our Site. Most, but not all, cookies
      are automatically deleted at the end of a session. You may decline our
      cookies if your browser permits, although your use of the Site may then be
      restricted (as noted above). We use Google Analytics and other data
      collection tools (such as tracking pixels) to help us understand how the
      Site is used. If you would like to opt-out from the use of your
      information by Google analytics, you may use Google analytics opt-out
      browser add-on designed for this purpose.
    </p>

    <h3 class="text-2xl mt-8 font-semibold text-[#19171fd2] w-full">
      How We Use Cookies
    </h3>

    <p class="text-[#555] mt-2">
      Like most providers of online services, Cayad uses cookies for a number of
      reasons, like protecting your data and account, helping us see which
      features are most popular, counting visitors to a page, improving our
      users experience, keeping our services secure, and just generally
      providing you with a better, more intuitive, and satisfying experience.
      The cookies we use generally fall into one of the following categories.
    </p>

    <table class="border-separate border mt-8 border-slate-400 w-full">
      <thead>
        <tr>
          <th class="border border-slate-300 p-4">Category of Cookies </th>
          <th class="border border-slate-300 p-4">Why we use these cookies </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-slate-300 p-4">Preferences </td>
          <td class="border border-slate-300 p-4"
            >We use these cookies to remember your settings and preferences. For
            example, we may use these cookies to remember your language
            preferences.
          </td>
        </tr>
        <tr>
          <td class="border border-slate-300 p-4">Security</td>
          <td class="border border-slate-300 p-4"
            >We use these cookies to help identify and prevent security risks.
            For example, we may use these cookies to store your session
            information to prevent others from changing your password without
            your username and password.
          </td>
        </tr>
        <tr>
          <td class="border border-slate-300 p-4">Performance</td>
          <td class="border border-slate-300 p-4"
            >We use these cookies to collect information about how you interact
            with our services and to help us improve them. For example, we may
            use these cookies to determine if you have interacted with a certain
            page.
          </td>
        </tr>
        <tr>
          <td class="border border-slate-300 p-4">Analytics</td>
          <td class="border border-slate-300 p-4"
            >We use these cookies to help us improve our services. For example,
            we can use these cookies to learn more about which features are the
            most popular with our users and which ones might need some tweaks.
          </td>
        </tr>
        <tr>
          <td class="border border-slate-300 p-4">Advertising</td>
          <td class="border border-slate-300 p-4"
            >We use these cookies to deliver advertisements, to make them more
            relevant and meaningful to consumers, and to track the efficiency of
            our advertising campaigns, both on our services and on other Sites
            or mobile apps.
          </td>
        </tr>
      </tbody>
    </table>

    <h3 class="text-2xl mt-8 font-semibold text-[#19171fd2] w-full">
      Your Choices
    </h3>

    <p class="text-[#555] mt-2">
      Your browser or device may allow you to block or otherwise limit the use
      of cookies. But cookies are an important part of how our services work, so
      removing, rejecting, or limiting the use of them could affect the
      availability and functionality of our services.
    </p>

    <h3 class="text-2xl mt-8 font-semibold text-[#19171fd2] w-full">
      Browser Cookies
    </h3>

    <p class="text-[#555] mt-2">
      Your browser may provide you with the option to refuse some or all browser
      cookies. You may also be able to remove cookies from your browser. For
      more information about how to manage browser cookies, please follow the
      instructions provided by your browser.
    </p>

    <h3 class="text-2xl mt-8 font-semibold text-[#19171fd2] w-full">
      Mobile Device Identifiers
    </h3>

    <p class="text-[#555] mt-2">
      Your mobile operating system may let you opt-out from having certain
      device identifiers used for interest-based advertising. You should refer
      to the instructions provided by your mobile devices manufacturer; this
      information is typically available under the “settings” function of your
      mobile device. If your mobile device offers an uninstall process, you can
      always stop us from collecting information through the app by uninstalling
      our app.
    </p>

    <h3 class="text-3xl font-semibold mt-8 text-[#19171fd2] w-full">
      What We Do With Your Information
    </h3>

    <h3 class="text-2xl mt-8 font-semibold text-[#19171fd2] w-full">
      To Provide Services To You
    </h3>

    <p class="text-[#555] mt-2">
      The data Cayad owns is our internal information and information related to
      our business customers. Cayad uses the Personal Data we collect to provide
      our services to you, including for our normal operating procedures and
      internal purposes, such as to track marketing effectiveness. If you do not
      provide the data that we request, or prohibit us from collecting such
      data, we may not be able to provide the requested services.
    </p>

    <h3 class="text-2xl mt-8 font-semibold text-[#19171fd2] w-full">
      To provide the Site to you
    </h3>

    <p class="text-[#555] mt-2">
      We collect the information described above to provide the Site to you and
      to improve the Site, to operate, improve, and personalize the products and
      services we offer, and to give each user a more consistent and
      personalized experience when interacting with us. We also use such
      information for security, to detect fraud or illegal activities, and for
      archival and backup purposes in connection with the provision of the Site.
    </p>

    <h3 class="text-2xl mt-8 font-semibold text-[#19171fd2] w-full">
      Administrative Notices
    </h3>

    <p class="text-[#555] mt-2">
      We use your e-mail address, your mailing address, and phone number to
      contact you regarding administrative notices, new product offerings, and
      communications relevant to your use of the Site. If you do not wish to
      receive these communications, you may opt out of receiving these notices
      by emailing Cayad at info@cayadservices.com
    </p>

    <h3 class="text-2xl mt-8 font-semibold text-[#19171fd2] w-full">Consent</h3>

    <p class="text-[#555] mt-2">
      By providing your phone number and clicking submit online, you agree to
      our Terms of Use and Privacy Policy, and authorize us to make or initiate
      sales calls, text messages and prerecorded voicemails to that phone number
      using an automated system. Your agreement is not a condition of purchasing
      any products, goods or services and you may opt out at any time or elect
      to do business with us over the phone. Message & data rates may apply.
    </p>

    <h3 class="text-2xl mt-8 font-semibold text-[#19171fd2] w-full">
      Billing and Support
    </h3>

    <p class="text-[#555] mt-2 w-full">
      If you open a credit account with us through our Site, we use your address
      and billing information to bill you and provide associated support.
    </p>

    <h3 class="text-2xl mt-8 font-semibold text-[#19171fd2] w-full">
      Dispute Resolution
    </h3>

    <p class="text-[#555] mt-2">
      We use information in the file we maintain about you, and other
      information we obtain from your current and past activities on the Site,
      to resolve disputes, troubleshoot problems, and enforce our Site Terms of
      Use.
    </p>

    <h3 class="text-2xl mt-8 font-semibold text-[#19171fd2] w-full">
      Our Disclosure to Third Parties
    </h3>

    <p class="text-[#555] mt-2">
      We value privacy and use practices that are consistent with standards in
      our industry to protect your privacy. We do not sell or rent any Personal
      Data about you to any third party. The following describes to whom your
      Personal Data may be disclosed:
    </p>

    <ol class="mt-2 p-4 list-decimal">
      <li>
        <strong class="text-[#555555]">
          Third Party Service Providers Performing Services on Our Behalf.</strong
        > We may share your Personal Data with our service providers to perform the
        functions for which we engage them, including the functions described in
        the above section entitled, “What We Do With Your Information”. For example,
        we may use third parties to host the Site or assist us in providing functionality
        on the Site (including chat functionality), provide data analysis and research
        Site, to send out email updates about the Site or our products and services,
        and to make automated calls with respect to our products and services or
        to respond to your inquiry.
      </li>
      <li>
        <strong class="text-[#555555]">For Legal Purposes.</strong> We also may share
        information that we collect from users as needed to enforce our rights, protect
        our property or protect the rights, property or safety of others, or as needed
        to support external auditing, compliance and corporate governance functions.
        We will disclose Personal Data as we deem necessary to respond to a subpoena,
        regulation, binding order of a data protection agency, legal process, governmental
        request or other legal or regulatory process. We may also share Personal
        Data as required to pursue available remedies or limit damages we may sustain.
      </li>
      <li>
        <strong class="text-[#555555]">Law Enforcement.</strong> We may disclose
        any information about you to law enforcement or other government officials
        as we, in our sole discretion, believe necessary or appropriate, in connection
        with an investigation of fraud, intellectual property infringements, or other
        activity that is illegal or may expose us to legal liability.
      </li>
      <li>
        <strong class="text-[#555555]">Changes of Control.</strong> We may transfer
        or assign information, including your Personal Data, in connection with a
        merger, acquisition, reorganization, liquidation, change in control or other
        sale by or of us or any affiliated entity (in each case whether in whole
        or in part).
      </li>
      <li>
        <strong class="text-[#555555]">Advertisers.</strong> We may disclose personal
        information and aggregate information about our users to advertisers and
        for our marketing and promotional purposes, including to determine the effectiveness
        of our promotional campaigns.
      </li>
    </ol>

    <p class="text-[#555] w-full mt-2">
      We do not share your Personal Data with third parties for those third
      parties direct marketing purposes.
    </p>

    <h3 class="text-2xl mt-8 font-semibold text-[#19171fd2] w-full">
      Links to External Websites
    </h3>

    <p class="text-[#555] mt-2">
      Cayad is not responsible for the privacy policies of third parties or
      other Sites, even if they are linked to our Site. Cayad includes these
      links solely as a convenience to you, and the presence of such a link does
      not imply a responsibility for the linked site or an endorsement of the
      linked site, its operator, or its contents. Please make sure you read
      their privacy policy before using those sites when you leave our Site.
    </p>

    <h3 class="text-2xl mt-8 font-semibold text-[#19171fd2] w-full">
      Do Not Track
    </h3>

    <p class="text-[#555] mt-2">
      Our Site does not currently take any action when it receives a Do Not
      Track request. Do Not Track is a privacy preference that you can set in
      your web browser to indicate that you do not want certain information
      about your webpage visits collected across websites when you have not
      interacted with that service on the page. For details, including how to
      turn on Do Not Track, visit www.donottrack.us
    </p>

    <h3 class="text-3xl mt-8 font-semibold text-[#19171fd2] w-full">
      How We Protect Your Personal Information
    </h3>

    <p class="text-[#555] mt-8">
      When Cayad is creating, maintaining, using or disseminating Personal Data
      we will take reasonable and appropriate measures designed to protect it
      from loss, misuse and unauthorized access, disclosure, alteration and
      destruction, taking into due account the risks involved in the processing
      and the nature of the Personal Data. Cayad cannot and does not guarantee
      absolute protection and assumes no liability for any disclosure or loss of
      data in any case, especially due to transmission errors, unauthorized or
      bad actions of third parties such as hackers, or through no fault of ours.
      We cannot guarantee or promise that your Personal Data or private
      communications will remain private. For example, hackers or third parties
      may unlawfully intercept or access transmissions or private communications
      on our Site.
    </p>

    <h3 class="text-3xl mt-8 font-semibold text-[#19171fd2] w-full">
      California Residents
    </h3>

    <p class="text-[#555] mt-8">
      If you are a resident of California, under the California Consumer Privacy
      Act, as amended by the California Privacy Rights Act (“CPRA”), you have
      the rights to:
    </p>

    <ol class="list-decimal text-[#555] mt-2 w-full px-20">
      <li>
        Know what Personal Data about you Cayad has collected, disclosed, or
        sold, if any, and to access your Personal Data.
      </li>
      <li>Delete your Personal Data.</li>
      <li>Correct your inaccurate Personal Data.</li>
      <li>Opt-out of the sale or sharing of your Personal Data.</li>
      <li>Limit the use and disclosure of your sensitive Personal Data.</li>
      <li>
        Not be discriminated against for exercising any of the aforementioned
        rights.
      </li>
    </ol>

    <p class="text-[#555] w-full mt-8">
      To exercise the rights described above, you must submit a verifiable
      request to us at the following contact information and providing the
      requested information
      <br />
      <br />
      Toll-free telephone number: (469) 619-0747
      <br />
      <a class="text-btn-blue">Email: info@cayadservices.com</a>
    </p>

    <p class="text-[#555] w-full mt-8">
      You may submit a request as frequently as you would like, but we are not
      required to respond to requests to provide Personal Data to you more than
      twice in any 12-month period. To submit a verifiable request, you will be
      asked to provide certain information to help us verify your identity. The
      information we ask you to provide to initiate a request may differ
      depending upon the type of request, the type, sensitivity and value of the
      Personal Data that is the subject of the request, and the risk of harm to
      you that may occur as a result of unauthorized access or deletion, among
      other factors. We may also require you to provide a written declaration
      that you are who you say you are.
      <br />
      <br />
      You may designate an authorized agent to make a request on your behalf by providing
      the agent with signed written permission to do so.
      <br />
      <br />
      Cayad does not sell Personal Data to third parties for monetary consideration.
      However, the collection of data on our behalf by certain of our third-party
      Site analytics or digital advertising service providers may be considered a
      “sale” and is considered “sharing” under the CPRA. For example, we use Google
      Analytics to help us understand how our Site is used. To opt-out of the sale
      of Personal Data by Cayad, you may go to Cayads “Do Not Sell or Share My Personal
      Information” web page. Cayad does not have actual knowledge that we sell or
      share Personal Data about minors under the age of 16.
      <br />
      <br />
      Cayad does not collect sensitive Personal Data.
    </p>

    <h3 class="text-3xl mt-8 font-semibold text-[#19171fd2] w-full">
      Nevada Residents
    </h3>

    <p class="text-[#555] w-full mt-2">
      Under Nevada law, we do not sell your Personal Data. However, if you are a
      Nevada resident, you may submit a request that we not sell any Personal
      Data we have collected about you by contacting us as set forth below.
    </p>

    <h3 class="text-3xl mt-8 font-semibold text-[#19171fd2] w-full">
      International transfer of Personal Data
    </h3>

    <p class="text-[#555] w-full mt-2">
      Your Personal Data may be collected, transferred to and stored by us in
      the United States and by our affiliates in other countries where we
      operate. Therefore, your Personal Data may be processed outside the
      European Economic Area (EEA), and in countries which are not subject to an
      adequacy decision by the European Commission and which may not provide for
      the same level of data protection as the EEA. In this event, we will
      ensure that the recipient of your Personal Data offers an adequate level
      of protection, for instance by entering into standard contractual clauses
      for the transfer of data as approved by the European Commission (Art. 46
      GDPR), or we will ask you for your prior consent to such international
      data transfers.
    </p>

    <h3 class="text-3xl mt-8 font-semibold text-[#19171fd2] w-full">
      EU Residents
    </h3>

    <p class="text-[#555] w-full mt-2">
      You have certain rights relating to your Personal Data, subject to local
      data protection laws. Depending on the applicable laws and, in particular,
      if you are located in the EEA, these rights may include:
    </p>

    <ol class="list-decimal text-[#555] mt-2 w-full px-8">
      <li>To access your Personal Data held by us (right to access);</li>
      <li>
        To rectify inaccurate Personal Data and, taking into account the purpose
        of processing the Personal Data, ensure it is complete (right to
        rectification);
      </li>
      <li>
        To erase/delete your Personal Data, to the extent permitted by
        applicable data protection laws (right to erasure; right to be
        forgotten);
      </li>
      <li>
        To restrict our processing of your Personal Data, to the extent
        permitted by law (right to restriction of processing);
      </li>
      <li>
        To transfer your Personal Data to another controller, to the extent
        possible (right to data portability);
      </li>
      <li>
        To object to any processing of your Personal Data carried out on the
        basis of our legitimate interests (right to object). If we process your
        Personal Data for direct marketing purposes or share it with third
        parties for their own direct marketing purposes, you can exercise your
        right to object at any time to such processing without having to provide
        any specific reason for such objection;
      </li>
      <li>
        Not to be subject to a decision based solely on automated processing,
        including profiling, which produces legal effects (“Automated
        Decision-Making”). Automated Decision-Making currently does not take
        place on our Sites; and
      </li>
      <li>
        To the extent we base the collection, processing and sharing of your
        Personal Data on your consent, to withdraw your consent at any time,
        without affecting the lawfulness of the processing based on such consent
        before its withdrawal.
      </li>
    </ol>

    <p class="text-[#555] w-full mt-8">
      You also have the right to lodge a complaint with a supervisory authority.
      If you wish to exercise any of the rights above, please contact us at
      Email: info@cayadservices.com or at (469) 619-0747.
      <br />
      <br />
      We process Personal Data to pursue our legitimate business interest to operate
      the Site and provide our services as more specifically described in the section
      titled “What do we do with Your Information” above. To learn more about with
      whom we share your Personal Data please refer to the section titled “Our Disclosure
      to Third Parties” above.
      <br />
      <br />
      We will retain your Personal Data for as long as necessary to fulfill the purpose
      for which it was collected, or as required by applicable laws or regulation.
      Copies of information that you have updated, modified, or deleted will remain
      in our systems if applicable law requires us to retain it.
    </p>

    <h3 class="text-3xl mt-8 font-semibold text-[#19171fd2] w-full">
      Governing Law
    </h3>

    <p class="text-[#555] w-full mt-2">
      This Privacy Policy shall be governed by the laws of the State of Illinois
      without regard to its conflict of laws principles.
    </p>

    <h3 class="text-3xl mt-8 font-semibold text-[#19171fd2] w-full">
      Contact Information; Questions and Changes in Information
    </h3>

    <p class="text-[#555] w-full mt-2">
      If you have any questions regarding this Privacy Policy or to request
      changes to your Personal Data, please contact us at Email:
      info@cayadservices.com or at (469) 619-0747.
    </p>

    <h3 class="text-3xl mt-8 font-semibold text-[#19171fd2] w-full">
      Notification of Changes
    </h3>

    <p class="text-[#555] w-full mt-2">
      Any changes to our Privacy Policy will be posted to this page so users are
      always aware of the information we collect and how we use it. Accordingly,
      please refer back to this Privacy Policy frequently as it may change.
    </p>

    <p class="text-[#555] text-base font-bold w-full mt-2">
      Cayad Auto Transport
      <br />
      info@cayadservices.com

      <br />
      9295 ASHLAND AVE, PENSACOLA, FL 32534

      <br />
      (469) 619-0747
    </p>
  </container>

  <SecondFooter />
  <ButtonScrollTop client:load />
</Layout>
