---
import Layout from "../../../layouts/Layout.astro";
import GetQuoete from "../../../components/buttons/GetQuote.astro";
import Testimonials from "../../../components/Testimonials";
import ButtonScrollTop from "../../../components/buttons/ButtonScrollTop";
import GetQuote from "../../../components/buttons/GetQuote.astro";
---
<link rel="canonical" href="https://cayadservices.com/how-auto-transport-works/ship-car-across-country" />
<style>
  .custom-background {
    background:
      linear-gradient(hsla(250, 75%, 5%, 0.5), rgba(6, 3, 21, 0.5)),
      url("/img/scac.webp") center center no-repeat;
    background-size: cover;
  }
</style>

<Layout
  title="Shipping a Car Across Country | Cayad Auto Transport"
  content="We shipping cars across the entire national territory. We are the most cost effective company in the United States. Call us and request your quote now!"
>
  <div
    class="container-fluid flex flex-col items-center justify-center custom-background h-[60vh]"
  >
    <div class="w-[80%]">
      <p
        class="text-white text-[4rem] xs:text-[1.8rem] sm:text-[1.8rem] font-bold"
      >
        Shipping a car across the country
      </p>
      <h1 class="text-white text-lg font-semibold">
        Find cross country cost effective auto shipping with Cayad
      </h1>
      <GetQuoete />
    </div>
  </div>

  <div class="w-full mt-12 flex justify-center mb-8">
    <Testimonials title="Real Auto Transport Testimonials" client:load />
  </div>


  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    

    <h3
      class="text-4xl w-[80%] xs:w-full sm:w-full xs:px-4 sm:px-4 font-semibold"
    >
      Factors to consider when shipping a car across the country:
    </h3>
    <div
      class="w-[80%] mt-12 xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <div class="mt-8">
          <h3 class="text-[1.5rem] font-bold">Date</h3>
          <p class="text-base mt-4">
            Planning to ship your vehicle? We recommend booking as early as possible especially if you need a rush delivery! With Cayad, you get a streamlined pickup and delivery process, regular updates on your vehicle’s location, and flexibility to adjust your dates before dispatch. We’re here to make vehicle transport simple and stress-free—secure your spot with us today.
          </p>
        </div>
      </div>
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/sd.webp" width="940" height="622" class="rounded-xl" alt="car transport calendar"/>
      </div>
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/img-home.webp" width="1600" height="708" class="rounded-xl" alt="car shipping hotshot"/>
      </div>
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h2 class="text-[1.5rem] font-bold">Transport type</h2>
        <p class="text-base mt-4">
          Most Cayad customers choose open auto transport the affordable option for cross-country car shipping. If you’re moving a luxury, classic, or specialty vehicle, consider enclosed transport for added protection against weather and road debris. It’s worth the investment for peace of mind over long distances.
        </p>
        
      </div>
    </div>

    <div class="w-full mt-12 mb-12 flex flex-col items-center">
      <div
        class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
      >
        <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
          <div class="mt-8">
            <h3 class="text-[1.5rem] font-bold">Timing</h3>
            <p class="text-base mt-4">
              Shipping your car cross-country can take up to two weeks, so it’s best to plan accordingly. However, most Cayad customers receive their vehicles sooner without any extra costs. We prioritize efficiency without compromising affordability.
            </p>
          </div>
        </div>
        <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
          <img src="/img/enclosed-car.webp" width="1600" height="1200" class="rounded-xl" alt="enclosed car transport "/>
        </div>
      </div>
    </div>

    <div class="w-full mt-12 mb-12 flex flex-col items-center">
      <div
        class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
      >
        <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
          <img src="/img/vc.webp" width="1024" height="523" class="rounded-xl" alt="car shipping vehicle condition report"/>
        </div>
        <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
          <h2 class="text-[1.5rem] font-bold">Reliability</h2>
          <p class="text-base mt-4">
            At Cayad, we understand that peace of mind is essential when shipping your car across the country. That’s why we work exclusively with vetted, experienced carriers who are experts in coast-to-coast transport. With Cayad, you can rest easy knowing that trusted professionals are handling your vehicle with care, ensuring it arrives on time and in pristine condition. Choose reliability choose Cayad for your car transport needs.
          </p>
        </div>
      </div>

      <div class="w-full mt-12 mb-12 flex flex-col items-center">
        <div
          class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
        >
          <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
            <div class="mt-8">
              <h3 class="text-[1.5rem] font-bold">Experience</h3>
              <p class="text-base mt-4">
                At Cayad, we’re experts in cross-country car transport, moving over 10,000 vehicles each year. Yet, we’re committed to giving every customer personal attention and exceptional care ensuring top service and value for your investment in car shipping.
              </p>
            </div>
            <GetQuote />
          </div>
          <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
            <img src="/img/vd.webp" width="1200" height="788" class="rounded-xl" alt="auto shipping hauler"/>
          </div>
        </div>
      </div>
    </div>

    <section
      class="w-[80%] xs:w-full sm:w-full xs:px-4 sm:px-4 mx-auto mb-12 flex flex-col justify-between xs:flex-col sm:flex-col"
    >
      <h3 class="text-4xl mt-12 font-semibold">
        Cross country car shipping services
      </h3>
      <container
        class="mt-8 xs:w-full sm:w-full mx-auto mb-12 flex xs:flex-col sm:flex-col"
      >
        <div
          class="h-[60vh] xs:w-full sm:w-full xs:h-max sm:h-max md:h-max md:w-[50%] hover:bg-btn-blue hover:text-white duration-100 shadow-sm rounded-lg w-[38%] bg-[#f5f7fa] p-8"
        >
          <a href="http://www.cayadservices.com/for-individuals/door-to-door/">
            <h4 class="text-3xl font-semibold">Door-to-door car shipping</h4>
            <p class="mt-8">
              Door-to-door service is a convenient way to ship your car. You
              provide specific addresses and the truck driver will pickup and
              drop off your vehicle as close to your door as safely and legally
              possible. Keep in mind that some cities have restrictions on large
              trucks that prohibit them from entering some residential areas
            </p>
          </a>
        </div>
        <div
          class="h-[60vh] xs:w-full sm:w-full xs:h-max sm:h-max md:h-max md:w-[50%] hover:bg-btn-blue hover:text-white duration-100 shadow-sm rounded-lg w-[38%] bg-[#e2e6ec] p-8"
        >
          <a
            href="http://www.cayadservices.com/for-individuals/enclosed-auto-transport/"
          >
            <h4 class="text-3xl font-semibold">Enclosed car shipping</h4>
            <p class="mt-8">
              Cayad Auto Transport is your ultimate partner for delivering
              vehicles with an unbeatable blend of cost-effectiveness and
              top-tier service. Specializing in enclosed car transport, we
              ensure that your prized automobiles are shielded from the elements
              and potential road hazards during transit.
            </p>
          </a>
        </div>
        <div
          class="h-[60vh] xs:w-full sm:w-full xs:h-max sm:h-max md:h-max md:w-[50%] hover:bg-btn-blue hover:text-white duration-100 shadow-sm rounded-lg w-[38%] bg-[#f5f7fa] p-8"
        >
          <h4 class="text-3xl font-semibold">Motorcycle shipping</h4>
          <p class="mt-8">
            <a
              href="http://www.cayadservices.com/for-individuals/motorcycle-shipping/"
            >
              Cayad provides our motorcycle transport customers with the best
              year-round pricing. We use experienced drivers who have the skills
              and equipment to properly load, secure and transport motorcycles,
              scooters, ATVs, UTVs and powersports. Call 
              <span class="text-btn-blue mb-2 hover:underline hover:cursor-pointer"
          ><a href="tel:469-619-0747">(469) 619-0747</a></span>
              for a
              custom motorcycle shipping quote.
            </a>
          </p>
        </div>
        <div
          class="h-[60vh] xs:w-full sm:w-full xs:h-max sm:h-max md:h-max md:w-[50%] hover:bg-btn-blue hover:text-white duration-100 shadow-sm rounded-lg w-[38%] bg-[#e2e6ec] p-8"
        >
          <a
            href="http://www.cayadservices.com/for-individuals/military-auto-transport/"
          >
            <h4 class="text-3xl font-semibold">Military PCS shipping</h4>
            <p class="mt-8">
              Most PCS moves are long distance and require a lot of planning. To
              make your move easier, use Cayad to transport your personal
              vehicles. We offer PSC vehicle shipping discounts for those in
              active duty, Reserves or National Guard along with military
              dependents and veterans. Thank you for your service.
            </p>
          </a>
        </div>
      </container>
      <a
        class="text-btn-blue hover:underline hover:cursor-pointer"
        href="/how-auto-transport-works/">See how to ship a car</a
      >
    </section>

    <ButtonScrollTop client:load />
  </div>
</Layout>
