---
import Layout from "../../../layouts/Layout.astro";
import GetQuoete from "../../../components/buttons/GetQuote.astro";
import Testimonials from "../../../components/Testimonials";
import ButtonScrollTop from "../../../components/buttons/ButtonScrollTop";
import GetQuote from "../../../components/buttons/GetQuote.astro";
---

<style>
  .custom-background {
    background:
      linear-gradient(hsla(250, 75%, 5%, 0.5), rgba(6, 3, 21, 0.5)),
      url("/img/snowbird4.jpeg") center center no-repeat;
    background-size: cover;
  }
</style>

<Layout
  title="Shipping a Car Across Country | Cayad Auto Transport"
  content="sasa"
>
  <div
    class="container-fluid flex flex-col items-center justify-center custom-background h-[60vh]"
  >
    <div class="w-[80%]">
      <h1
        class="text-white text-[4rem] xs:text-[1.8rem] sm:text-[1.8rem] font-bold"
      >
        Shipping a car across the country
      </h1>
      <p class="text-white text-lg font-semibold">
        Find cross country cost effective auto shipping with Cayad 
      </p>
      <GetQuoete />
    </div>
  </div>

  <div class="w-full mt-12 flex justify-center mb-8">
    <Testimonials title="Our Customers Say" client:load />
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <div class="mt-8">
          <h3 class="text-[1.5rem] font-bold">
            What is cross country vehicle shipping?​
          </h3>
          <p class="text-base mt-4">
            Cross country vehicle shipping is a type of service provided to move
            cars state to state or city to city. Auto transport haulers travel
            about 500-700 miles/day and deliveries take anywhere from 1-9
            business days after booking. Certain pickup and/or drop-off
            locations, like Hawaii for example, might take longer. Some
            companies offer expedited pickup and delivery for an additional
            cost.
          </p>
        </div>
      </div>
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/snowbird.webp" class="rounded-xl" />
      </div>
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/snowbird1.webp" class="rounded-xl" />
      </div>
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h2 class="text-[#19171fd2] text-[1.5rem] font-bold">
          How much does it cost to ship a car across country?
        </h2>
        <p class="text-base mt-4">
          The average cost to ship a car across the country, as of 2024, is
          around $1.85/mile for short distances (1-500 miles) or $555 for 300
          miles. Car shipping costs for medium distances are $.91/mile (500-1500
          miles) or $910 for 1000 miles. Long-distance costs (1500+ miles) are
          $.59/mile or $1,180 for 2000 miles.
        </p>
      </div>
    </div>

    <div class="w-full mt-12 mb-12 flex flex-col items-center">
      <div
        class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
      >
        <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
          <div class="mt-8">
            <h3 class="text-[1.5rem] font-bold">
              What’s the best way to ship a car across the country?
            </h3>
            <p class="text-base mt-4">
              The best way to ship a car across the country can be simple if you
              follow this step-by-step guide:
            </p>

            <ol class="list-decimal px-4 mt-4">
              <li>Decide on the destination you want to ship to/from</li>
              <li>Determine your pickup and delivery dates</li>
              <li>Find a reputable car shipping company</li>
              <li>Get a quote</li>
              <li>Book your order</li>
              <li>Get your car picked up</li>
            </ol>
          </div>
        </div>
        <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
          <img src="/img/snowbird.webp" class="rounded-xl" />
        </div>
      </div>
    </div>

    <h3
      class="text-4xl w-[80%] xs:w-full sm:w-full xs:px-4 sm:px-4 font-semibold"
    >
      Factors to consider when shipping a car across the country:
    </h3>
    <div
      class="w-[80%] mt-12 xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <div class="mt-8">
          <h3 class="text-[1.5rem] font-bold">Date</h3>
          <p class="text-base mt-4">
            We recommend booking as far in advance as you possibly can,
            especially if you need expedited service. No matter what, we’ll make
            it easy by streamlining pickup/delivery and giving you regular
            updates on your vehicle. Need to change your dates? No problem! With
            Cayad you can change your pickup or delivery dates before your
            vehicle is dispatched.
          </p>
        </div>
      </div>
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/snowbird.webp" class="rounded-xl" />
      </div>
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/snowbird1.webp" class="rounded-xl" />
      </div>
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h2 class="text-[#19171fd2] text-[1.5rem] font-bold">Transport type</h2>
        <p class="text-base mt-4">
          Most Cayad customers opt for open auto transport, which is the
          budget-friendly way to ship a car across the country. Typically,
          cross-country car shipping cost estimates will be for this type of
          transport. If you need to transport a luxury vehicle, a classic car,
          or a specialty vehicle, consider the additional cross country car
          shipping cost of an enclosed transport that will shield your car from
          weather and road debris over long distances.
        </p>
        <GetQuote />
      </div>
    </div>

    <div class="w-full mt-12 mb-12 flex flex-col items-center">
      <div
        class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
      >
        <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
          <div class="mt-8">
            <h3 class="text-[1.5rem] font-bold">Timing</h3>
            <p class="text-base mt-4">
              Shipping a car across the country can take up to two weeks. Be
              ready to be without your vehicle for at least that long, just in
              case, though we’re happy to share that most Cayad customers
              receive their vehicles in less time (without charging a higher
              cost of transporting a car across the country). Click for a
              breakdown of estimated shipping times.
            </p>
          </div>
        </div>
        <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
          <img src="/img/snowbird.webp" class="rounded-xl" />
        </div>
      </div>
    </div>

    <div class="w-full mt-12 mb-12 flex flex-col items-center">
      <div
        class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
      >
        <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
          <img src="/img/snowbird1.webp" class="rounded-xl" />
        </div>
        <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
          <h2 class="text-[#19171fd2] text-[1.5rem] font-bold">Reliability</h2>
          <p class="text-base mt-4">
            We know that peace of mind is important when transporting a car
            across the country, which is why Cayad uses only vetted car
            carriers who have experience shipping cars from coast to coast. This
            is how we ensure that your vehicle is being moved by trusted members
            of the industry who will do everything they can to ensure your car
            arrives on time and in the condition you’re expecting.
          </p>
        </div>
      </div>

      <div class="w-full mt-12 mb-12 flex flex-col items-center">
        <div
          class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
        >
          <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
            <div class="mt-8">
              <h3 class="text-[1.5rem] font-bold">Experience</h3>
              <p class="text-base mt-4">
                We know how to transport a car across the country. Cayad moves
                10,000+ vehicles a year, but we still find time to give each of
                our customers the individual attention they deserve. Whenever
                we’re arranging transport across the country, we provide special
                care and attention to detail so you get the best possible
                service for your cost of moving a car across the country.
              </p>
            </div>
          </div>
          <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
            <img src="/img/snowbird.webp" class="rounded-xl" />
          </div>
        </div>
      </div>
    </div>

    <section
      class="w-[80%] xs:w-full sm:w-full xs:px-4 sm:px-4 mx-auto mb-12 flex flex-col justify-between xs:flex-col sm:flex-col"
    >
      <h3 class="text-4xl mt-12 font-semibold text-[#555]">
        Cross country car shipping services
      </h3>
      <container
        class="mt-8 xs:w-full sm:w-full mx-auto mb-12 flex xs:flex-col sm:flex-col"
      >
        <div
          class="h-[60vh] xs:w-full sm:w-full xs:h-max sm:h-max md:h-max md:w-[50%] hover:bg-btn-blue hover:text-white duration-100 shadow-sm rounded-lg w-[38%] bg-[#f5f7fa] p-8"
        ><a href="http://www.cayadservices.com/for-individuals/door-to-door/">
          <h4 class="text-3xl font-semibold">Door-to-door car shipping</h4>
          <p class="mt-8">
            Door-to-door service is a convenient way to ship your car. You
            provide specific addresses and the truck driver will pickup and drop
            off your vehicle as close to your door as safely and legally
            possible. Keep in mind that some cities have restrictions on large
            trucks that prohibit them from entering some residential areas
          </p>
        </div></a>
        <div
          class="h-[60vh] xs:w-full sm:w-full xs:h-max sm:h-max md:h-max md:w-[50%] hover:bg-btn-blue hover:text-white duration-100 shadow-sm rounded-lg w-[38%] bg-[#e2e6ec] p-8"
        ><a href="http://www.cayadservices.com/for-individuals/enclosed-auto-transport/">
          <h4 class="text-3xl font-semibold">Enclosed car shipping</h4>
          <p class="mt-8">
            Cayad Auto Transport is your ultimate partner for delivering vehicles with an unbeatable blend of cost-effectiveness and top-tier service. Specializing in enclosed car transport, we ensure that your prized automobiles are shielded from the elements and potential road hazards during transit.
          </p>
        </div></a>
        <div
          class="h-[60vh] xs:w-full sm:w-full xs:h-max sm:h-max md:h-max md:w-[50%] hover:bg-btn-blue hover:text-white duration-100 shadow-sm rounded-lg w-[38%] bg-[#f5f7fa] p-8"
        >
          <h4 class="text-3xl font-semibold">Motorcycle shipping</h4>
          <p class="mt-8"><a href="http://www.cayadservices.com/for-individuals/motorcycle-shipping/">
            Cayad provides our motorcycle transport customers with the best
            year-round pricing. We use experienced drivers who have the skills
            and equipment to properly load, secure and transport motorcycles,
            scooters, ATVs, UTVs and powersports. Call (469) 619-0747 for a
            custom motorcycle shipping quote.
          </p>
        </div></a>
        <div
          class="h-[60vh] xs:w-full sm:w-full xs:h-max sm:h-max md:h-max md:w-[50%] hover:bg-btn-blue hover:text-white duration-100 shadow-sm rounded-lg w-[38%] bg-[#e2e6ec] p-8"
        ><a href="http://www.cayadservices.com/for-individuals/military-auto-transport/">
          <h4 class="text-3xl font-semibold">Military PCS shipping</h4>
          <p class="mt-8">
            Most PCS moves are long distance and require a lot of planning. To
            make your move easier, use Cayad to transport your personal
            vehicles. We offer PSC vehicle shipping discounts for those in
            active duty, Reserves or National Guard along with military
            dependents and veterans. Thank you for your service.
          </p>
        </div></a>
      </container>
      <a
        class="text-btn-blue hover:underline hover:cursor-pointer"
        href="/how-auto-transport-works/">See how to ship a car</a
      >
    </section>

    <ButtonScrollTop client:load />
  </div>
</Layout>
