---
import {
  FaInstagram,
  FaFacebookF,
  FaReddit,
  FaLinkedinIn,
} from "react-icons/fa";
import { FaXTwitter } from "react-icons/fa6";
import ButtonScrollTop from "./buttons/ButtonScrollTop";
import AuthorizeNetSeal from "./buttons/AuthorizeNetSeal";
---

<div
  class="bg-bg-footer xs:h-max sm:h-max md:h-max h-max flex flex-col justify-center items-center text-light pt-5"
>
  <div
    class="grid grid-cols-4 items-center content-start p-4 h-5/6 md:grid-cols-2 sm:grid-cols-1 xs:grid-cols-1 lg:grid-cols-4 gap-5"
  >
    <div class="flex h-full flex-col items-start">
      <h4 class="text-light mb-4 font-semibold text-2xl">Address</h4>
      <div class="flex justify-center items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-5 mb-2 mr-2"
        >
          <path
            fill-rule="evenodd"
            d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
            clip-rule="evenodd"></path>
        </svg>
        <p class="mb-2 text-base">9295 ASHLAND AVE, PENSACOLA, FL 32534</p>
      </div>

      <div class="flex justify-start items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-5 mb-2 mr-2"
        >
          <path
            fill-rule="evenodd"
            d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z"
            clip-rule="evenodd"></path>
        </svg>
        <p class="mb-2">(469) 619-0747</p>
      </div>

      <div class="flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-5 mb-2 mr-2"
        >
          <path
            d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z"
          ></path>
          <path
            d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z"
          ></path>
        </svg>
        <p class="mb-2">info@cayadservices.com</p>
      </div>
      <div class="flex pt-2 space-x-2">
        <a
          class="h-8 w-8 flex justify-center items-center border rounded-3xl border-white"
          href="https://www.instagram.com/cayadservices"
          target="_blank"><FaInstagram /></a
        >
        <a
          class="h-8 w-8 flex justify-center items-center border rounded-3xl border-whitel"
          href="https://www.twitter.com/cayadservices"
          target="_blank"
          ><FaXTwitter />
        </a>
        <a
          class="h-8 w-8 flex justify-center items-center border rounded-3xl border-whitel"
          href="https://www.facebook.com/cayadservices"
          target="_blank"
          ><FaFacebookF />
        </a>
        <a
          class="h-8 w-8 flex justify-center items-center border rounded-3xl border-whitel"
          href="https://www.reddit.com/user/cayadservices"
          target="_blank"
          ><FaReddit />
        </a>
        <a
          class="h-8 w-8 flex justify-center items-center border rounded-3xl border-whitel"
          href="https://www.linkedin.com/company/cayad-auto-transport/"
          target="_blank"
          ><FaLinkedinIn />
        </a>
      </div>
    </div>
    <div class="flex h-full flex-col">
      <h4 class="text-light mb-4 font-semibold text-2xl">Services</h4>
      <div class="flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 stroke-2"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path>
        </svg>
        <a
          class="block text-light capitalize hover:tracking-widest duration-300"
          href="/door-to-door/">Door to door transport</a
        >
      </div>

      <div class="flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 stroke-2"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path>
        </svg>
        <a
          class="block text-light capitalize hover:tracking-widest duration-300"
          href="/open-car-transport/">Open auto transport</a
        >
      </div>

      <div class="flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 stroke-2"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path>
        </svg>
        <a
          class="block text-light capitalize hover:tracking-widest duration-300"
          href="/enclosed-auto-transport/">Enclosed car transport</a
        >
      </div>

      <div class="flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 stroke-2"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path>
        </svg>
        <a
          class="block text-light capitalize hover:tracking-widest duration-300"
          href="/motorcycle-shipping/">Motorcycle shipping</a
        >
      </div>

      <div class="flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 stroke-2"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path>
        </svg>
        <a
          class="block text-light capitalize hover:tracking-widest duration-300"
          href="/heavy-haul/">Heavy haul</a
        >
      </div>
    </div>
    <div class="flex h-full flex-col items-start">
      <h4 class="text-light mb-4 font-semibold text-2xl">Quick Links</h4>

      <div class="flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 stroke-2"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path>
        </svg>
        <a
          class="block text-light capitalize hover:tracking-widest duration-300"
          href="/about-us/">About us</a
        >
      </div>

      <div class="flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 stroke-2"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path>
        </svg>
        <a
          class="block text-light capitalize hover:tracking-widest duration-300"
          href="/our-contact/">Contact us</a
        >
      </div>

      <div class="flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 stroke-2"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path>
        </svg>
        <a
          class="block text-light capitalize hover:tracking-widest duration-300"
          href="/our-team/">Our team</a
        >
      </div>

      <div class="flex items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 stroke-2"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path>
        </svg>
        <a
          class="block text-light capitalize hover:tracking-widest duration-300"
          href="/reviews/">Reviews</a
        >
      </div>
    </div>

    <div class="flex w-11/12 h-full flex-col items-start justify-start">
      <h4 class="text-light mb-4 font-semibold text-2xl">Contact us</h4>
      <div class="mx-auto w-full flex flex-col">
        <a
          href="/quote/index.html"
          class="mt-6 flex w-full items-center justify-center border mb-2 border-transparent bg-btn-blue px-8 py-3 text-base font-medium text-white hover:bg-btn-hover transition-colors duration-500 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          >Get Free Quote</a
        >
        <a
          href="tel:(469) 619-0747"
          class="mt-6 flex w-full items-center justify-center border border-white bg-btn-blue px-8 py-3 text-base font-medium text-white transition-colors duration-500 ease-in-out focus:outline-none focus:ring-offset-2"
        >
          <i class="fa fa-phone-alt mr-3"></i> Call Now
        </a>
        <div class="flex items-center mt-4 mb-4">
          <img
            src="../img/part6.webp"
            width="45"
            height="45"
            alt=""
            class="mr-2"
          />
          <p class="text-sm">
            USDOT: 4091368 <br />MC: 1558686
          </p>
        </div>

        <div class="AuthorizeNetSeal" style="float: left;">
          <script type="text/javascript">
            var ANS_customer_id = "40b07bd0-492e-41ef-af3d-203518035d55";
          </script>
          <script
            type="text/javascript"
            src="https://verify.authorize.net:443/anetseal/seal.js"></script>
        </div>
      </div>
    </div>
  </div>

  <div
    class="container xs:min-w-[100%] sm:min-w-[90%] md:min-w-[90%] md:mx-auto"
  >
    <div class="border-t border-gray-700 py-4">
      <div
        class="relative flex flex-col md:flex-row md:justify-between text-center md:text-left"
      >
        <div class="mb-3 xs:text-xs sm:text-sm md:text-base md:mb-0">
          &copy;2023 <a class="border-b" href="https://www.cayadservices.com"
            >Cayad Services LLC</a
          > | All Rights Reserved
        </div>
        <div class="space-x-2 xs:text-xs sm:text-sm md:text-sm">
          <a href="/privacy-policy/" class="text-light capitalize"
            >Privacy Policy</a
          >

          <a href="/copyright-trademark/" class="text-light capitalize"
            >Copyright and Trademark</a
          >

          <a
            href="/img/Terms-and-Conditions.pdf"
            download
            class="text-light capitalize">Terms and Conditions</a
          >

          <a href="/img/Terms-of-use.pdf" download class="text-light capitalize"
            >Terms of use</a
          >
        </div>
        <div class="absolute top-1/2 right-1">
          <ButtonScrollTop client:load />
        </div>
      </div>
    </div>
  </div>
</div>
