---
import { FaPhone } from "react-icons/fa";
---

<div class="flex items-center">
  <div class="h-12 w-12 flex items-center justify-center bg-btn-blue">
    <FaPhone className="text-[#FFFF]" />
  </div>
  <div class="pl-4">
    <h6 class="text-[#19171fd2] font-semibold">Call us to get a quote!</h6>
    <a href="tel:(469) 619-0747">
      <h3 class="text-2xl text-btn-blue font-semibold m-0">(469) 619-0747</h3>
    </a>
  </div>
</div>
