<style>
  .footer--img {
    background-image: url("/img/footer.webp");
    background-position-y: 5%;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div
  class="footer--img h-[60vh] w-full bg-center flex xs:flex-col sm:flex-col xs:h-max sm:h-max justify-center items-center"
>
<div class="w-[80%] xs:w-[90%] sm:w-[90%] opacity-[0.9] p-2 rounded-xl">
  <div class="bg-[#778899] xs:w-[100%] sm:w-[100%] w-[90%] p-2 rounded-xl">
    <h2 class="text-white text-[30px]">
      Get started with Cayad, your independent auto transport solution
    </h2><br>
    <p class="text-white text-lg">
      Get your Premium quote and enjoy secure, stress-free vehicle shipping, powered by a 5-star team. As an <strong>independent auto transport</strong> company, we’re trusted as the <strong>best vehicle transporter</strong> for families, dealers, and individuals.
      <a href="tel:(469) 619-0747" class="text-lg hover:underline mr-[1px] leading-6">
        (469) 619-0747
      </a> 👉 Request Your Quote Now
    </p>
    
  </div>
</div>

</div>
