<style>
  .footer--img {
    background-image: url("/img/footer.webp");
    background-position-y: 5%;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div
  class="footer--img h-[60vh] w-full bg-center flex xs:flex-col sm:flex-col xs:h-max sm:h-max justify-center items-center"
>
<div class="w-[80%] xs:w-[100%] sm:w-[90%] opacity-[0.9] p-2 rounded-xl">
  <div class="bg-[#778899] xs:w-[100%] sm:w-[100%] w-[90%] p-2 rounded-xl">
    <h3 class="text-white text-xl font-medium text-[#000000] mb-2">
      Get started with Cayad
    </h3><br>
    <p class="text-white mb-2">
  Get a <strong>premium auto transport quote</strong> from a trusted <strong>vehicle transporter</strong>. Call
  <a href="tel:+14696190747" class="text-lg hover:underline mr-[1px] leading-6">
    (469) 619-0747
  </a> 👉 Request Your Quote
</p>


    
  </div>
</div>

</div>
