<style>
  .footer--img {
    background-image: url("/img/footer.webp");
    background-position-y: 5%;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div
  class="footer--img h-[60vh] w-full bg-center flex xs:flex-col sm:flex-col xs:h-max sm:h-max justify-center items-center"
>
  <div class="w-[80%] xs:w-[90%] sm:w-[90%] opacity-[0.9] p-2 rounded-xl">
    <div class="bg-[#778899] xs:w-[100%] sm:w-[100%] w-[60%] p-2 rounded-xl">
      <h2 class="text-white text-[30px]">
        Ready to transport your car with Cayad Auto Transport?
      </h2>
      <p class="text-white text-lg">
        Our car shipping specialists are available by calling
        <a
          href="tel:469-619-0747"
          class="text-lg hover:underline mr-[1px] leading-6"
        >
          (469) 619-0747
        </a> to answer all your questions.
      </p>
    </div>
  </div>
</div>
