---
import Layout from "../../../layouts/Layout.astro";
import GetQuoete from "../../../components/buttons/GetQuote.astro";
import Testimonials from "../../../components/Testimonials";
import ButtonScrollTop from "../../../components/buttons/ButtonScrollTop";
---

<style>
  .custom-background {
    background:
      linear-gradient(hsla(250, 75%, 5%, 0.5), rgba(6, 3, 21, 0.5)),
      url("/img/enclosed2.webp") center center no-repeat;
    background-size: cover;
  }
</style>


<Layout title="Enclosed Car Transport | Cayad Auto Transport" 
content="">
  <div
    class="container-fluid flex flex-col items-center justify-center custom-background h-[60vh]"
  >
    <div class="w-[80%]">
      <h2
        class="text-white text-[4rem] xs:text-[1.8rem] sm:text-[1.8rem] font-bold"
        data-aos="fade-down"
      >
        Enclosed Car Transport
      </h2>
      <h1 class="text-white text-lg font-semibold">
        Cayad is the most cost effective enclosed car shipping solution
      </h1>
      <GetQuoete />
    </div>
  </div>

  <div class="w-full mt-12 flex justify-center mb-8">
    <Testimonials
      title="Read what other customers say about their experience with Cayad"
      client:load
    />
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h2 class="text-[#19171fd2] font-semibold text-[2.5rem]">
          What is enclosed car transport?
        </h2>
        <p class="text-base mt-8">
          With enclosed transport, your vehicle is shipped via a car carrier
          with a fully enclosed trailer. This shipping method offers higher
          security and protection. It's a great option for owners of luxury
          cars. Enclosed trailers can carry few vehicles at the same time, in
          most cases up to 7 vehicles.
        </p>
      </div>
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/enclosed-car2.webp" class="rounded-xl" />
      </div>
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/enclosed-car1.webp" class="rounded-xl" />
      </div>
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h2 class="text-[#19171fd2] font-semibold text-[2.5rem]">
          What are enclosed car transport prices?
        </h2>
        <p class="text-base mt-8">
          What's the price of an enclosed car shipping? Enclosed transport
          prices are around 30-40% higher than open transport, offering more
          protection per trip. For standard-sized vehicles: short routes (1-500
          miles) average $709, medium routes (500-1500 miles) average $929 and
          longer routes (1500+ miles) average $1179.
        </p>
      </div>
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h2 class="text-[#19171fd2] font-semibold text-[2.5rem]">
          Do I need enclosed car transport?
        </h2>
        <div
          class="lg:w-1/2 feature-text animate__animated animate__fadeInUp"
          data-wow-delay="0.1s"
        >
          <div
            class="flex mb-5 animate__animated animate__fadeInUp"
            data-wow-delay="0.3s"
          >
            <ol>
              <p class="mb-0">
                Here are a few questions to ask yourself if you're deciding
                whether you need enclosed car transport, or the standard open
                auto transport:<br />
                <li class="mt-4 ml-2">
                  1. Do you consider your car an investment?
                </li>
                <li class="ml-2">
                  2. Are you concerned about snow or cold weather?
                </li>
                <li class="ml-2">
                  3. Are you concerned about dust, dirt, pollution, or other
                  debris your car might be subject to over the course of
                  transport?
                </li>
                <li class="ml-2">
                  4. Is your car old and/or have a custom or unique paint job?
                </li>
                <li class="ml-2">
                  5. Do you want extra protection against theft?
                </li>
              </p>
            </ol>
          </div>
        </div>
      </div>
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/enclosed-car3.webp" class="rounded-xl" />
      </div>
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div>
      <h2
        class="font-semibold xs:w-full sm:w-full xs:px-4 sm:px-4 text-[2.5rem]"
      >
        What you will like about enclosed auto transport:
      </h2>
    </div>
    <div class="w-[80%] xs:w-full sm:w-full xs:px-4 sm:px-4">
      <div
        class="grid mt-8 grid-cols-2 xs:grid-cols-1 sm:grid-cols-1 w-full gap-6"
      >
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 p-4 xs:p-0 sm:p-0 shadow-sm hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.3s"
        >
          <h5 class="mb-2 py-4 text-xl text-[#19171fd2] font-bold">
            Peace-of-mind protection
          </h5>
          <p class="py-4" style="text-align: justify;">
            We know that you want your car to arrive as clean as when you left
            it. Avoid exposure to the elements or extreme weather with enclosed
            auto shipping. Your enclosed car transport cost will just be a
            little bit extra.
          </p>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 shadow-sm hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.5s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h5 class="mb-2 py-4 text-xl text-[#19171fd2] font-bold">
              Safe from rain, weather and road hazards
            </h5>
            <p class="py-4" style="text-align: justify;">
              Enclosed car haulers keep your pride-and-joy protected from the
              elements. Most customers don't mind a little rain or snow but if
              you're dealing with an exotic or luxury car, covered vehicle
              shipping might be necessary for keeping your car dirt free.
            </p>
          </div>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 shadow-sm hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.7s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h5 class="mb-2 py-4 text-xl text-[#19171fd2] font-bold">
              Ship cars with low ground clearance
            </h5>
            <p class="py-4" style="text-align: justify;">
              Hydraulic lift gates are necessary when loading and unloading a
              car with low ground clearance, and are only available with
              enclosed auto transport. When booking, make sure that you let our
              transport specialists know that it is a vehicle with low ground
              clearance so they will make sure that you receive an enclosed car
              shipper equipped with this feature.
            </p>
          </div>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 shadow-sm hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.9s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h5 class="mb-2 text-xl py-4 text-[#19171fd2] font-bold">
              Ship more than one vehicle
            </h5>
            <p class="py-4" style="text-align: justify;">
              Whether you need an enclosed car transporter for a single car, or
              multiple, Cayad Auto Transport is here to help with all of your
              luxury auto transport needs. Most enclosed car transport companies
              say they will get you the best deal, but with thousands of verified
              enclosed car haulers in our network, Cayad Auto Transport is known
              for providing the best service in the business.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-full flex mb-8 flex-col items-center xs:min-w-[100%] xs:px-0 sm:min-w-[100%] sm:px-0 mx-auto overflow-hidden px-0"
  >
    <div
      class="w-[80%] xs:min-w-[100%] xs:px-4 sm:min-w-[100%] sm:px-4 py-10 px-0"
    >
      <h2 class="text-4xl text-[#19171fd2] font-medium mb-10">
        Why should you choose Cayad Auto Transport for enclosed auto transport?
      </h2>
      <div
        class="grid grid-cols-2 md:grid-cols-1 sm:grid-cols-1 xs:grid-cols-1 gap-10"
      >
        <div class="wow" data-aos="fade-up" data-aos-delay="100">
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="300">
            <img src="/img/dollar.png" class="w-24 h-20 mb-2" />
            <div class="ml-4">
              <h5 class="font-semibold">Experienced classic car haulers</h5>
              <p class="xs:text-start sm:text-start mb-0">
                Enclosed car shipping requires the carriers to have knowledge
                about classic, luxury and collectible cars. At Cayad Auto
                Transport, we make sure that we select the best carriers and
                drivers to assure quality service to all of our customers.
              </p>
            </div>
          </div>
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="300">
            <img src="/img/easy.png" class="w-24 h-20 mb-2" />
            <div class="ml-4">
              <h5 class="font-semibold">A+ claims team</h5>
              <p class="xs:text-start sm:text-start mb-0">
                Antique car haulers carry higher insurance policy limits due to
                the higher value of their cargo. Our compliance team checks the
                insurance coverage of all of our carriers. If your vehicle is
                worth $50,000 or more, we recommend using enclosed auto
                transport.
              </p>
            </div>
          </div>
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="500">
            <img src="/img/call.png" class="w-24 h-24 mb-2" />
            <div class="ml-4">
              <h5 class="font-semibold">
                Covered auto transport compliance standards
              </h5>
              <p class="xs:text-start sm:text-start mb-0">
                We have a compliance department that checks all exotic auto
                transport carriers in our network to ensure we only work with
                the most professional enclosed car haulers.
              </p>
            </div>
          </div>
        </div>
        <div
          class="w-[95%] wow"
          data-aos="fade-right"
          data-aos-delay="100"
          style="min-height: 400px;"
        >
          <div class="h-full">
            <img
              src="/img/enclosed.webp"
              class="object-cover rounded-xl w-full h-full"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <ButtonScrollTop client:load />
</Layout>