---
import Layout from "../../../layouts/Layout.astro";
import GetQuoete from "../../../components/buttons/GetQuote.astro";
import Testimonials from "../../../components/Testimonials";
import ButtonScrollTop from "../../../components/buttons/ButtonScrollTop";
---

<link
  rel="canonical"
  href="https://cayadservices.com/for-individuals/enclosed-auto-transport"
/>
<style>
  .custom-background {
    background:
      linear-gradient(hsla(250, 75%, 5%, 0.5), rgba(6, 3, 21, 0.5)),
      url("/img/enclosed-car.webp") center center no-repeat;
    background-size: cover;
  }
</style>

<Layout
  title="Enclosed Car Transport | Cayad Auto Transport"
  content="Cost effective enclosed car transport 10.000+ shippings, ensuring the highest level of safety and protection for your vehicle during transit. 5 stars call now !"
>
  <div
    class="container-fluid flex flex-col items-center justify-center custom-background h-[60vh]"
  >
    <div class="w-[80%]">
      <p
        class="text-white text-[4rem] xs:text-[1.8rem] sm:text-[1.8rem] font-bold"
        data-aos="fade-down"
      >
        Enclosed Car Transport
      </p>
      <h1 class="text-white text-lg font-semibold">
        Cayad is the most cost effective enclosed car shipping solution in the U.S
      </h1>
      <GetQuoete />
    </div>
  </div>

  <div class="w-full mt-12 flex justify-center mb-8">
    <Testimonials title="Real Reviews on Enclosed Auto Transport Services" client:load />
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h2 class="text-[#00000] font-semibold text-[2.5rem]">
          Enclosed Auto Shipping Services
        </h2>
        <p class="text-base mt-8 text-black">
          Protect what matters most. With <strong>enclosed vehicle transportation</strong>, your luxury or classic car rides shielded from weather and debris, safe, secure, and handled with care. 
          <br /><br />
          Choose peace of mind. Choose Cayad.
        </p>
        
        
        
      </div>
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img
          src="/img/enclosed-car2.webp"
          class="rounded-xl"
          height={400}
          width={640}
          sizes="(max-width: 600px) 100vw, 50vw"
          alt="enclosed auto transport"
        />
      </div>
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img
          src="/img/enclosed-car1.webp"
          width="1632"
          height="918"
          class="rounded-xl"
          alt="enclosed auto transport deportive vehicle"
        />
      </div>
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h2 class="text-[#19171fd2] font-semibold text-[2.5rem]">
          How Much Does Enclosed Car Transport Cost?
        </h2>
        <p class="text-base mt-8">
          Car shipping offers greater protection, typically costing 30-40% more than open transport. On average, short routes (1-500 miles) cost around $709, medium routes (500-1500 miles) around $929, and long routes (1500+ miles) around $1179. Invest in enclosed transport for added security and peace of mind.
        </p>
      </div>
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h2 class="text-[#19171fd2] font-semibold text-[2.5rem]">
          Do You Need Enclosed Car Transport? 
        </h2>
        <div
          class="lg:w-1/2 feature-text animate__animated animate__fadeInUp"
          data-wow-delay="0.1s"
        >
          <div
            class="flex mb-5 animate__animated animate__fadeInUp"
            data-wow-delay="0.3s"
          >
            <ol>
              <p class="mb-0">
                If you're unsure whether enclosed transport is the right choice for your vehicle, ask yourself these questions:<br />
                <li class="mt-4 ml-2">
                  1. Do you consider your car a valuable investment?
                </li>
                <li class="ml-2">
                  2. Are you concerned about snow or cold weather
                </li>
                <li class="ml-2">
                  3. Are you worried about dust, dirt, pollution, or debris affecting your car during transport?
                </li>
                <li class="ml-2">
                  4. Is your car old or does it have a custom or unique paint job?
                </li>
                <li class="ml-2">
                  5. Do you want extra protection against theft?
                </li>
              </p>
            </ol>
          </div>
        </div>
      </div>
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img
          src="/img/enclosed-car3.webp"
          width="1000"
          height="750"
          class="rounded-xl"
          alt="enclosed car transport vehicle been pick up"
        />
      </div>
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div>
      <h2
        class="font-semibold xs:w-full sm:w-full xs:px-4 sm:px-4 text-[2.5rem]"
      >
        What you will like about enclosed auto transport:
      </h2>
    </div>
    <div class="w-[80%] xs:w-full sm:w-full xs:px-4 sm:px-4">
      <div
        class="grid mt-8 grid-cols-2 xs:grid-cols-1 sm:grid-cols-1 w-full gap-6"
      >
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 p-4 xs:p-0 sm:p-0 shadow-sm hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.3s"
        >
          <h5 class="mb-2 py-4 text-xl text-[#19171fd2] font-bold">
            Ultimate Protection for Your Car
          </h5>
          <p class="py-4"  >
            Keep your vehicle safe from the elements and ensure it arrives as clean as when it left. With enclosed auto transport, you avoid exposure to extreme weather conditions, dirt, and debris. A small additional cost for peace of mind.
          </p>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 shadow-sm hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.5s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h5 class="mb-2 py-4 text-xl text-[#19171fd2] font-bold">
              Safeguarded from Rain and Hazards
            </h5>
            <p class="py-4"  >
              Enclosed haulers protect your car from rain, snow, and road debris, ensuring it stays in pristine condition. Ideal for exotic or luxury cars, it provides the necessary protection to keep them looking spotless.
            </p>
          </div>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 shadow-sm hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.7s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h5 class="mb-2 py-4 text-xl text-[#19171fd2] font-bold">
              Ideal for Low Ground Clearance Cars
            </h5>
            <p class="py-4"  >
              Enclosed transport is the only option for loading vehicles with low ground clearance. Hydraulic lift gates are essential for a smooth and safe loading/unloading process, just let us know when booking.
            </p>
          </div>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 shadow-sm hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.9s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h5 class="mb-2 text-xl py-4 text-[#19171fd2] font-bold">
              Transport Multiple Vehicles
            </h5>
            <p class="py-4"  >
              Need to ship more than one vehicle? Cayad Auto Transport offers enclosed transport for both single and multiple vehicles. Our vast network of haulers ensures we provide the best service and rates for luxury auto transport.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-full flex mb-8 flex-col items-center xs:min-w-[100%] xs:px-0 sm:min-w-[100%] sm:px-0 mx-auto overflow-hidden px-0"
  >
    <div
      class="w-[80%] xs:min-w-[100%] xs:px-4 sm:min-w-[100%] sm:px-4 py-10 px-0"
    >
      <h2 class="text-4xl text-[#19171fd2] font-medium mb-10">
        Why Choose Enclosed Auto Transport?
      </h2>
      <div
        class="grid grid-cols-2 md:grid-cols-1 sm:grid-cols-1 xs:grid-cols-1 gap-10"
      >
        <div class="wow" data-aos="fade-up" data-aos-delay="100">
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="300">
            <img
              src="/img/dollar.webp"
              width="1080"
              height="1080"
              class="w-24 h-20 mb-2"
              alt="enclosed car shipping dollar logo"
            />
            <div class="ml-4">
              <h5 class="font-semibold">Experienced classic car haulers</h5>
              <p class="xs:text-start sm:text-start mb-0">
                Enclosed car shipping requires the carriers to have knowledge
                about classic, luxury and collectible cars. At Cayad Auto
                Transport, we make sure that we select the best carriers and
                drivers to assure quality service to all of our customers.
              </p>
            </div>
          </div>
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="300">
            <img
              src="/img/easy.webp"
              width="1080"
              height="1080"
              class="w-24 h-20 mb-2"
              alt="enclosed car shipping easy logo"
            />
            <div class="ml-4">
              <h5 class="font-semibold">A+ claims team</h5>
              <p class="xs:text-start sm:text-start mb-0">
                Antique car haulers carry higher insurance policy limits due to
                the higher value of their cargo. Our compliance team checks the
                insurance coverage of all of our carriers. If your vehicle is
                worth $50,000 or more, we recommend using enclosed auto
                transport.
              </p>
            </div>
          </div>
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="500">
            <img
              src="/img/call.webp"
              width="120"
              height="120"
              class="w-24 h-24 mb-2"
              alt="enclosed car transport call logo"
            />
            <div class="ml-4">
              <h5 class="font-semibold">
                Covered auto transport compliance standards
              </h5>
              <p class="xs:text-start sm:text-start mb-0">
                We have a compliance department that checks all exotic auto
                transport carriers in our network to ensure we only work with
                the most professional enclosed car haulers.
              </p>
            </div>
          </div>
        </div>
        <div
          class="w-[95%] wow"
          data-aos="fade-right"
          data-aos-delay="100"
          style="min-height: 400px;"
        >
          <div class="h-full">
            <img
              src="/img/enclosed.webp"
              width="1645"
              height="11234"
              class="object-cover rounded-xl w-full h-full"
              alt="enclosed car shipping delivery"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <ButtonScrollTop client:load />
</Layout>
