---
import Layout from "../../../layouts/Layout.astro";
import GetQuoete from "../../../components/buttons/GetQuote.astro";
import Testimonials from "../../../components/Testimonials";
import NumberPhone from "../../../components/NumberPhone.astro";
import CountNumber from "../../../components/CountNumber";
import ButtonScrollTop from "../../../components/buttons/ButtonScrollTop";
import SecondFooter from "../../../components/SecondFooter.astro";
---

<link
  rel="canonical"
  href="https://cayadservices.com/for-individuals/motorcycle-shipping"
/>
<style>
  .custom-background {
    background:
      linear-gradient(hsla(250, 75%, 5%, 0.5), rgba(6, 3, 21, 0.5)),
      url("/img/motorcycle-new.webp") center center no-repeat;
    background-size: cover;
    background-position-y: 40%;
  }

  .footer--img {
    background-image: url("/public/img/footer.webp");
    background-position-y: 3%;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<Layout
  title="Motorcycle Shipping In USA | Cayad Auto Transport"
  content="Cayad is the most cost effective auto transport for your bike, Quote now!"
>
  <div
    class="container-fluid flex flex-col items-center justify-center custom-background h-[60vh]"
  >
    <div class="w-[80%]">
      <h1
        class="text-white text-[4rem] xs:text-[1.8rem] sm:text-[1.8rem] font-bold"
        data-aos="fade-down"
      >
        The best auto transport for my bike!
      </h1>
      <h2 class="text-white text-lg font-semibold">
        Shipping you motorcycles across the 50 states with Cayad Auto Transport
      </h2>
      <GetQuoete />
    </div>
  </div>

  <div class="w-full mt-12 flex justify-center mb-8">
    <Testimonials
      title="Real Motorcycle Transport Testimonials From  Enthusiast"
      client:load
    />
  </div>

  <div class="w-full flex p-4 justify-center">
    <div
      class="w-[80%] xs:w-full sm:w-full flex xs:flex-col sm:flex-col justify-around"
    >
      <div class="w-1/2 xs:w-full sm:w-full p-2">
        <h2 class="text-[2.5rem] leading-tight font-bold text-[#19171fd2]">
          What makes Cayad Auto Transport the best choice for shipping your motorcycle?
        </h2>
        <p class="mt-8">
          With experience in the industry, we’ve perfected our services to ensure safe, efficient transport nationwide. No matter where you are in the USA, we’re ready to pick up and deliver your motorcycle, reaching every corner with our extensive network. We prioritize your bike's safety and use secure, reliable methods to ensure it arrives in perfect condition. Plus, our dedicated team is here to answer all your questions and provide top-tier customer service. Your satisfaction is our top priority, experience the best in motorcycle transport.
        </p>
        <div class="mt-8">
          <NumberPhone />
        </div>
      </div>
      <CountNumber client:load />
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h2 class="text-[#19171fd2] font-semibold text-[2.5rem]">
          Your Simple Solution for Motorcycle Shipping
        </h2>
        <p class="text-base mt-8">
          Shipping your motorcycle nationwide has never been simpler with Cayad Auto Transport. We offer two convenient options: Door-to-door home delivery and shipping between distribution centers. Most customers prefer our door-to-door service, and it's easy to see why.

          <br />
          <br />

          With door-to-door transport, a dedicated carrier arrives right at your location, securing your motorcycle on specialized platforms designed for bikes, scooters, and ATVs.
        </p>
      </div>
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img
          src="/img/moto-ship.webp"
          width="550"
          height="750"
          sizes="(max-width: 600px) 100vw, 50vw"
          class="rounded-xl"
          alt="motorcycle shipping in an enclosed trailer"
        />
      </div>
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div class="w-[80%] xs:w-full sm:w-full xs:px-4 sm:px-4">
      <div
        class="grid mt-8 grid-cols-2 xs:grid-cols-1 sm:grid-cols-1 w-full gap-6"
      >
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 p-4 xs:p-0 sm:p-0 shadow-sm hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.3s"
        >
          <h5 class="mb-2 py-4 text-xl text-[#19171fd2] font-bold">
            Stable Rates for Motorcycle Shipping, No Matter the Season
          </h5>
          <p class="py-4"  >
            Unlike most companies that adjust their pricing based on seasonal market demand, Cayad Auto Transport offers a fixed price that remains consistent, regardless of demand fluctuations
          </p>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 shadow-sm hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.5s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h5 class="mb-2 py-4 text-xl text-[#19171fd2] font-bold">
              Why should I transport my motorcycle with us?
            </h5>
            <p class="py-4"  >
              At Cayad Auto Transport, we have built a reputation as the
              industry-leader in vehicle transport. With experience, we are the
              number one provider for many of the worlds largest OEM
              manufacturers.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-full flex mb-8 flex-col items-center xs:min-w-[100%] xs:px-0 sm:min-w-[100%] sm:px-0 mx-auto overflow-hidden px-0"
  >
    <div
      class="w-[80%] xs:min-w-[100%] xs:px-4 sm:min-w-[100%] sm:px-4 py-10 px-0"
    >
      <h2 class="text-4xl text-[#19171fd2] font-medium mb-10">
        Why should you choose Cayad Auto Transport for enclosed auto transport?
      </h2>
      <div
        class="grid grid-cols-2 md:grid-cols-1 sm:grid-cols-1 xs:grid-cols-1 gap-10"
      >
        <div class="wow" data-aos="fade-up" data-aos-delay="100">
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="300">
            <img
              src="/img/countries.webp"
              width="1080"
              height="1080"
              class="w-24 h-20 mb-2"
              alt="motorcycle transport countries logo"
            />
            <div class="ml-4">
              <h5 class="font-semibold">13K+ auto carriers</h5>
              <p class="xs:text-start sm:text-start mb-0">
                Cayad Auto Transport has a huge network of haulers who are
                personally vetted auto shipping experts, ensuring your
                Motorcycle is transported by trusted members of the industry.
                These shipping companies will treat your motorcycle like their
                own.
              </p>
            </div>
          </div>
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="300">
            <img
              src="/img/dollar.webp"
              width="1080"
              height="1080"
              class="w-24 h-20 mb-2"
              alt="motorcycle shipping dollar logo"
            />
            <div class="ml-4">
              <h5 class="font-semibold">Zero upfront payment</h5>
              <p class="xs:text-start sm:text-start mb-0">
                You read that right, $0! We only charge your motorcycle
                transport cost once the carrier has been dispatched to your
                location.
              </p>
            </div>
          </div>
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="500">
            <img
              src="/img/call.webp"
              width="120"
              height="120"
              class="w-24 h-24 mb-2"
              alt="motorcycle shipping call logo"
            />
            <div class="ml-4">
              <h5 class="font-semibold">Dedicated Specialists</h5>
              <p class="xs:text-start sm:text-start mb-0">
                Our team of professional shipping specialists is committed to finding the best carrier solution for every motorcycle we transport. We will monitor your shipment around the clock.
              </p>
            </div>
          </div>
        </div>
        <div
          class="w-[95%] xs:w-full sm:w-full wow"
          data-aos="fade-right"
          data-aos-delay="100"
          style="min-height: 400px;"
        >
          <div class="h-full">
            <img
              src="/img/moto2.webp"
              width="768"
              height="1024"
              class="object-cover rounded-xl w-full h-[60%]"
              alt="enclosed motorcycle shipping"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <ButtonScrollTop client:load />
</Layout>
