---
import ShowDataQuote from "../../components/quote2/ShowData";
import ShowDestination from "../../components/quote2/ShowDestination";
import ShowNumberLead from "../../components/quote2/ShowNumberLead";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/webp"
      href="/img/title-icon.webp"
      sizes="120x120"
    />
    <title>Quote | Cayad Auto Transport</title>
  </head>

  <div
    class="h-screen box-border xs:h-max sm:h-max md:h-max w-full flex flex-col justify-center items-center bg-neutral-200"
  >
    <div
      class="max-w-[850px] min-w-[750px] xs:min-w-full xs:min-h-max sm:min-w-full sm:min-h-max md:min-w-full bg-white min-h-[700px] h-max rounded-lg"
    >
      <div
        class="w-[85%] px-8 items-center justify-between xs:pl-4 sm:pl-4 xs:h-max sm:h-max md:h-max xs:mt-10 sm:mt-10 md:mt-24 flex xs:flex-col xs:items-start sm:flex-col sm:items-start mt-4"
      >
        <div>
          <div class="max-h-[50px] max-w-[200px] xs:mb-4 mt-2">
            <img src="/img/logo-cayad.png" alt="" srcset="" />
          </div>
          <ShowNumberLead client:load />
        </div>
        <div class="AuthorizeNetSeal xs:w-[70%]" style="float: left;">
          <script type="text/javascript">
            var ANS_customer_id = "40b07bd0-492e-41ef-af3d-203518035d55";
          </script>
          <script
            type="text/javascript"
            src="https://verify.authorize.net:443/anetseal/seal.js"></script>
        </div>
      </div>

      <div
        class="w-full grid grid-cols-2 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-1 mt-4"
      >
        <div class="w-full xs:pl-0 sm:pl-0 pl-4 flex flex-col items-center">
          <ShowDataQuote client:load />
          <div
            class="w-[95%] xs:w-[95%] sm:w-[85%] md:w-[85%] w-container"
            style="text-align: left; background-color: white; color: black"
          >
            <div class="max-h-9">
              <img src="../img/credit_cards.webp" class="max-h-9" /><br />
            </div>

            <span class="text-xs w-[95%] xs:w-[90%] sm:w-[90%] md:w-[85%]"
              >Fee of 4% will be charged over CC / Paypal / Venmo No fee will be
              charged over Zelle and Cash App</span
            >
          </div>
          <br />
        </div>
        <ShowDestination client:load />
      </div>
      <div class="w-full h-5 flex mb-8 mt-4 justify-center">
        <a href="/" class="text-[#007bff]">Cayad Auto Transport</a>
      </div>
    </div>
  </div>


</html>
