---
import Layout from "../../../layouts/Layout.astro";
import GetQuoete from "../../../components/buttons/GetQuote.astro";
import Testimonials from "../../../components/Testimonials";
import GetQuote from "../../../components/buttons/GetQuote.astro";
import ButtonScrollTop from "../../../components/buttons/ButtonScrollTop";
import SecondFooter from "../../../components/SecondFooter.astro";
import { FaDotCircle } from "react-icons/fa";
import { IoMdArrowDropright } from "react-icons/io";
import { HiChevronRight } from "react-icons/hi";
---
<link rel="canonical" href="https://cayadservices.com/why-us/growth" />

<style>
  .custom-background {
    background:
      linear-gradient(hsla(250, 75%, 5%, 0.5), rgba(6, 3, 21, 0.5)),
      url("/img/how.webp") center center no-repeat;
    background-size: cover;
  }

  .content--right::after {
    content: url("../../../../public/icons/leftArrow.svg");
    color: #e5e7eb;
    font-weight: 700;
    position: absolute; /* Posicionamiento absoluto */
    left: -16px;
  }

  @media (max-width: 767px) {
    .content--right::after {
      content: none;
    }

    .content--left::after {
      content: none;
    }
  }
</style>

<Layout
  title="Car Shipping History | Cayad Auto Transport"
  content="See how Cayad Auto Transport turned a vision into a nationwide leader in affordable and reliable car shipping"
>
  <div
    class="container-fluid flex flex-col items-center justify-center custom-background h-[60vh]"
  >
    <div class="w-[80%]">
      <h1
        class="text-white text-[4rem] xs:text-[1.8rem] sm:text-[1.8rem] font-bold"
      >
        Growing With You
      </h1>
      <p class="text-white text-lg font-semibold">
          Innovation in Car Shipping. Proven Reliability. Rapid Growth. Real Results.

      </p>
      <GetQuoete />
    </div>
  </div>

  <div class="w-full mt-12 flex justify-center mb-8">
    <Testimonials title="Real Growth & Real Stories" client:load />
  </div>

  <div
    class="w-[100%] xs:w-full sm:w-full xs:px-4 sm:px-4 flex flex-col mb-12 mx-auto"
  >
    <div
      class="w-[86%] xs:w-full sm:w-full mx-auto flex xs:justify-center sm:justify-center"
    >
      <h5
        class="text-center w-[100px] p-2 rounded-full bg-btn-blue text-white border-2"
      >
        Trusted
      </h5>
    </div>
    <div
      class="flex xs:flex-col sm:flex-col w-[80%] xs:w-full sm:w-full mx-auto mt-2 justify-between"
    >
      <div class="h-[200px] xs:hidden sm:hidden bg-btn-blue relative w-[4px]">
        <FaDotCircle
          className="text-btn-blue absolute top-[45%] left-[-6px] bg-white "
        />
      </div>

      <div
        class="w-[85%] xs:w-full sm:w-full md:w-[90%] xs:flex-col sm:flex-col h-[200px] xs:h-max sm:h-max md:h-max flex justify-center items-center p-4 relative border-4 content--right"
      >
        <div class="ml-8">
          <h4 class="text-3xl font-semibold">Real Brand. Real Trust</h4>
          <p>
          You’ll now find Cayad with the blue check across top platforms. It’s one more way we show you we’re real, we’re growing, and we’re here to stay.
          </p>
        </div>

        <img
          src="/img/check.png"
          alt="check image"
          class="w-48"
        />
      </div>
    </div>
  </div>

  <div
    class="w-[100%] xs:w-full sm:w-full xs:px-4 sm:px-4 flex flex-col mb-12 mx-auto"
  >
    <div
      class="w-[86%] xs:w-full sm:w-full mx-auto flex xs:justify-center sm:justify-center"
    >
      <h5
        class="text-center w-[100px] p-2 bg-btn-blue text-white rounded-full border-2"
      >
        Achieving
      </h5>
    </div>
    <div
      class="flex xs:flex-col sm:flex-col w-[80%] xs:w-full sm:w-full mx-auto mt-2 justify-between"
    >
      <div class="h-[200px] xs:hidden sm:hidden bg-btn-blue relative w-[4px]">
        <FaDotCircle
          className="text-btn-blue absolute top-[45%] left-[-6px] bg-white "
        />
      </div>

      <div
        class="w-[85%] xs:w-full sm:w-full md:w-[90%] h-[200px] xs:flex-col sm:flex-col xs:h-max sm:h-max md:h-max flex justify-center items-center p-4 relative border-4 content--right"
      >
        <div class="mr-4">
          <img
            src="/img/gps.png"
            alt="car transport web site"
            class="w-48"
          />
        </div>

        <div>
          <h4 class="text-3xl w-full font-semibold">
            Tracking Systems
          </h4>
          <p>
            Our advanced tracking systems keep you updated every step of the way. No guesswork, no stress, just full transparency from dispatch to drop-off.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-[100%] xs:w-full sm:w-full xs:px-4 sm:px-4 flex flex-col mb-12 mx-auto"
  >
    <div
      class="w-[86%] xs:w-full sm:w-full mx-auto flex xs:justify-center sm:justify-center"
    >
      <h5
        class="text-center w-[100px] p-2 rounded-full bg-btn-blue text-white border-2"
      >
        Performance
      </h5>
    </div>
    <div
      class="flex xs:flex-col sm:flex-col w-[80%] xs:w-full sm:w-full mx-auto mt-2 justify-between"
    >
      <div class="h-[200px] xs:hidden sm:hidden bg-btn-blue relative w-[4px]">
        <FaDotCircle
          className="text-btn-blue absolute top-[45%] left-[-6px] bg-white "
        />
      </div>

      <div
        class="w-[85%] xs:w-full sm:w-full md:w-[90%] xs:flex-col sm:flex-col h-[200px] xs:h-max sm:h-max md:h-max flex justify-center items-center p-4 relative border-4 content--right"
      >
        <div class="ml-8">
          <h4 class="text-3xl font-semibold">New Headquarters, Built for Growth</h4>
          <p>
          We’ve expanded to a new headquarters in <a href="/contact/" class="text-btn-blue hover:underline">Pace, Florida</a>, giving our team the space and structure to serve you better than ever.
          </p>
        </div>

        <img
          src="/img/headquater.png"
          alt="headquater image"
          class="w-48"
        />
      </div>
    </div>
  </div>
  
  <div
    class="w-[100%] xs:w-full sm:w-full xs:px-4 sm:px-4 flex flex-col mb-12 mx-auto"
  >
    <div
      class="w-[86%] xs:w-full sm:w-full mx-auto flex xs:justify-center sm:justify-center"
    >
      <h5
        class="text-center w-[100px] p-2 bg-btn-blue text-white rounded-full border-2"
      >
        Value
      </h5>
    </div>
    <div
      class="flex xs:flex-col sm:flex-col w-[80%] xs:w-full sm:w-full mx-auto mt-2 justify-between"
    >
      <div class="h-[200px] xs:hidden sm:hidden bg-btn-blue relative w-[4px]">
        <FaDotCircle
          className="text-btn-blue absolute top-[45%] left-[-6px] bg-white "
        />
      </div>

      <div
        class="w-[85%] xs:w-full sm:w-full md:w-[90%] h-[200px] xs:flex-col sm:flex-col xs:h-max sm:h-max md:h-max flex justify-center items-center p-4 relative border-4 content--right"
      >
        <div class="mr-4">
          <img
            src="/img/headquarters.png"
            alt="partnering image"
            class="w-48"
          />
        </div>

        <div>
          <h4 class="text-3xl w-full font-semibold">
            Partnering With <a href="/for-businesses/auto-dealers/" class="text-btn-blue hover:underline">Dealerships</a>
          </h4>
          <p class=>
          We now work directly with <a href="/for-businesses/auto-dealers/" class="text-btn-blue hover:underline">dealerships</a> nationwide, accelerating process and securing better rates for everyone we serve.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-[100%] xs:w-full sm:w-full xs:px-4 sm:px-4 flex flex-col mb-12 mx-auto"
  >
    <div
      class="w-[86%] xs:w-full sm:w-full mx-auto flex xs:justify-center sm:justify-center"
    >
      <h5
        class="text-center w-[100px] p-2 rounded-full bg-btn-blue text-white border-2"
      >
        Oriented
      </h5>
    </div>
    <div
      class="flex xs:flex-col sm:flex-col w-[80%] xs:w-full sm:w-full mx-auto mt-2 justify-between"
    >
      <div class="h-[200px] xs:hidden sm:hidden bg-btn-blue relative w-[4px]">
        <FaDotCircle
          className="text-btn-blue absolute top-[45%] left-[-6px] bg-white "
        />
      </div>

      <div
        class="w-[85%] xs:w-full sm:w-full md:w-[90%] xs:flex-col sm:flex-col h-[200px] xs:h-max sm:h-max md:h-max flex justify-center items-center p-4 relative border-4 content--right"
      >
        <div class="ml-8">
          <h4 class="text-3xl font-semibold">New CRM</h4>
          <p>
          Our new CRM is built for you, <strong>tracking every shipment</strong>, simplifying communication, and making the entire <strong>auto transport experience</strong> faster and more personal.
          </p>
        </div>

        <img
          src="/img/crm.png"
          alt="crm image"
          class="w-48"
        />
      </div>
    </div>
  </div>

  <div
    class="w-[100%] xs:w-full sm:w-full xs:px-4 sm:px-4 flex flex-col mb-12 mx-auto"
  >
    <div
      class="w-[86%] xs:w-full sm:w-full mx-auto flex xs:justify-center sm:justify-center"
    >
      <h5
        class="text-center w-[100px] p-2 bg-btn-blue text-white rounded-full border-2"
      >
        Reliable

      </h5>
    </div>
    <div
      class="flex xs:flex-col sm:flex-col w-[80%] xs:w-full sm:w-full mx-auto mt-2 justify-between"
    >
      <div class="h-[200px] xs:hidden sm:hidden bg-btn-blue relative w-[4px]">
        <FaDotCircle
          className="text-btn-blue absolute top-[45%] left-[-6px] bg-white "
        />
      </div>

      <div
        class="w-[85%] xs:w-full sm:w-full md:w-[90%] h-[200px] xs:flex-col sm:flex-col xs:h-max sm:h-max md:h-max flex justify-center items-center p-4 relative border-4 content--right"
      >
        <div class="mr-4">
          <img
            src="/img/trade_mark.jpg"
            alt="trade mark logo"
            class="w-48"
          />
        </div>

        <div>
          <h4 class="text-3xl w-full font-semibold">
            Cayad® Is a Registered <a href="https://en.wikipedia.org/wiki/Trademark" class="text-btn-blue hover:underline">Trademark</a>
          </h4>
          <p>
          Cayad® is now officially <a href="https://en.wikipedia.org/wiki/Trademark" class="text-btn-blue hover:underline">trademark</a>. It's more than a name, it’s a commitment to excellence in every shipment.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-[100%] xs:w-full sm:w-full xs:px-4 sm:px-4 flex flex-col mb-12 mx-auto"
  >
    <div
      class="w-[86%] xs:w-full sm:w-full mx-auto flex xs:justify-center sm:justify-center"
    >
      <h5
        class="text-center w-[100px] p-2 rounded-full bg-btn-blue text-white border-2"
      >
        Effective
      </h5>
    </div>
    <div
      class="flex xs:flex-col sm:flex-col w-[80%] xs:w-full sm:w-full mx-auto mt-2 justify-between"
    >
      <div class="h-[200px] xs:hidden sm:hidden bg-btn-blue relative w-[4px]">
        <FaDotCircle
          className="text-btn-blue absolute top-[45%] left-[-6px] bg-white "
        />
      </div>

      <div
        class="w-[85%] xs:w-full sm:w-full md:w-[90%] xs:flex-col sm:flex-col h-[200px] xs:h-max sm:h-max md:h-max flex justify-center items-center p-4 relative border-4 content--right"
      >
        <div class="ml-8">
          <h4 class="text-3xl font-semibold">Top-Rated Service</h4>
          <p>
            <strong>Cayad Auto Transport</strong> has established itself as one of the <strong>leading
            auto transport companies</strong> in the country. We proudly serve 10.000+
            of satisfied customers, including individuals and corporate clients
            in the moving and relocation, <a href="/for-businesses/auto-dealers/" class="text-btn-blue hover:underline">dealership</a>, and <a href="/for-businesses/auto-auctions/" class="text-btn-blue hover:underline">auction</a> sectors, all
            backed by our impressive <a href="/why-us/reviews/" class="text-btn-blue hover:underline">5-star review</a> rating.
          </p>
        </div>

        <img
          src="/img/review2.png"
          alt="car shipping 5 star review"
          class="w-48"
        />
      </div>
    </div>
  </div>

  <div
    class="w-[100%] xs:w-full sm:w-full xs:px-4 sm:px-4 flex flex-col mb-12 mx-auto"
  >
    <div
      class="w-[86%] xs:w-full sm:w-full mx-auto flex xs:justify-center sm:justify-center"
    >
      <h5
        class="text-center w-[100px] p-2 bg-btn-blue text-white rounded-full border-2"
      >
        Consistence
      </h5>
    </div>
    <div
      class="flex xs:flex-col sm:flex-col w-[80%] xs:w-full sm:w-full mx-auto mt-2 justify-between"
    >
      <div class="h-[200px] xs:hidden sm:hidden bg-btn-blue relative w-[4px]">
        <FaDotCircle
          className="text-btn-blue absolute top-[45%] left-[-6px] bg-white "
        />
      </div>

      <div
        class="w-[85%] xs:w-full sm:w-full md:w-[90%] h-[200px] xs:flex-col sm:flex-col xs:h-max sm:h-max md:h-max flex justify-center items-center p-4 relative border-4 content--right"
      >
        <div class="mr-4">
          <img
            src="/img/bainw.png"
            alt="car transport web site"
            class="w-48"
          />
        </div>

        <div>
          <h4 class="text-3xl w-full font-semibold">
            New website
          </h4>
          <p class="text-sm mt-2">
              Our new website is built for you, faster, smarter, and easier to navigate, with everything you need in one place.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div
    class="w-[100%] xs:w-full sm:w-full xs:px-4 sm:px-4 flex flex-col mb-12 mx-auto"
  >
    <div
      class="w-[86%] xs:w-full sm:w-full mx-auto flex xs:justify-center sm:justify-center"
    >
      <h5
        class="text-center w-[100px] p-2 rounded-full bg-btn-blue text-white border-2"
      >
        Effective
      </h5>
    </div>
    <div
      class="flex xs:flex-col sm:flex-col w-[80%] xs:w-full sm:w-full mx-auto mt-2 justify-between"
    >
      <div class="h-[200px] xs:hidden sm:hidden bg-btn-blue relative w-[4px]">
        <FaDotCircle
          className="text-btn-blue absolute top-[45%] left-[-6px] bg-white "
        />
      </div>

      <div
        class="w-[85%] xs:w-full sm:w-full md:w-[90%] xs:flex-col sm:flex-col h-[200px] xs:h-max sm:h-max md:h-max flex justify-center items-center p-4 relative border-4 content--right"
      >
        <div class="ml-8">
          <h4 class="text-3xl font-semibold">Remote-Ready</h4>
          <p>
            When the pandemic reshaped the way the world works, <strong>Cayad Auto Transport</strong> adapted fast.
              We embraced remote operations to protect our team and keep serving our clients without interruption.
              Today, that shift makes us more agile, efficient, and accessible
          </p>
        </div>

        <img
          src="/img/pandemia.png"
          alt="car shipping 5 star review"
          class="w-48"
        />
      </div>
    </div>
  </div>

</Layout>
