---
import Layout from "../../../layouts/Layout.astro";
import GetQuoete from "../../../components/buttons/GetQuote.astro";
import Testimonials from "../../../components/Testimonials";
import ButtonScrollTop from "../../../components/buttons/ButtonScrollTop";
---
<head>
  <script
    type="text/partytown"
    async
    src="https://www.googletagmanager.com/ns.html?id=GTM-NT3H9XXW"></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "GTM-NT3H9XXW");
  </script>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript
    ><iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-NT3H9XXW"
      height="0"
      width="0"
      style="display:none;visibility:hidden"></iframe></noscript
  >
  <!-- End Google Tag Manager (noscript) -->
<style>
  .custom-background {
    background:
      linear-gradient(hsla(250, 75%, 5%, 0.5), rgba(6, 3, 21, 0.5)),
      url("/img/snowbird4.jpeg") center center no-repeat;
    background-size: cover;
  }
</style>

<Layout title="Snowbirds Auto Transport | Cayad Auto Transport">
  <div
    class="container-fluid flex flex-col items-center justify-center custom-background h-[60vh]"
  >
    <div class="w-[80%]">
      <h1
        class="text-white text-[4rem] xs:text-[1.8rem] sm:text-[1.8rem] font-bold"
      >
        #1 for snowbirds auto transport
      </h1>
      <p class="text-white text-lg font-semibold">
        Cayad Auto Transport is the trusted name for snowbirds car shipping
      </p>
      <GetQuoete />
    </div>
  </div>

  <div class="w-full mt-12 flex justify-center mb-8">
    <Testimonials title="Our Customers Say" client:load />
  </div>

  <div class="flex flex-col xs:flex-col sm:flex-col items-center h-max w-full">
    <div class="w-[80%] xs:w-[100%] sm:w-[100%] px-4">
      <h2
        data-aos="fade-up"
        class="text-[2.5rem] xs:text-xl text-[#19171fd2] font-semibold"
      >
        Why do the snowbirds prefer car shipping instead of driving?
      </h2>

      <div
        class="grid mt-8 grid-cols-2 xs:grid-cols-1 sm:grid-cols-1 w-full gap-6"
      >
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 p-4 xs:p-0 sm:p-0 hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.3s"
        >
          <h5 class="mb-2 py-4 text-xl text-[#19171fd2] font-semibold">
            Ship personal items
          </h5>
          <p class="py-4" style="text-align: justify;">
            Ship one suitcase or box with personal belongings (under 100 lbs.)
            in the trunk at no additional charge. Keep in mind that due to
            safety standards, the assigned trucker has the right to check the
            trunk for unlawful items.
          </p>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.5s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h5 class="mb-2 py-4 text-xl text-[#19171fd2] font-semibold">
              Save money
            </h5>
            <p class="py-4" style="text-align: justify;">
              Avoid the hassles of long-distance travel by skipping straight to
              your destination, and let Cayad Auto Transport safely and securely
              ship your car to your door.
            </p>
          </div>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.7s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h5 class="mb-2 py-4 text-xl text-[#19171fd2] font-semibold">
              No extra travel spending
            </h5>
            <p class="py-4" style="text-align: justify;">
              Heading south in your automobile may sound pleasant but could turn
              sour when hotel, gas and food costs start to pile up. Instead, go
              with the ease of snowbirds car transport services from Cayad Auto
              Transport.
            </p>
          </div>
        </div>
        <div
          data-aos="fade-up"
          class="col-lg-6 col-md-6 hover:shadow-lg hover:shadow-btn-blue duration-300 wow fadeInUp"
          data-wow-delay="0.9s"
        >
          <div class="team-item p-4 xs:p-0 sm:p-0">
            <h5 class="mb-2 text-xl py-4 text-[#19171fd2] font-semibold">
              Avoid the lengthy driving
            </h5>
            <p class="py-4" style="text-align: justify;">
              Avoid the frustrating highway traffic and road work when
              relocating for the cold season. Instead of driving your vehicle,
              ship it with us.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <div class="mt-8">
          <h3 class="text-[1.5rem] font-bold">Top-rated company</h3>
          <p class="text-base mt-8">
            Cayad Auto Transport is one of the fastest growing auto transport
            companies in the industry. Customer satisfaction is always our
            priority in the company.
          </p>
        </div>
        <div class="mt-8">
          <h3 class="text-[1.5rem] font-bold">Returning customer discount​</h3>
          <p class="text-base mt-4">
            Do not miss our discounts for snowbirds car shipping again with us.
            Get in touch with one of our booking representatives on Live Chat or
            by calling (469) 619-0747 to answer all your questions.
          </p>
        </div>
      </div>
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/snowbird.webp" class="rounded-xl" />
      </div>
    </div>
  </div>

  <div class="w-full mt-12 mb-12 flex flex-col items-center">
    <div
      class="w-[80%] xs:w-full sm:w-full xs:flex-col sm:flex-col xs:px-4 sm:px-4 flex justify-between"
    >
      <div class="w-[40%] xs:w-[100%] sm:w-[100%]">
        <img src="/img/snowbird1.webp" class="rounded-xl" />
      </div>
      <div class="w-[50%] xs:w-full sm:w-full xs:mb-8 sm:mb-8">
        <h1 class="text-[#19171fd2] font-bold text-base">
          Preferred by snowbirds shipping to/from Florida
        </h1>
        <p class="text-base mt-4">
          Snowbirds car shipping to/from Florida or any state in the U.S.)
          prefer Cayad Auto Transport. Check out some of the reviews above to
          see why Snowbirds across the country just love us!
        </p>

        <h1 class="text-[#19171fd2] font-bold mt-8 text-base">
          Attention to customer support
        </h1>
        <p class="text-base mt-4">
          Cayad Auto Transport friendly customer support team handles each
          case individually and pays attention to every detail, giving you the
          very best in snowbirds auto transport.
        </p>
      </div>
    </div>
  </div>

  <div
    class="w-full flex mb-8 flex-col items-center xs:min-w-[100%] xs:px-0 sm:min-w-[100%] sm:px-0 mx-auto overflow-hidden px-0"
  >
    <div
      class="w-[80%] xs:min-w-[100%] xs:px-4 sm:min-w-[100%] sm:px-4 py-10 px-0"
    >
      <h1 class="text-4xl text-[#19171fd2] font-medium mb-10">
        Why should you choose Cayad Auto Transport for snowbirds?
      </h1>
      <div
        class="grid grid-cols-2 md:grid-cols-1 sm:grid-cols-1 xs:grid-cols-1 gap-10"
      >
        <div class="wow" data-aos="fade-up" data-aos-delay="100">
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="300">
            <img src="/img/dollar.webp" class="w-24 h-20 mb-2" />
            <div class="ml-4">
              <h5 class="font-semibold">Competitive Prices</h5>
              <p class="xs:text-start sm:text-start mb-0">
                At Cayad Auto Transport, we understand the importance of
                budgeting, especially for snowbirds who often have multiple
                expenses during their seasonal travels. That's why we offer
                competitive prices that are tailored to fit your specific needs.
                Our pricing structure is transparent and designed to provide you
                with value for your money, ensuring that you can enjoy
                stress-free transportation at an affordable cost.
              </p>
            </div>
          </div>
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="300">
            <img src="/img/easy.webp" class="w-24 h-20 mb-2" />
            <div class="ml-4">
              <h5 class="font-semibold">Convenient Auto Transportation</h5>
              <p class="xs:text-start sm:text-start mb-0">
                Moving your vehicle as a snowbird should be a seamless and
                hassle-free process. Cayad Auto Transport provides a range of
                convenient options to accommodate your specific requirements.
                Whether you're looking for door-to-door service or prefer to
                drop off and pick up your vehicle at one of our secure
                locations, we have you covered. Our team of professionals will
                handle all the logistics, ensuring that your vehicle is safely
                transported to your desired destination.
              </p>
            </div>
          </div>
          <div class="flex mb-10 wow" data-aos="fade-up" data-aos-delay="500">
            <img src="/img/call.webp" class="w-24 h-24 mb-2" />
            <div class="ml-4">
              <h5 class="font-semibold">Expert Assistance</h5>
              <p class="xs:text-start sm:text-start mb-0">
                We take pride in our team of experienced and highly trained
                professionals who are dedicated to providing excellent customer
                service. Our staff is well-versed in the unique needs of
                snowbirds and is here to assist you every step of the way. From
                helping you with the paperwork needed to providing guidance on
                the best transportation options for your specific situation, our
                team is committed to ensuring a smooth and stress-free auto
                transport experience.
              </p>
            </div>
          </div>
        </div>
        <div
          class="w-[95%] wow"
          data-aos="fade-right"
          data-aos-delay="100"
          style="min-height: 400px;"
        >
          <div class="h-full">
            <img
              src="/img/snowbird5.jpg"
              class="object-cover rounded-xl w-full h-full"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <ButtonScrollTop client:load />
</Layout>
</body>
